<!-- tp-service-area-start -->
<div class="tp-service-area">
  <div class="container">
    <div class="tp-section-x-spacing tp-bg-common-white pt-30 pb-30">
      <div class="row">
        <div class="col-lg-5">
          <div class="tp-service-8-title-wrap mb-35">
            <span class="fw-500 fs-16 tp-text-grey-1 mb-10 d-inline-block"
              >Certification Process</span
            >
            <h2 class="fs-xl-40 fs-sm-36 lh-1 mb-45 text-anim">
              Your Certification Journey
            </h2>
            <a
              href="service.html"
              class="tp-btn-xl d-inline-block lh-0 tp-round-26 fs-16 border-full-1 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-primary fw-500"
            >
              <!-- <span class="d-flex align-items-center justify-content-center">
                <span class="btn-text"> See all steps</span>
                <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                >
                <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                >
              </span> -->
            </a>
          </div>
        </div>
        <div class="col-lg-6 mb-30">
          <div
            class="tp-about-5-list-wrap tp-bg-common-white-2 tp-round-4 h-100"
          >
            <div class="tp-about-5-list">
              <ul>
                <li>
                  <i class="fa-regular fa-check"></i>
                  Artificial Intelligence (AI) & Machine Learning (ML) solutions
                </li>
                <li>
                  <i class="fa-regular fa-check"></i>
                  Data encryption & privacy compliance (GDPR, HIPAA)
                </li>
                <li>
                  <i class="fa-regular fa-check"></i>
                  Augmented Reality (AR) & Virtual Reality (VR) integration
                </li>
                <li>
                  <i class="fa-regular fa-check"></i>
                  API integration & enterprise system connectivity
                </li>
              </ul>
            </div>
            <div
              class="tp-about-5-logo d-flex justify-content-between align-items-center"
            >
              <div>
                <!-- <img src="assets/img/about/five/signature.png" alt="" /> -->
              </div>
              <div>
                <img src="assets/img/about/five/yes.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tp-service-area-end -->
