<!-- tp-about-area-start -->
<div id="about" class="tp-about-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="tp-about-5-wrap anim-zoomin-wrap tp-bg-common-white tp-round-4 mb-20"
        >
          <div class="row">
            <div class="col-lg-6 mb-30">
              <div class="tp-about-5-thumb anim-zoomin fix tp-round-4">
                <img
                  class="w-100 tp-round-4"
                  src="assets/img/about/five/cta.png"
                  alt=""
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tp-about-5-content ml-50 mb-20">
                <span
                  class="tp-section-5-subtitle p-relative pl-10 fw-500 fs-16 tp-text-grey-1 mb-10 d-inline-block"
                  >Create a Safer, Smarter Workplace</span
                >
                <h2 class="mb-15 fs-36 fs-xs-22 tp-title-anim">
                  Join the movement towards a safer workplace. Get certified
                  with <span class="text-italic fw-400 tp-ff-heading"
                    >Secure Place™</span
                  >&nbsp;today!
                </h2>
                <p class="mb-30">
                  Build trust, meet compliance standards and stand out as a
                  responsible employer.
                </p>Connect with us to begin your safety journey!
              </div>
              <a
                href="/contact"
                class="tp-btn-xl d-inline-block lh-0 tp-round-26 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500"
              >
                <span class="d-flex align-items-center justify-content-center">
                  <span class="btn-text"> Apply for Certification</span>
                  <!-- <span class="btn-icon"
                    ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                  >
                  <span class="btn-icon"
                    ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                  > -->
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- tp-about-area-end -->
