<!-- tp-breadcrumb-area-start -->
<div class="tp-hero-gsap-team-spacing">
  <div class="tp-breadcrumb-area anim-zoomin-wrap p-relative pt-200">
    <div class="tp-gsap-image-position anim-zoomin fix">
      <img class="tp-gsap-image-cover" src="assets/img/hero/4.png" alt="" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-10">
          <div class="tp-breadcrumb-content mr-80">
            <h2
              class="tp-breadcrumb-title fw-600 fs-60 fs-sm-40 ls-m-3 text-anim tp-text-common-white lh-1"
            >
              Industries We Serve
            </h2>
            <div class="tp-breadcrumb-dvdr">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li class="dvdr">/</li>
                <li>Industries We Serve</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tp-breadcrumb-area-end -->
