<!-- tp-industry-area-start -->
<div class="tp-industry-area tp-bg-grey-3 pt-135 pb-110">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="tp-industry-section-title-wrap text-center mb-50">
          <span
            class="tp-section-subtitle fw-500 tp-text-grey-1 d-flex align-items-center justify-content-center gap-2 mb-10"
          >
            <svg
              width="17"
              height="17"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.7 10.2C1.2325 10.2 0.832431 10.0334 0.4998 9.7002C0.1666 9.36759 0 8.9675 0 8.5C0 8.0325 0.1666 7.63215 0.4998 7.29895C0.832431 6.96635 1.2325 6.8 1.7 6.8C2.1675 6.8 2.56757 6.96635 2.9002 7.29895C3.2334 7.63215 3.4 8.0325 3.4 8.5C3.4 8.9675 3.2334 9.36759 2.9002 9.7002C2.56757 10.0334 2.1675 10.2 1.7 10.2ZM3.1025 15.045L1.9125 13.855L5.61 10.1575L6.8 11.3475L3.1025 15.045ZM5.6525 6.8L1.955 3.1025L3.145 1.9125L6.8425 5.61L5.6525 6.8ZM8.5 17C8.0325 17 7.63241 16.8337 7.2998 16.5011C6.9666 16.1679 6.8 15.7675 6.8 15.3C6.8 14.8325 6.9666 14.4321 7.2998 14.099C7.63241 13.7663 8.0325 13.6 8.5 13.6C8.9675 13.6 9.36785 13.7663 9.70105 14.099C10.0337 14.4321 10.2 14.8325 10.2 15.3C10.2 15.7675 10.0337 16.1679 9.70105 16.5011C9.36785 16.8337 8.9675 17 8.5 17ZM8.5 3.4C8.0325 3.4 7.63241 3.2334 7.2998 2.9002C6.9666 2.56757 6.8 2.1675 6.8 1.7C6.8 1.2325 6.9666 0.83215 7.2998 0.49895C7.63241 0.166319 8.0325 0 8.5 0C8.9675 0 9.36785 0.166319 9.70105 0.49895C10.0337 0.83215 10.2 1.2325 10.2 1.7C10.2 2.1675 10.0337 2.56757 9.70105 2.9002C9.36785 3.2334 8.9675 3.4 8.5 3.4ZM11.3475 6.8425L10.1575 5.61L13.8975 1.9125L15.0875 3.1025L11.3475 6.8425ZM13.8975 15.045L10.2 11.3475L11.39 10.1575L15.0875 13.855L13.8975 15.045ZM15.3 10.2C14.8325 10.2 14.4321 10.0334 14.099 9.7002C13.7663 9.36759 13.6 8.9675 13.6 8.5C13.6 8.0325 13.7663 7.63215 14.099 7.29895C14.4321 6.96635 14.8325 6.8 15.3 6.8C15.7675 6.8 16.1679 6.96635 16.5011 7.29895C16.8337 7.63215 17 8.0325 17 8.5C17 8.9675 16.8337 9.36759 16.5011 9.7002C16.1679 10.0334 15.7675 10.2 15.3 10.2Z"
                fill="#1F3130"></path>
            </svg>
            Our industries
          </span>
          <h2 class="mb-25 text-anim">
            Industry we <span
              class="tp-text-grey-1 text-italic fw-400 tp-ff-heading"
              >always help</span
            >
          </h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-9">
        <div class="row justify-content-center">
          <div class="col-xl-4 col-lg-6 col-md-6">
            <a
              href="#"
              class="tp-industry-content d-flex align-items-center tp-round-4 mb-30 wow fadeInLeft"
              data-wow-delay=".3s"
              data-wow-duration=".9s"
            >
              <span
                class="tp-industry-icon d-inline-block tp-text-theme-primary"
              >
                <svg
                  width="44"
                  height="44"
                  viewBox="0 0 44 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21.998 5.99805C19.791 5.99805 17.996 7.79298 17.996 10C17.996 12.2071 19.791 14.0019 21.998 14.0019C24.2051 14.0019 25.9999 12.207 25.9999 10C25.9999 7.79308 24.205 5.99805 21.998 5.99805ZM21.998 12.002C20.8945 12.002 19.9961 11.1036 19.9961 10C19.9961 8.89651 20.8945 7.99811 21.998 7.99811C23.1016 7.99811 24 8.89651 24 10C24 11.1036 23.1016 12.002 21.998 12.002Z"
                    fill="currentColor"></path>
                  <path
                    d="M43 18C43.5527 18 44 17.5554 44 17.0027V13.0032C44 12.6507 43.8145 12.3236 43.5107 12.1439L23.9492 0.526948C23.9403 0.521042 23.9315 0.516167 23.9228 0.511292C22.707 -0.162489 21.3359 -0.182926 20.0497 0.524979L0.489281 12.1439C0.185531 12.3235 0 12.6507 0 13.0032V17.0027C0 17.5554 0.447281 18 1.00003 18H4.00003V36.0008C1.7939 36.0008 0 37.7945 0 40.0003V43.0001C0 43.5527 0.447281 44 1.00003 44H43C43.5527 44 44 43.5528 44 43.0001V40.0003C44 37.7945 42.2061 36.0008 40 36.0008V18H43ZM42 40V41.9999H1.99997V40C1.99997 38.8975 2.89743 38 3.99993 38H4.99996H39H40C41.1025 37.9999 42 38.8974 42 40ZM5.99999 35.9999V18H10V35.9999H5.99999ZM12 35.9999V18H18V35.9999H12ZM19.9999 35.9999V18H24V35.9999H19.9999ZM25.9999 35.9999V18H31.9999V35.9999H25.9999ZM34 35.9999V18H38V35.9999H34ZM1.99997 16V13.5693L21.042 2.25682C21.665 1.91407 22.3271 1.91501 22.9424 2.24998L42 13.5693V16H1.99997Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              <div class="border-right"></div>
              <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                Education<br /> Industries
              </h5>
            </a>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <a
              href="#"
              class="tp-industry-content d-flex align-items-center tp-round-4 mb-30 wow fadeInLeft"
              data-wow-delay=".5s"
              data-wow-duration=".9s"
            >
              <span
                class="tp-industry-icon d-inline-block tp-text-theme-primary"
              >
                <svg
                  width="44"
                  height="44"
                  viewBox="0 0 44 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M43.6412 26.8709L43.6309 26.8533C43.1614 26.1384 42.4446 25.6219 41.618 25.4026C40.7913 25.1832 39.9128 25.2765 39.1506 25.6646L34.4518 28.0676C33.889 27.2775 33.061 26.716 32.1188 26.4854C31.1766 26.2548 30.1829 26.3706 29.3189 26.8115L23.4014 29.8443C23.0927 30.0033 22.7502 30.0852 22.403 30.083C22.0558 30.0809 21.7143 29.9947 21.4076 29.8318L17.3746 27.6907C15.8484 26.8759 14.1262 26.5 12.3992 26.6045C10.6723 26.7091 9.00808 27.2901 7.5913 28.2831L7.13594 26.1112C7.11608 26.0167 7.07773 25.927 7.02311 25.8473C6.96849 25.7677 6.89867 25.6996 6.81765 25.647C6.73664 25.5944 6.64603 25.5583 6.55103 25.5408C6.45603 25.5233 6.35851 25.5248 6.26408 25.5451L0.577552 26.7719C0.388259 26.8127 0.222804 26.9268 0.117298 27.0891C0.0117914 27.2515 -0.0251995 27.449 0.0143985 27.6386L3.32512 43.4135C3.35888 43.5789 3.44866 43.7275 3.57931 43.8344C3.70996 43.9413 3.87347 43.9998 4.04226 44.0001C4.094 43.9999 4.14558 43.9944 4.19625 43.984L9.88571 42.7594C10.0752 42.7186 10.2407 42.6044 10.3463 42.4419C10.4518 42.2793 10.4887 42.0816 10.4489 41.8919L10.1556 40.4804L12.0995 40.0617C12.666 39.9406 13.2492 39.9182 13.8234 39.9957L22.9658 40.9981C24.864 41.2491 26.7884 40.7974 28.3766 39.7281L43.0223 29.9022C43.5012 29.5781 43.8341 29.0793 43.9497 28.5127C44.0654 27.9461 43.9546 27.3568 43.6412 26.8709ZM4.60835 42.3913L1.60193 28.0522L5.85491 27.1356L8.86133 41.4754L4.60835 42.3913ZM42.2061 28.6864L27.5605 38.5123C26.2619 39.3834 24.6892 39.7486 23.1396 39.5389L13.9972 38.5365C13.2614 38.4373 12.5141 38.4671 11.7885 38.6245L9.85124 39.041L7.91834 29.8443L8.41916 29.4952C9.61506 28.6537 11.021 28.1606 12.4806 28.0707C13.9401 27.9809 15.396 28.2979 16.6861 28.9864L20.7191 31.1275C21.2345 31.4014 21.8085 31.5466 22.3922 31.5505C22.9758 31.5545 23.5518 31.4172 24.0709 31.1502L29.9898 28.1138C30.5815 27.8114 31.2667 27.7476 31.904 27.9356C32.5413 28.1236 33.0821 28.5491 33.4149 29.1242C33.5126 29.2926 33.5402 29.4926 33.4916 29.6811C33.443 29.8697 33.3223 30.0315 33.1554 30.1317L24.9955 34.9713C23.5689 35.8222 21.8695 36.0913 20.2498 35.7229L12.8907 33.9631L12.5504 35.39L19.9161 37.1499C21.9042 37.6054 23.9914 37.2769 25.7435 36.2325L33.9033 31.393C34.2376 31.1923 34.5125 30.9065 34.7 30.5646C34.8875 30.2228 34.9807 29.8373 34.9702 29.4476L39.8157 26.9684C40.2545 26.7456 40.7598 26.6919 41.2356 26.8175C41.7114 26.9431 42.1244 27.2392 42.3961 27.6496L42.4041 27.6621C42.5098 27.8253 42.5482 28.0232 42.5113 28.2141C42.4744 28.405 42.365 28.5743 42.2061 28.6864Z"
                    fill="currentColor"></path>
                  <path
                    d="M4.74553 28.877L3.3103 29.1785L3.61146 30.6123L5.04668 30.3108L4.74553 28.877Z"
                    fill="currentColor"></path>
                  <path
                    d="M21.5653 27.7236C21.6907 27.815 21.8419 27.8643 21.9972 27.8643C22.1524 27.8643 22.3036 27.815 22.4291 27.7236C29.7867 22.3567 34.3161 17.2392 35.9616 12.4656H39.7306C39.9036 12.9549 40.244 13.3672 40.6916 13.6298C41.1392 13.8924 41.6652 13.9882 42.1766 13.9005C42.6881 13.8127 43.152 13.547 43.4865 13.1503C43.821 12.7535 44.0044 12.2513 44.0044 11.7324C44.0044 11.2134 43.821 10.7112 43.4865 10.3145C43.152 9.91771 42.6881 9.65198 42.1766 9.56422C41.6652 9.47647 41.1392 9.57235 40.6916 9.83492C40.244 10.0975 39.9036 10.5098 39.7306 10.9991H36.3693C36.4942 10.4586 36.5812 9.90995 36.6296 9.35729C36.7591 8.24374 36.6626 7.11551 36.3459 6.04014C36.0291 4.96476 35.4986 3.96436 34.7862 3.09881C34.0631 2.13541 33.1254 1.35377 32.0476 0.815875C30.9697 0.277981 29.7814 -0.0013617 28.5768 4.99086e-06C26.1557 0.0946722 23.8374 1.00359 21.9972 2.57966C20.1569 1.00359 17.8386 0.0946722 15.4175 4.99086e-06C14.2127 -0.00130456 13.0242 0.278054 11.9462 0.815934C10.8681 1.35381 9.93017 2.13543 9.2067 3.09881C8.49459 3.96454 7.96437 4.96499 7.64776 6.04032C7.33114 7.11566 7.23463 8.2438 7.36399 9.35729C7.80615 14.9925 12.5842 21.1725 21.5653 27.7236ZM41.7955 10.9991C41.9405 10.9991 42.0823 11.0421 42.2029 11.1227C42.3235 11.2032 42.4175 11.3178 42.473 11.4517C42.5285 11.5857 42.543 11.7332 42.5147 11.8754C42.4864 12.0177 42.4166 12.1483 42.314 12.2509C42.2115 12.3534 42.0808 12.4233 41.9386 12.4515C41.7963 12.4798 41.6489 12.4653 41.5149 12.4098C41.3809 12.3543 41.2664 12.2603 41.1858 12.1397C41.1053 12.0192 41.0622 11.8774 41.0622 11.7324C41.0622 11.5379 41.1395 11.3514 41.277 11.2139C41.4145 11.0763 41.601 10.9991 41.7955 10.9991ZM10.2971 4.0792C10.3314 4.04527 10.3621 4.00793 10.3887 3.96774C10.9767 3.19063 11.7368 2.56036 12.6093 2.12639C13.4818 1.69242 14.443 1.46657 15.4175 1.46655C18.8155 1.46655 21.4523 4.05427 21.4787 4.07993C21.5468 4.14811 21.6277 4.20219 21.7167 4.2391C21.8058 4.276 21.9012 4.29499 21.9975 4.29499C22.0939 4.29499 22.1893 4.276 22.2783 4.2391C22.3674 4.20219 22.4482 4.14811 22.5163 4.07993C22.5427 4.0528 25.1605 1.46655 28.5768 1.46655C29.5519 1.46287 30.5144 1.6871 31.3875 2.12136C32.2606 2.55562 33.0202 3.18789 33.6056 3.96774C33.6323 4.00793 33.663 4.04527 33.6973 4.0792C34.2786 4.79513 34.7087 5.62155 34.9615 6.50847C35.2144 7.39539 35.2847 8.32437 35.1682 9.23923C35.1194 9.83349 35.0188 10.4223 34.8676 10.9991H29.0219L26.3 6.23282C26.2318 6.11242 26.1309 6.01377 26.009 5.94828C25.8872 5.88278 25.7492 5.85311 25.6112 5.8627C25.4731 5.87229 25.3406 5.92074 25.229 6.00245C25.1173 6.08416 25.031 6.19581 24.9801 6.32448L21.3541 15.3987L19.0311 7.85042C18.9894 7.71502 18.9095 7.59459 18.8008 7.50367C18.6922 7.41276 18.5596 7.35525 18.4189 7.33811C18.2783 7.32097 18.1358 7.34493 18.0085 7.40708C17.8812 7.46924 17.7746 7.56694 17.7017 7.68836L15.7152 10.9991H10.9981V12.4656H16.131C16.2575 12.4656 16.3819 12.4328 16.492 12.3705C16.6021 12.3082 16.6942 12.2185 16.7594 12.11L18.1108 9.85372L20.5607 17.8141C20.6059 17.9584 20.6947 18.0852 20.8148 18.1771C20.9349 18.269 21.0805 18.3215 21.2316 18.3274H21.2639C21.4105 18.3275 21.5538 18.2835 21.6753 18.2013C21.7967 18.1191 21.8907 18.0024 21.9451 17.8662L25.7801 8.27718L27.9601 12.0902C28.0235 12.2035 28.1158 12.298 28.2276 12.364C28.3395 12.4299 28.4668 12.465 28.5966 12.4656H34.3895C33.0322 15.9208 29.6562 20.5551 21.9972 26.2211C11.6646 18.5775 9.12751 12.8088 8.83053 9.2979C8.70524 8.37398 8.77074 7.43418 9.02298 6.53657C9.27522 5.63896 9.70886 4.80261 10.2971 4.0792Z"
                    fill="currentColor"></path>
                  <path
                    d="M5.8652 10.999H-0.000976562V12.4656H5.8652V10.999Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              <div class="border-right"></div>
              <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                offices &<br />Tech Companies
              </h5>
            </a>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
            <a
              href="#"
              class="tp-industry-content d-flex align-items-center tp-round-4 mb-30 wow fadeInLeft"
              data-wow-delay=".9s"
              data-wow-duration=".9s"
            >
              <span
                class="tp-industry-icon d-inline-block tp-text-theme-primary"
              >
                <svg
                  width="44"
                  height="44"
                  viewBox="0 0 44 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M43.6388 22.6783L37.4054 19.0667L43.6388 15.4557C43.8655 15.3248 44.0052 15.0831 44.0054 14.8214C44.0052 14.5597 43.8655 14.318 43.6388 14.1871L29.7054 6.1204C29.4786 5.98941 29.199 5.98941 28.9721 6.1204L27.5054 6.96887C27.1466 7.1566 27.0079 7.59972 27.1956 7.95859C27.3833 8.31747 27.8264 8.45616 28.1853 8.26842C28.2036 8.25889 28.2214 8.24853 28.2389 8.23753L29.3389 7.60173L41.8055 14.8214L35.9389 18.2197L27.0831 13.0922L27.7431 12.1535C27.9752 11.8216 27.8943 11.3644 27.5624 11.1324C27.4382 11.0456 27.2903 10.9994 27.1389 11H24.9389C24.932 4.92773 20.0111 0.006875 13.9389 0H6.60552C6.20054 0 5.87219 0.32835 5.87219 0.733333C5.87219 1.13832 6.20054 1.46667 6.60552 1.46667H13.9389C19.2014 1.47272 23.4661 5.73742 23.4722 11V11.7333C23.4722 12.1383 23.8005 12.4667 24.2055 12.4667H25.7309L22.0055 17.7877L18.2801 12.4667H19.8054C20.2104 12.4667 20.5388 12.1383 20.5388 11.7333V10.2667C20.5364 7.83759 18.5678 5.86905 16.1388 5.86667H12.4721C12.0671 5.86667 11.7388 6.19502 11.7388 6.6C11.7388 7.00498 12.0671 7.33333 12.4721 7.33333H16.1388C17.7588 7.33333 19.0721 8.64664 19.0721 10.2667V11H16.8721C16.4671 11.0002 16.1389 11.3287 16.1391 11.7337C16.1392 11.8839 16.1854 12.0304 16.2715 12.1535L16.9278 13.0922L8.0721 18.2197L2.20543 14.8214L11.5092 9.43433C11.8681 9.2466 12.0068 8.80348 11.8191 8.44461C11.6313 8.08573 11.1882 7.94695 10.8293 8.13468C10.8111 8.14422 10.7932 8.15458 10.7758 8.16558L0.372097 14.1871C0.0217472 14.3903 -0.0975111 14.839 0.105714 15.1894C0.169789 15.2998 0.261639 15.3917 0.372097 15.4557L6.60543 19.0667L0.372097 22.6776C0.0217472 22.8808 -0.0975111 23.3295 0.105714 23.6799C0.169789 23.7903 0.261639 23.8822 0.372097 23.9463L7.33876 27.9796V35.2C7.33904 35.4617 7.47874 35.7034 7.70543 35.8343L21.6388 43.901C21.6556 43.9113 21.6754 43.9149 21.693 43.9237C21.7106 43.9325 21.7334 43.9413 21.7546 43.9494C21.9155 44.0169 22.0968 44.0169 22.2577 43.9494C22.279 43.9413 22.2988 43.9333 22.3193 43.9237C22.3398 43.9142 22.3567 43.9113 22.3736 43.901L36.3069 35.8343C36.533 35.7031 36.6721 35.4614 36.6721 35.2V27.9803L43.6388 23.947C43.9891 23.7438 44.1084 23.2951 43.9051 22.9447C43.841 22.8343 43.7492 22.7424 43.6388 22.6783ZM2.20543 23.3119L8.0721 19.9137L20.5388 27.1333L14.6721 30.5316L2.20543 23.3119ZM21.2721 41.9951L8.80543 34.7776V28.8295L14.3054 32.0129C14.5323 32.1439 14.8119 32.1439 15.0388 32.0129L21.2721 28.4049V41.9951ZM22.0054 26.2863L9.53876 19.0667L17.7756 14.3L21.4048 19.4869C21.6372 19.8186 22.0945 19.8991 22.4262 19.6667C22.4961 19.6177 22.557 19.5568 22.606 19.4869L26.239 14.3L34.4758 19.0667L22.0054 26.2863ZM35.2054 34.7776L22.7388 41.9951V28.4049L28.9721 32.0129C29.199 32.1439 29.4786 32.1439 29.7054 32.0129L35.2054 28.8295V34.7776ZM29.3388 30.5316L23.4721 27.1333L35.9388 19.9137L41.8054 23.3119L29.3388 30.5316Z"
                    fill="currentColor"></path>
                  <path
                    d="M9.53875 5.8667H8.07208C7.6671 5.8667 7.33875 6.19505 7.33875 6.60003C7.33875 7.00502 7.6671 7.33337 8.07208 7.33337H9.53875C9.94373 7.33337 10.2721 7.00502 10.2721 6.60003C10.2721 6.19505 9.94373 5.8667 9.53875 5.8667Z"
                    fill="currentColor"></path>
                  <path
                    d="M3.67211 0H2.20544C1.80046 0 1.47211 0.32835 1.47211 0.733333C1.47211 1.13832 1.80046 1.46667 2.20544 1.46667H3.67211C4.07709 1.46667 4.40544 1.13832 4.40544 0.733333C4.40544 0.32835 4.07709 0 3.67211 0Z"
                    fill="currentColor"></path>
                  <path
                    d="M11.0055 2.93311H5.13879C4.73381 2.93311 4.40546 3.26146 4.40546 3.66644C4.40546 4.07142 4.73381 4.39977 5.13879 4.39977H11.0055C11.4104 4.39977 11.7388 4.07142 11.7388 3.66644C11.7388 3.26146 11.4104 2.93311 11.0055 2.93311Z"
                    fill="currentColor"></path>
                  <path
                    d="M33.0054 31.5332C32.6004 31.5332 32.2721 31.8616 32.2721 32.2665V33.7332C32.2721 34.1382 32.6004 34.4665 33.0054 34.4665C33.4104 34.4665 33.7388 34.1382 33.7388 33.7332V32.2665C33.7388 31.8616 33.4104 31.5332 33.0054 31.5332Z"
                    fill="currentColor"></path>
                  <path
                    d="M30.0721 33C29.6671 33 29.3387 33.3283 29.3387 33.7333V35.2C29.3387 35.605 29.6671 35.9333 30.0721 35.9333C30.4771 35.9333 30.8054 35.605 30.8054 35.2V33.7333C30.8054 33.3283 30.4771 33 30.0721 33Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              <div class="border-right"></div>
              <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                Manufacturing <br /> & Warehouses
              </h5>
            </a>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <a
              href="#"
              class="tp-industry-content d-flex align-items-center tp-round-4 mb-30 wow fadeInLeft"
              data-wow-delay=".7s"
              data-wow-duration=".9s"
            >
              <span
                class="tp-industry-icon d-inline-block tp-text-theme-primary"
              >
                <svg
                  width="44"
                  height="44"
                  viewBox="0 0 44 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M40.2812 18.2812C38.5265 18.2812 37.0528 19.5032 36.6638 21.1406H34.0995C33.9096 18.4413 32.8332 15.9828 31.1596 14.0558L32.9771 12.2383C33.5444 12.589 34.2123 12.7921 34.9269 12.7921C36.9774 12.7921 38.6456 11.1238 38.6456 9.07328C38.6456 7.02281 36.9774 5.35451 34.9269 5.35451C32.8763 5.35451 31.2081 7.02281 31.2081 9.07328C31.2081 9.78785 31.4111 10.4556 31.7619 11.0229L29.9444 12.8404C28.0173 11.1669 25.5588 10.0904 22.8595 9.9006V7.33631C24.497 6.94727 25.7189 5.47353 25.7189 3.71877C25.7188 1.66822 24.0506 0 22 0C19.9494 0 18.2812 1.66822 18.2812 3.71877C18.2812 5.47353 19.5032 6.94727 21.1406 7.33631V9.9006C18.4413 10.0904 15.9828 11.1668 14.0558 12.8404L12.2383 11.0229C12.589 10.4557 12.7921 9.78785 12.7921 9.07328C12.7921 7.02273 11.1238 5.35451 9.07328 5.35451C7.02281 5.35451 5.35459 7.02281 5.35459 9.07328C5.35459 11.1238 7.02281 12.7921 9.07328 12.7921C9.78785 12.7921 10.4557 12.589 11.023 12.2383L12.8405 14.0558C11.1669 15.9828 10.0905 18.4413 9.90069 21.1406H7.33631C6.94736 19.5032 5.47362 18.2812 3.71886 18.2812C1.66822 18.2812 0 19.9494 0 22C0 24.0506 1.66822 25.7189 3.71877 25.7189C5.47353 25.7189 6.94727 24.4969 7.33623 22.8595H9.90052C10.0904 25.5588 11.1668 28.0173 12.8404 29.9443L11.0229 31.7618C10.4556 31.4111 9.78777 31.208 9.0732 31.208C7.02273 31.208 5.35451 32.8762 5.35451 34.9268C5.35451 36.9774 7.02273 38.6456 9.0732 38.6456C11.1238 38.6456 12.792 36.9774 12.792 34.9268C12.792 34.2122 12.5889 33.5444 12.2382 32.9771L14.0557 31.1596C15.9827 32.8332 18.4412 33.9096 21.1405 34.0995V36.6638C19.5031 37.0527 18.2811 38.5265 18.2811 40.2812C18.2812 42.3318 19.9494 44 22 44C24.0506 44 25.7188 42.3318 25.7188 40.2812C25.7188 38.5265 24.4968 37.0527 22.8594 36.6638V34.0995C25.5587 33.9096 28.0172 32.8332 29.9442 31.1596L31.7617 32.9771C31.411 33.5444 31.2079 34.2122 31.2079 34.9268C31.2079 36.9774 32.8762 38.6456 34.9267 38.6456C36.9772 38.6456 38.6454 36.9774 38.6454 34.9268C38.6454 32.8762 36.9772 31.208 34.9267 31.208C34.2122 31.208 33.5443 31.4111 32.9771 31.7618L31.1596 29.9443C32.8332 28.0173 33.9096 25.5588 34.0994 22.8595H36.6637C37.0526 24.4969 38.5264 25.7189 40.2811 25.7189C42.3318 25.7188 44 24.0506 44 22C44 19.9494 42.3318 18.2812 40.2812 18.2812ZM3.71877 24C2.61594 24 1.71875 23.1028 1.71875 22C1.71875 20.8972 2.61594 20 3.71877 20C4.82161 20 5.71888 20.8972 5.71888 22C5.71888 23.1028 4.82161 24 3.71877 24ZM34.9268 7.07317C36.0296 7.07317 36.9267 7.97036 36.9267 9.0732C36.9267 10.176 36.0296 11.0732 34.9268 11.0732C33.824 11.0732 32.9268 10.176 32.9268 9.0732C32.9268 7.97036 33.824 7.07317 34.9268 7.07317ZM20 3.71877C20 2.61594 20.8972 1.71875 22 1.71875C23.1028 1.71875 24 2.61594 24 3.71877C24 4.82161 23.1028 5.71888 22 5.71888C20.8972 5.71888 20 4.82161 20 3.71877ZM9.0732 11.0733C7.97045 11.0733 7.07326 10.1761 7.07326 9.07328C7.07326 7.97045 7.97045 7.07326 9.0732 7.07326C10.176 7.07326 11.0732 7.97045 11.0732 9.07328C11.0732 10.1761 10.176 11.0733 9.0732 11.0733ZM9.0732 36.9268C7.97045 36.9268 7.07326 36.0296 7.07326 34.9268C7.07326 33.824 7.97045 32.9268 9.0732 32.9268C10.176 32.9268 11.0732 33.824 11.0732 34.9268C11.0732 36.0296 10.176 36.9268 9.0732 36.9268ZM24 40.2812C24 41.3841 23.1028 42.2812 22 42.2812C20.8972 42.2812 20 41.3841 20 40.2812C20 39.1784 20.8972 38.2812 22 38.2812C23.1028 38.2812 24 39.1784 24 40.2812ZM34.9268 32.9267C36.0296 32.9267 36.9267 33.8239 36.9267 34.9267C36.9267 36.0296 36.0296 36.9267 34.9268 36.9267C33.824 36.9267 32.9268 36.0296 32.9268 34.9267C32.9268 33.8239 33.824 32.9267 34.9268 32.9267ZM22 32.4115C16.259 32.4115 11.5885 27.7409 11.5885 21.9999C11.5885 16.259 16.2591 11.5884 22 11.5884C27.7409 11.5884 32.4115 16.259 32.4115 22C32.4115 27.741 27.741 32.4115 22 32.4115ZM40.2812 24C39.1784 24 38.2812 23.1028 38.2812 22C38.2812 20.8972 39.1784 20 40.2812 20C41.3841 20 42.2812 20.8972 42.2812 22C42.2812 23.1028 41.3841 24 40.2812 24ZM22.0002 20.3687C23.7192 20.3687 25.1176 18.9702 25.1176 17.2512C25.1176 15.5323 23.7192 14.1341 22.0002 14.1341C20.2812 14.1341 18.8827 15.5323 18.8827 17.2512C18.8827 18.9702 20.2812 20.3687 22.0002 20.3687ZM22.0002 15.8527C22.7715 15.8527 23.3989 16.4801 23.3989 17.2511C23.3989 18.0224 22.7714 18.6499 22.0002 18.6499C21.229 18.6499 20.6015 18.0224 20.6015 17.2511C20.6015 16.4801 21.2289 15.8527 22.0002 15.8527ZM22.0002 20.8942C18.8322 20.8942 16.2548 23.4713 16.2548 26.6392C16.2548 28.7671 19.3498 29.5222 22.0001 29.5222C24.6504 29.5222 27.7454 28.7671 27.7454 26.6392C27.7453 23.4713 25.168 20.8942 22.0002 20.8942ZM22 27.8034C19.3564 27.8034 17.9735 27.0456 17.9735 26.6392C17.9735 24.4191 19.7799 22.6129 22.0001 22.6129C24.2202 22.6129 26.0264 24.4191 26.0264 26.6392C26.0265 27.0456 24.6436 27.8034 22 27.8034Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              <div class="border-right"></div>
              <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                Ideal for IT Parks,<br /> Startups and MNCs
              </h5>
            </a>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6">
            <a
              href="#"
              class="tp-industry-content d-flex align-items-center tp-round-4 mb-30 wow fadeInLeft"
              data-wow-delay=".8s"
              data-wow-duration=".9s"
            >
              <span
                class="tp-industry-icon d-inline-block tp-text-theme-primary"
              >
                <svg
                  width="44"
                  height="44"
                  viewBox="0 0 44 44"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.82294 18.1524C0.923578 18.2983 0.227861 19.0193 0.114273 19.9234C-0.036743 21.2927 -0.0382633 22.6744 0.109857 24.044C0.213093 24.962 0.913081 25.7 1.82439 25.8516L4.15783 26.2337C4.60581 28.1418 5.36205 29.9641 6.39665 31.6288L5.02317 33.5472C4.47586 34.2892 4.48911 35.3048 5.05546 36.0324C5.49258 36.5672 5.95772 37.0786 6.44877 37.5644C6.89907 38.0154 7.39693 38.4686 7.99463 38.9709C8.71648 39.526 9.71814 39.5376 10.4527 38.9995L12.3806 37.6164C14.0436 38.6509 15.8641 39.4073 17.7706 39.856L18.1534 42.1931C18.2989 43.0927 19.0201 43.7888 19.9244 43.9025C20.3424 43.9494 20.767 43.9824 21.1945 44H21.2568C21.639 43.9997 22.0066 43.8527 22.2835 43.5893C22.5714 43.3142 22.7338 42.933 22.733 42.5348V36.6579C22.7286 35.8726 22.1088 35.2289 21.3242 35.1949C14.3053 34.8285 8.80212 29.0305 8.80212 22.002C8.80212 14.9735 14.3053 9.17556 21.3242 8.80909C22.11 8.77463 22.7302 8.12901 22.733 7.34244V1.46852C22.7341 1.06984 22.5713 0.688314 22.2827 0.413285C21.9945 0.130582 21.6012 -0.0186246 21.1981 0.00186322C20.7713 0.0187313 20.3481 0.0494992 19.914 0.0935154C19.0102 0.209999 18.2925 0.91035 18.154 1.81094L17.7719 4.14583C15.8655 4.59483 14.045 5.3515 12.382 6.38617L10.4541 5.00603C9.71271 4.46386 8.70135 4.48001 7.97769 5.04563C7.44602 5.48087 6.93715 5.94319 6.45312 6.43091C5.95424 6.91857 5.48462 7.43525 5.04663 7.97821C4.48708 8.70101 4.47275 9.70665 5.01144 10.4451L6.39375 12.3753C5.36002 14.0398 4.6048 15.8619 4.15783 17.7697L1.82294 18.1524ZM5.48447 18.5616C5.91081 16.4904 6.72873 14.5196 7.89422 12.7551C8.06123 12.5014 8.0545 12.171 7.87735 11.9243L6.20466 9.58864C6.05002 9.38456 6.04553 9.10381 6.19365 8.89488C6.59559 8.39673 7.02685 7.9229 7.48504 7.47586C7.93012 7.02629 8.39758 6.59938 8.88567 6.19693C9.09576 6.03679 9.38693 6.03679 9.59702 6.19693L11.929 7.87042C12.176 8.04713 12.5064 8.05322 12.7599 7.88584C14.5229 6.71991 16.4925 5.9017 18.5627 5.47537C18.8603 5.41405 19.0893 5.17544 19.1384 4.8755L19.5996 2.05144C19.6328 1.79813 19.8273 1.59615 20.0793 1.55351C20.4671 1.51318 20.8603 1.48459 21.2665 1.46844L21.2504 7.34309C13.4431 7.74184 7.31867 14.1906 7.32302 22.0081C7.32729 29.8256 13.4588 36.2676 21.2665 36.6578L21.2563 42.5346C20.8624 42.5185 20.4724 42.4877 20.0874 42.4444C19.8343 42.4075 19.6359 42.2079 19.6004 41.9545L19.1384 39.129C19.0893 38.8291 18.8604 38.5906 18.5627 38.5292C16.4925 38.1025 14.5229 37.2841 12.7599 36.118C12.5063 35.9507 12.176 35.9572 11.929 36.1341L9.59485 37.8091C9.39576 37.9638 9.11921 37.9713 8.91209 37.8274C8.37311 37.3735 7.90594 36.9474 7.48504 36.5272C7.03539 36.0829 6.60877 35.6159 6.20683 35.128C6.04865 34.9167 6.04865 34.6265 6.20683 34.4152L7.87807 32.0817C8.05501 31.8349 8.06145 31.5045 7.89422 31.2509C6.72865 29.4867 5.91073 27.5161 5.48447 25.4451C5.42322 25.1477 5.18497 24.9188 4.88533 24.8694L2.06199 24.4067C1.7992 24.3633 1.59743 24.1501 1.56847 23.8853C1.43114 22.624 1.43259 21.3513 1.57289 20.0904C1.60938 19.837 1.80861 19.6381 2.06199 19.602L4.88453 19.1399C5.18533 19.0907 5.42417 18.8604 5.48447 18.5616Z"
                    fill="currentColor"></path>
                  <path
                    d="M41.7996 19.8012C40.8707 19.8051 40.0443 20.392 39.7346 21.2679H22.7331V19.0679H34.4664C35.6814 19.0679 36.6663 18.0829 36.6663 16.8679V13.0664C37.6765 12.7093 38.2825 11.6763 38.1013 10.6202C37.92 9.5642 37.0044 8.79225 35.9329 8.79225C34.8615 8.79225 33.9458 9.5642 33.7646 10.6202C33.5834 11.6763 34.1894 12.7093 35.1996 13.0664V16.8679C35.1996 17.2729 34.8713 17.6013 34.4662 17.6013H22.7331V15.4013H30.7997C31.2047 15.4013 31.533 15.073 31.533 14.6679C31.533 14.2629 31.2047 13.9345 30.7997 13.9345H22.7331V12.4679H27.1331C28.3481 12.4679 29.3331 11.483 29.3331 10.2679V5.73312C30.3433 5.37599 30.9493 4.34299 30.7681 3.28696C30.5869 2.23093 29.6712 1.45898 28.5998 1.45898C27.5283 1.45898 26.6127 2.23093 26.4314 3.28696C26.2502 4.34299 26.8562 5.37599 27.8664 5.73312V10.268C27.8664 10.673 27.5381 11.0014 27.133 11.0014H22.5395C22.2872 10.5325 21.7837 10.2548 21.2525 10.2916C15.0728 10.683 10.261 15.8092 10.261 22.0013C10.261 28.1934 15.0728 33.3196 21.2525 33.7111H21.3383C21.8393 33.7153 22.3015 33.4421 22.5395 33.0012H27.133C27.538 33.0012 27.8664 33.3296 27.8664 33.7346V38.2695C26.8562 38.6266 26.2502 39.6596 26.4314 40.7157C26.6127 41.7717 27.5283 42.5436 28.5998 42.5436C29.6712 42.5436 30.5869 41.7717 30.7681 40.7157C30.9493 39.6596 30.3433 38.6266 29.3331 38.2695V33.7346C29.3331 32.5196 28.3482 31.5346 27.1331 31.5346H22.7331V30.0679H30.7997C31.2047 30.0679 31.533 29.7396 31.533 29.3347C31.533 28.9297 31.2047 28.6013 30.7997 28.6013H22.7331V26.4013H34.4664C34.8713 26.4013 35.1997 26.7297 35.1997 27.1346V30.9362C34.1895 31.2933 33.5836 32.3263 33.7648 33.3823C33.946 34.4384 34.8616 35.2103 35.9331 35.2103C37.0045 35.2103 37.9202 34.4384 38.1014 33.3823C38.2826 32.3263 37.6767 31.2933 36.6665 30.9362V27.1346C36.6665 25.9196 35.6815 24.9347 34.4665 24.9347H22.7331V22.7345H39.7346C40.1093 23.7866 41.2138 24.3898 42.3015 24.1366C43.3892 23.8834 44.1137 22.8543 43.9853 21.7449C43.8568 20.6357 42.9163 19.7993 41.7996 19.8012ZM35.933 10.268C36.338 10.268 36.6663 10.5963 36.6663 11.0014C36.6663 11.4064 36.338 11.7347 35.933 11.7347C35.528 11.7347 35.1997 11.4064 35.1997 11.0014C35.1997 10.5963 35.528 10.268 35.933 10.268ZM28.5998 2.93476C29.0047 2.93476 29.3331 3.26307 29.3331 3.66812C29.3331 4.07317 29.0048 4.40141 28.5998 4.40141C28.1947 4.40141 27.8665 4.0731 27.8665 3.66812C27.8665 3.26314 28.1947 2.93476 28.5998 2.93476ZM28.5998 41.0677C28.1948 41.0677 27.8665 40.7394 27.8665 40.3344C27.8665 39.9293 28.1948 39.601 28.5998 39.601C29.0047 39.601 29.3331 39.9293 29.3331 40.3344C29.3331 40.7394 29.0047 41.0677 28.5998 41.0677ZM35.933 33.7345C35.528 33.7345 35.1997 33.4062 35.1997 33.0011C35.1997 32.5961 35.528 32.2678 35.933 32.2678C36.338 32.2678 36.6663 32.5961 36.6663 33.0011C36.6663 33.4061 36.338 33.7345 35.933 33.7345ZM11.7332 22.0012C11.7394 16.6182 15.8976 12.1517 21.2665 11.7611V32.2415C15.8976 31.8508 11.7394 27.3843 11.7332 22.0012ZM41.7996 22.7345C41.3947 22.7345 41.0663 22.4062 41.0663 22.0012C41.0663 21.5961 41.3946 21.2679 41.7996 21.2679C42.2047 21.2679 42.533 21.5962 42.533 22.0012C42.533 22.4061 42.2046 22.7345 41.7996 22.7345Z"
                    fill="currentColor"></path>
                </svg>
              </span>
              <div class="border-right"></div>
              <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                Emergency readiness <br />for high-risk Environments
              </h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tp-industry-area-end -->
