<!-- tp-hero-area-start -->
<div class="tp-hero-area tp-hero-gsap-it-spacing pt-70 fix tp-bg-grey-3">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="tp-hero-5-top pb-10">
        <div class="swiper-container tp-hero-5-slider">
          <div class="swiper-wrapper slide-transtion">
            <div class="swiper-slide">
              <div class="tp-hero-5-top-box"></div>
            </div>
            <div class="swiper-slide">
              <!-- <div class="tp-hero-5-top-box"></div> -->
            </div>
            <div class="swiper-slide">
              <!-- <div class="tp-hero-5-top-box"></div> -->
            </div>
            <div class="swiper-slide">
              <!-- <div class="tp-hero-5-top-box"></div> -->
            </div>
            <div class="swiper-slide">
              <!-- <div class="tp-hero-5-top-box"></div> -->
            </div>
            <div class="swiper-slide">
              <!-- <div class="tp-hero-5-top-box"></div> -->
            </div>
            <div class="swiper-slide">
              <!-- <div class="tp-hero-5-top-box"></div> -->
            </div>
            <div class="swiper-slide">
              <!-- <div class="tp-hero-5-top-box"></div> -->
            </div>
            <div class="swiper-slide">
              <!-- <div class="tp-hero-5-top-box"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tp-hero-5-content-wrap pb-70">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tp-hero-5-content pb-60 text-center">
            <h2 class="tp-hero-5-title mb-40 tp-title-anim">
              Empowering workplaces through smart,
              <!-- <img
                class="d-none d-sm-inline-block"
                src="assets/img/hero/hero-5/thumb.png"
                alt=""
              /> -->
              SaaS integrated <br />
              <span>safety solutions</span>
            </h2>
            <a
              href="/contact"
              class="tp-btn-xl d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500"
            >
              <span class="d-flex align-items-center justify-content-center">
                <span class="btn-text"> Schedule a demo</span>
                <!-- <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                >
                <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                > -->
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- tp-hero-area-end -->
