<!-- tp-breadcrumb-area-start -->
                <div class="tp-hero-gsap-team-spacing">
                   <div class="tp-breadcrumb-area anim-zoomin-wrap p-relative">
                      <div class="tp-gsap-image-position anim-zoomin fix">
                         <img class="tp-gsap-image-cover" src="assets/img/breadcrumb/bg.jpg" alt="">
                      </div>
                      <div class="container">
                         <div class="row">
                            <div class="col-xl-5 col-lg-6 col-md-9">
                               <div class="tp-breadcrumb-content mr-80">
                                  <h2 class="tp-breadcrumb-title fw-600 fs-60 fs-xs-40 ls-m-3 tp-text-common-white lh-1 text-anim">About us</h2>
                                  <div class="tp-breadcrumb-dvdr">
                                     <ul>
                                        <li><a href="/">Home</a></li>
                                        <li class="dvdr">/</li>
                                        <li>About us</li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
               <!-- tp-breadcrumb-area-end -->