<!-- tp-pricing-area-start -->
               <div class="tp-pricing-area tp-border-bottom pb-110 pt-100">
                  <div class="container-fluid container-1690">
                     <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                           <div class="tp-pricing-wrap-3 tp-round-4 h-100 bg-position" data-background="assets/img/pricing/bg.jpg">
                              <div class="tp-pricing-icon-2 mb-35">
                                 <img src="assets/img/testimonial/shape-2.png" alt="">
                              </div>
                              <div class="tp-service-content">
                                 <h2 class="fs-80 fw-600 tp-text-common-white ls-m-3 mb-5"><span data-purecounter-duration="1" data-purecounter-end="360"  class="purecounter">0</span>+</h2>
                                 <h4 class="mb-30 tp-text-common-white">Growth focused solutions</h4>
                                 <p class="mb-35 tp-text-common-white">We combine expertise innovative tools
                                    and a results-driven approach to
                                    ensure your success</p>
                                 <span class="tp-border-bottom d-block mb-60"></span>
                                 <a href="pricing.html" class="tp-btn-md d-inline-block lh-0 tp-round-24 fs-16 tp-bg-common-white ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-primary fw-500">
                                    <span class="d-flex align-items-center justify-content-center">
                                       <span class="btn-text">View more</span>
                                       <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                       <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span> 
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                           <div class="tp-pricing-wrap-2  bg-position tp-round-4 h-100" data-background="assets/img/pricing/bg-2.png">
                              <div class="tp-pricing-icon tp-bg-common-white mb-45">
                                 <span>
                                    <svg width="52" height="60" viewBox="0 0 52 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path fill-rule="evenodd" clip-rule="evenodd" d="M31.3659 0.000849283C29.89 -0.0206548 28.3391 0.363623 27.1728 1.44861L14.8177 12.9437C13.5877 14.0879 11.4887 16.2983 11.4887 19.7406V24.9017L0.688069 41.5215C-0.599158 43.5029 -0.0261715 46.1994 1.95486 47.4864L11.4887 53.6801V55.689C11.4887 58.0517 13.4371 60 15.7997 60H47.3993C49.762 60 51.7103 58.0517 51.7103 55.689V41.3265C51.7145 41.1351 51.6805 40.9449 51.6102 40.7669C51.5399 40.5889 51.4348 40.4267 51.301 40.2899C51.1672 40.1531 51.0074 40.0444 50.831 39.9702C50.6546 39.896 50.4651 39.8577 50.2738 39.8577C50.0824 39.8577 49.8929 39.896 49.7165 39.9702C49.5401 40.0444 49.3803 40.1531 49.2465 40.2899C49.1127 40.4267 49.0076 40.5889 48.9373 40.7669C48.867 40.9449 48.833 41.1351 48.8372 41.3265V55.689C48.8372 56.5097 48.22 57.1255 47.3993 57.1255H15.7997C14.979 57.1255 14.3618 56.5097 14.3618 55.689V19.7406C14.3618 17.4367 15.674 16.0664 16.7747 15.0424L29.1284 3.5529C29.5621 3.14943 30.4187 2.86073 31.3238 2.87392C32.229 2.88711 33.1167 3.21607 33.5193 3.57395L42.0459 11.1564H35.6559C35.0577 9.49055 33.4587 8.28196 31.5988 8.28196C29.2357 8.28196 27.2892 10.2299 27.2892 12.593C27.2892 14.9561 29.2357 16.904 31.5988 16.904C33.4587 16.904 35.0577 15.6954 35.6559 14.0295H45.2767L46.4453 15.069C47.5277 16.0311 48.8372 17.4286 48.8372 19.7406V24.088C48.833 24.2794 48.867 24.4696 48.9373 24.6476C49.0076 24.8256 49.1127 24.9878 49.2465 25.1246C49.3803 25.2614 49.5401 25.3701 49.7165 25.4443C49.8929 25.5185 50.0824 25.5568 50.2738 25.5568C50.4651 25.5568 50.6546 25.5185 50.831 25.4443C51.0074 25.3701 51.1672 25.2614 51.301 25.1246C51.4348 24.9878 51.5399 24.8256 51.6102 24.6476C51.6805 24.4696 51.7145 24.2794 51.7103 24.088V19.7406C51.7103 16.9262 50.3308 14.9319 49.1178 13.6648C50.6365 12.9947 51.7103 11.4731 51.7103 9.7199V6.84543C51.7103 4.48276 49.762 2.54004 47.3993 2.54004H36.6786L35.4272 1.42756C34.3114 0.435747 32.8419 0.0223533 31.3659 0.000849283ZM39.9108 5.41451H47.3993C48.22 5.41451 48.8372 6.02474 48.8372 6.84543V9.7199C48.8372 10.5406 48.22 11.1564 47.3993 11.1564H46.3682L39.9108 5.41451ZM31.5988 11.1564C32.4092 11.1564 33.0367 11.7826 33.0367 12.593C33.0367 13.4034 32.4092 14.0295 31.5988 14.0295C30.7884 14.0295 30.1623 13.4034 30.1623 12.593C30.1623 11.7826 30.7884 11.1564 31.5988 11.1564ZM11.4887 30.1737V50.2529L3.51905 45.0749C2.83063 44.6277 2.65399 43.7793 3.101 43.0913L11.4887 30.1737ZM24.4147 34.141C24.0336 34.141 23.668 34.2924 23.3985 34.5619C23.1289 34.8315 22.9775 35.197 22.9775 35.5782C22.9775 35.9594 23.1289 36.325 23.3985 36.5945C23.668 36.864 24.0336 37.0155 24.4147 37.0155H28.7257C29.1069 37.0155 29.4725 36.864 29.742 36.5945C30.0116 36.325 30.163 35.9594 30.163 35.5782C30.163 35.197 30.0116 34.8315 29.742 34.5619C29.4725 34.2924 29.1069 34.141 28.7257 34.141H24.4147ZM33.0367 34.1424C32.6558 34.1424 32.2904 34.2937 32.021 34.5631C31.7516 34.8325 31.6002 35.1979 31.6002 35.5789C31.6002 35.9599 31.7516 36.3253 32.021 36.5947C32.2904 36.8641 32.6558 37.0155 33.0367 37.0155C33.4177 37.0155 33.7831 36.8641 34.0525 36.5947C34.3219 36.3253 34.4733 35.9599 34.4733 35.5789C34.4733 35.1979 34.3219 34.8325 34.0525 34.5631C33.7831 34.2937 33.4177 34.1424 33.0367 34.1424ZM24.4147 39.8885C24.0336 39.8885 23.668 40.0399 23.3985 40.3095C23.1289 40.579 22.9775 40.9446 22.9775 41.3258C22.9775 41.7069 23.1289 42.0725 23.3985 42.342C23.668 42.6116 24.0336 42.763 24.4147 42.763H38.7843C39.1655 42.763 39.531 42.6116 39.8006 42.342C40.0701 42.0725 40.2215 41.7069 40.2215 41.3258C40.2215 40.9446 40.0701 40.579 39.8006 40.3095C39.531 40.0399 39.1655 39.8885 38.7843 39.8885H24.4147ZM24.4147 45.6361C24.0336 45.6361 23.668 45.7875 23.3985 46.057C23.1289 46.3266 22.9775 46.6921 22.9775 47.0733C22.9775 47.4545 23.1289 47.82 23.3985 48.0896C23.668 48.3591 24.0336 48.5105 24.4147 48.5105H38.7843C39.1655 48.5105 39.531 48.3591 39.8006 48.0896C40.0701 47.82 40.2215 47.4545 40.2215 47.0733C40.2215 46.6921 40.0701 46.3266 39.8006 46.057C39.531 45.7875 39.1655 45.6361 38.7843 45.6361H24.4147Z" fill="#1F3130" />
                                    </svg>
                                 </span>
                              </div>
                              <div class="tp-service-content">
                                 <h4 class="mb-25 br">Bundle your growth strategy<br> into a solid plan</h4>
                                 <p class="mb-35 br">Are you looking new opportunities, expert insights<br>
                                    or a strong network to support your growth</p>
                                 <span class="tp-border-bottom d-block mb-25"></span>
                                 <ul class="mb-50">
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Competitive work analysis</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Social media share audit</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Monthly management</li>
                                 </ul>
                                 <a href="pricing.html" class="tp-btn-md d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500 mb-10">
                                    <span class="d-flex align-items-center justify-content-center">
                                       <span class="btn-text"> View pricing plans</span>
                                       <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                       <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span> 
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-6 mb-30">
                           <div class="tp-pricing-wrap anim-zoomin-wrap h-100">
                              <div class="tp-pricing-thumb anim-zoomin fix">
                                 <img class="w-100" src="assets/img/pricing/thumb-2.jpg" alt="">
                              </div>
                              <div class="tp-pricing-content">
                                 <h3 class="mb-20 text-anim">Be a valued part of our journey</h3>
                                 <p class="mb-35">We’re building a space where ideas thrive, partnerships grow, and opportunities
                                    unfold. Join us today and be part of a vibrant community that believes in
                                    collaboration, innovation, and shared success.</p>
                                 <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="d-flex align-items-center mb-10">
                                       <img class="rounded-circle mr-20" src="assets/img/pricing/user.jpg" alt="">
                                       <div>
                                          <h5 class="fw-500 fs-18 mb-0">Hazelina Barbenues</h5>
                                          <span class="tp-text-grey-1">Founder of budgeto</span>
                                       </div>
                                    </div>
                                    <a href="pricing.html" class="tp-btn-md d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-primary fw-500 mb-10">
                                       <span class="d-flex align-items-center justify-content-center">
                                          <span class="btn-text"> View open position</span>
                                          <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                          <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                       </span> 
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- tp-pricing-area-end -->