<!-- tp-chose-area-start -->
               <div class="tp-chose-area p-relative">
                  <div class="container-fluid p-0">
                     <div class="row gx-0">
                        <div class="col-lg-5">
                           <div class="tp-chose-thumb h-100">
                              <img class="w-100 h-100" src="assets/img/chose/bg-1.jpg" alt="">
                           </div>
                        </div>
                        <div class="col-lg-7">
                           <div class="tp-chose-thumb anim-zoomin-wrap thumb-2 h-100">
                              <div class="anim-zoomin fix">
                                 <img class="w-100 h-100" src="assets/img/chose/chose-6/bg.jpg" alt="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tp-chose-middle p-absolute">
                     <div class="container">
                        <div class="row">
                           <div class="col-lg-5 col-md-7">
                              <div class="tp-chose-middle-content">
                                 <div class="tp-chose-middle-title">
                                    <span class="mb-20 d-inline-block">
                                       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8563 19.7444C14.6918 21.6853 13.2836 22.56 12 22.56C10.7163 22.56 9.30814 21.6853 8.14362 19.7444C6.9963 17.8322 6.24 15.0976 6.24 12C6.24 8.9024 6.9963 6.16778 8.14362 4.2556C9.30814 2.31474 10.7163 1.44 12 1.44C13.2836 1.44 14.6918 2.31474 15.8563 4.2556C17.0036 6.16778 17.76 8.9024 17.76 12C17.76 15.0976 17.0036 17.8322 15.8563 19.7444ZM24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24C18.6274 24 24 18.6274 24 12ZM1.44 12C1.44 16.3116 4.02391 20.0196 7.72768 21.66C5.95178 19.4747 4.8 15.9616 4.8 12C4.8 8.03848 5.95178 4.5253 7.72768 2.33994C4.02391 3.98041 1.44 7.68845 1.44 12ZM22.56 12C22.56 16.3116 19.976 20.0196 16.2724 21.66C18.0482 19.4747 19.2 15.9616 19.2 12C19.2 8.03848 18.0482 4.5253 16.2724 2.33994C19.976 3.98041 22.56 7.68845 22.56 12ZM12 13.32C12.729 13.32 13.32 12.729 13.32 12C13.32 11.271 12.729 10.68 12 10.68C11.271 10.68 10.68 11.271 10.68 12C10.68 12.729 11.271 13.32 12 13.32Z" fill="#506767" />
                                       </svg>
                                    </span>
                                    <h4 class="fw-500 fs-26 mb-55 lh-30 br">Are you looking for<br>
                                       a perfect business<br>
                                       consulting agency</h4>
                                 </div>
                                 <a href="contact.html" class="fw-500 tp-text-theme-primary tp-bg-common-white fs-16 d-flex justify-content-between">Let’s talk with us
                                    <span>
                                       <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M1 7H13" stroke="#1F3130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                          <path d="M7 1L13 7L7 13" stroke="#1F3130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </span>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tp-chose-bottom tp-bg-theme-primary pt-150 pb-60 p-relative z-indexm-1">
                  <span class="tp-chose-shape-2 p-absolute d-none d-xxl-block">
                     <svg width="73" height="346" viewBox="0 0 73 346" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="-50" cy="123" r="122.5" stroke="white" stroke-opacity="0.3" />
                        <circle cx="-50" cy="223" r="122.5" stroke="white" stroke-opacity="0.3" />
                     </svg>
                  </span>
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-7">
                           <div class="tp-chose-wrapper pb-50">
                              <div class="tp-chose-list mb-45">
                                 <ul>
                                    <li>
                                       <i class="fa-sharp fa-solid fa-check"></i>
                                       They provide guidance on compliance, financial planning, and crisis management.
                                    </li>
                                    <li>
                                       <i class="fa-sharp fa-solid fa-check"></i>
                                       Protect your business by refining skills that deliver client-cantered solutions
                                    </li>
                                    <li>
                                       <i class="fa-sharp fa-solid fa-check"></i>
                                       Mitigate risks with expertise tailored to meet your clients’ expectations.
                                    </li>
                                    <li>
                                       <i class="fa-sharp fa-solid fa-check"></i>
                                       Improve your profits and long-term prospects for success
                                    </li>
                                    <li>
                                       <i class="fa-sharp fa-solid fa-check"></i>
                                       Increase your practice’s market value and saleability
                                    </li>
                                 </ul>
                              </div>
                              <span class="tp-border mb-45"></span>
                              <div class="tp-chose-work">
                                 <div class="d-flex align-items-center">
                                    <h2 class="fs-60 tp-text-common-white mr-30">15</h2>
                                    <p class="tp-text-grey-3">Awards for excellent<br> consulting service</p>
                                 </div>
                                 <div class="d-flex align-items-center">
                                    <h2 class="fs-30 tp-text-common-white mr-30 d-flex justify-content-start"><span class="fs-60">136</span>+</h2>
                                    <p class="tp-text-grey-3">Awards for excellent<br> consulting service</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-5">
                           <div class="tp-chose-content">
                              <p class="tp-text-grey-3 mb-25">Our Consultants provide the highest quality advice and technical support and
                                 will assist your organization by thoroughly assessing your IT  infrastructure</p>
                              <p class="tp-text-grey-3 mb-70">and recommending the best long-term approach given your  unique
                                 resource requirements. In short, businesses choose consulting gain expertise
                                 tools, and strategic guidance necessary</p>
                              <a href="contact.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-common-white ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-primary fw-500 mb-10">
                                 <span class="d-flex align-items-center justify-content-center">
                                    <span class="btn-text"> Learn more why choose us</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                 </span> 
                              </a>
                              <div class="tp-chose-shape mt-5 text-end">
                                 <span>
                                    <svg width="199" height="122" viewBox="0 0 199 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M98.4789 0L0 77.1088H198.5L98.4789 0Z" fill="white" fill-opacity="0.04" />
                                       <path d="M98.4789 22.0312L0 99.14H198.5L98.4789 22.0312Z" fill="white" fill-opacity="0.07" />
                                       <path d="M98.4789 44.062L0 121.171H198.5L98.4789 44.062Z" fill="white" fill-opacity="0.15" />
                                    </svg>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- tp-chose-area-end -->