<!-- tp-benifits-area-start -->
<div class="tp-benifits-area p-relative pt-140 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-8 mb-30">
        <div
          class="tp-benifits-4-thumb tp-benifits-6-thumb p-relative mr-85 mb-40"
        >
          <div
            class="tp-benifits-4-year text-center tp-bg-theme-secondary"
            data-parallax='{"y": -20, "smoothness": 30}'
          >
            <span class="d-inline-block mb-10">
              <svg
                width="26"
                height="30"
                viewBox="0 0 26 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M21.4567 18.3865V12.88C21.4567 12.636 21.2727 12.5048 21.0888 12.636L15.5706 15.8818C15.451 15.9475 15.3314 16.1351 15.3314 16.3228V22.8237C15.3314 23.077 15.5154 23.1989 15.6993 23.077L20.353 20.3284L24.8964 23.0114L13.0598 29.9813L13.0322 30L12.9954 29.9813L4.98479 25.2533L1.18642 23.0019L5.70221 20.3283L10.3651 23.077C10.5489 23.1989 10.7329 23.0114 10.6685 22.7675V16.2571C10.6685 16.0695 10.6042 15.9475 10.4202 15.8255L4.90202 12.5704C4.78245 12.5047 4.53413 12.636 4.53413 12.8236V18.3209L0 21.0132V7.00752L11.9561 0V5.37525L7.29324 8.13322C7.1093 8.18951 7.1093 8.50846 7.29324 8.56474L12.8115 11.8199C12.9402 11.8856 13.1242 11.9419 13.3081 11.8199L18.8263 8.56474C19.0103 8.50846 19.0103 8.25518 18.8263 8.13322L14.1634 5.37525V0L26 7.00752V20.985L21.4567 18.3865Z"
                  fill="#1F3130"></path>
              </svg>
            </span>
            <span class="d-block">Since</span>
            <h4 class="tp-text-theme-primary fs-30 fw-600">
              <span
                data-purecounter-duration="1"
                data-purecounter-end="2006"
                class="purecounter">0</span
              >
            </h4>
          </div>
          <div class="thumb" data-parallax='{"y": 20, "smoothness": 30}'>
            <img
              class="tp-round-4"
              src="assets/img/benifits/four/thumb.jpg"
              alt=""
            />
          </div>
          <div class="thumb-2" data-parallax='{"y": -20, "smoothness": 30}'>
            <img
              class="tp-round-4"
              src="assets/img/benifits/four/thumb-2.jpg"
              alt=""
            />
          </div>
          <div class="tp-benifits-6-shape d-none d-lg-block">
            <img src="assets/img/benifits/six/yes.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xl-6 mb-30">
        <div
          class="tp-about-2-content tp-about-4-content tp-about-6-content mb-40"
        >
          <span class="fw-500 fs-16 tp-text-grey-1 mb-5 d-inline-block"
            >Our Mission
          </span>
          <h2 class="mb-10 fs-xl-40 fs-sm-36 text-anim">
            The Future of Workplace <span
              class="text-italic fw-400 tp-ff-heading">Well-being</span
            >
          </h2>
          <p class="mb-40">
            Delivering best leading platform to make emergency preparedness
            effortless, empower every employee, and elevate safety standards
            through comprehensive certification, fostering truly secure
            workplaces nationwide.
          </p>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div
                class="tp-industry-content d-flex align-items-center tp-round-4 mb-20"
              >
                <span
                  class="tp-industry-icon d-inline-block tp-text-theme-primary"
                >
                  <svg
                    width="44"
                    height="44"
                    viewBox="0 0 44 44"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M28.4137 35.4336H41.6316C41.8679 35.4325 42.0943 35.3381 42.2615 35.171C42.4286 35.0038 42.523 34.7775 42.5241 34.5411V30.7178C42.523 30.4814 42.4286 30.2551 42.2615 30.0879C42.0943 29.9208 41.8679 29.8264 41.6316 29.8253H29.8103C29.717 31.7682 29.2424 33.6738 28.4137 35.4336ZM31.909 20.6425V28.3462H41.6316C42.2602 28.3475 42.8626 28.5978 43.3071 29.0423C43.7516 29.4867 44.0019 30.0892 44.0032 30.7178V34.5411C44.0033 35.1489 43.7692 35.7334 43.3496 36.1731C43.7692 36.6128 44.0033 37.1973 44.0032 37.8051V41.6284C44.0019 42.257 43.7516 42.8595 43.3072 43.3039C42.8627 43.7484 42.2602 43.9987 41.6317 44H16.5462C16.3948 43.994 16.2438 43.9786 16.0943 43.9538C15.7049 43.9846 15.3115 44 14.9141 44C11.9958 44 9.14168 43.1438 6.70525 41.5375C4.26882 39.9313 2.35715 37.6455 1.20706 34.9634C0.0569689 32.2813 -0.280999 29.3208 0.23502 26.4485C0.751039 23.5762 2.09837 20.9184 4.11011 18.8044C6.12184 16.6903 8.70958 15.2129 11.5528 14.5552C14.3959 13.8974 17.3696 14.0882 20.1054 15.104C22.8412 16.1197 25.2189 17.9157 26.9439 20.2695C28.669 22.6234 29.6656 25.4316 29.8103 28.3462H30.4296V20.6425L28.5342 17.3591C25.1218 16.8713 22.0772 14.1914 20.2777 11.0745C19.2322 9.26353 18.6161 7.36223 18.4127 5.56557C18.1987 3.67491 18.4405 1.88879 19.1172 0.42734L19.1184 0.427987C19.1819 0.290371 19.2863 0.175697 19.4174 0.0995979C19.5485 0.0234989 19.6999 -0.0103228 19.8509 0.00274351C21.4579 0.147326 23.1276 0.831968 24.659 1.96339C27.7205 4.22541 29.9336 8.06074 30.3616 11.8416C30.5586 13.5818 30.3697 15.2333 29.8106 16.6247L31.1696 18.9782L32.5285 16.6247C31.9694 15.2333 31.7805 13.5818 31.9775 11.8417C32.4056 8.06074 34.6187 4.22532 37.6802 1.96339C39.2117 0.831876 40.8812 0.147326 42.4883 0.00274351C42.6393 -0.0103228 42.7906 0.0234989 42.9217 0.0995979C43.0528 0.175697 43.1572 0.290371 43.2208 0.427987L43.222 0.42734C43.8991 1.88879 44.1404 3.67491 43.9264 5.56557C43.4984 9.34654 41.2852 13.1819 38.2237 15.4439C36.8157 16.4843 35.2907 17.1467 33.8049 17.3591L31.9091 20.6428L31.909 20.6425ZM27.5231 15.6077L23.7487 9.07032C23.7005 8.98648 23.6693 8.89397 23.6569 8.79808C23.6445 8.70218 23.651 8.60478 23.6762 8.51142C23.7272 8.32289 23.8509 8.1623 24.0202 8.06499C24.1895 7.96768 24.3906 7.94161 24.5791 7.99253C24.6725 8.01774 24.7599 8.0611 24.8365 8.12011C24.9131 8.17913 24.9774 8.25266 25.0255 8.3365L28.7973 14.869C29.3088 12.3353 28.5899 9.43658 27.2199 7.06909C25.6911 4.42786 23.1302 2.05565 20.2543 1.54194C19.8489 2.66375 19.7208 3.99171 19.8807 5.40398C20.2634 8.78467 22.2572 12.2376 24.9939 14.2596C25.7621 14.8376 26.6154 15.2926 27.5235 15.6082L27.5231 15.6077ZM33.5417 14.869L37.3134 8.3365C37.4116 8.1689 37.572 8.04689 37.7598 7.99703C37.9475 7.94716 38.1473 7.97349 38.3157 8.07027C38.4841 8.16705 38.6075 8.32645 38.6589 8.51376C38.7104 8.70106 38.6857 8.9011 38.5903 9.07032L34.8159 15.6078C37.2827 14.7787 39.4095 12.7134 40.7844 10.3375C42.3134 7.69577 43.0721 4.2732 42.0851 1.54148C39.209 2.05556 36.6479 4.42796 35.1193 7.06909C33.7492 9.43649 33.0301 12.3355 33.5419 14.869H33.5417ZM18.4945 26.6609C18.4945 25.0636 17.1953 23.8518 15.6537 23.564V22.2679C15.6537 22.0718 15.5758 21.8837 15.4371 21.745C15.2984 21.6063 15.1103 21.5284 14.9142 21.5284C14.718 21.5284 14.5299 21.6063 14.3912 21.745C14.2525 21.8837 14.1746 22.0718 14.1746 22.2679V23.5644C12.633 23.8517 11.3337 25.0635 11.3337 26.6613C11.3337 28.5086 13.0532 29.8257 14.9142 29.8257C16.7446 29.8257 17.7051 31.5883 16.4434 32.6651C15.1336 33.7828 12.8126 33.0183 12.8126 31.5106C12.8126 31.3145 12.7346 31.1264 12.5959 30.9877C12.4572 30.849 12.2691 30.771 12.073 30.771C11.8769 30.771 11.6887 30.849 11.5501 30.9877C11.4114 31.1264 11.3334 31.3145 11.3334 31.5106C11.3334 33.1079 12.6328 34.3197 14.1743 34.6069V35.9035C14.1743 36.0996 14.2523 36.2877 14.391 36.4264C14.5297 36.5651 14.7178 36.643 14.9139 36.643C15.11 36.643 15.2982 36.5651 15.4368 36.4264C15.5755 36.2877 15.6535 36.0996 15.6535 35.9035V34.6069C17.1951 34.3197 18.4943 33.1079 18.4943 31.5106C18.4943 29.6633 16.7748 28.3462 14.9139 28.3462C13.0835 28.3462 12.123 26.5836 13.3847 25.5067C14.6945 24.3887 17.0152 25.1532 17.0152 26.6609C17.0152 26.857 17.0931 27.0451 17.2318 27.1838C17.3705 27.3225 17.5586 27.4004 17.7547 27.4004C17.9509 27.4004 18.139 27.3225 18.2777 27.1838C18.4163 27.0451 18.4943 26.857 18.4943 26.6609H18.4945ZM14.9142 17.9947C12.7206 17.9947 10.5762 18.6451 8.75228 19.8638C6.92834 21.0825 5.50676 22.8147 4.66728 24.8414C3.82781 26.868 3.60816 29.098 4.0361 31.2495C4.46404 33.401 5.52036 35.3772 7.07147 36.9283C8.62258 38.4795 10.5988 39.5358 12.7503 39.9638C14.9018 40.3917 17.1318 40.1721 19.1584 39.3326C21.1851 38.4932 22.9173 37.0716 24.136 35.2477C25.3547 33.4238 26.0052 31.2794 26.0052 29.0858C26.0051 26.1443 24.8366 23.3233 22.7566 21.2433C20.6767 19.1633 17.8557 17.9948 14.9142 17.9947ZM21.7109 22.289C20.3666 20.9447 18.6539 20.0293 16.7893 19.6584C14.9248 19.2875 12.9921 19.4778 11.2357 20.2053C9.47933 20.9328 7.97812 22.1649 6.92193 23.7456C5.86574 25.3263 5.302 27.1847 5.302 29.0857C5.302 30.9868 5.86574 32.8452 6.92193 34.4259C7.97812 36.0066 9.47933 37.2386 11.2357 37.9662C12.9921 38.6937 14.9248 38.884 16.7893 38.5131C18.6539 38.1422 20.3666 37.2268 21.7109 35.8825C23.5134 34.0798 24.5261 31.635 24.5261 29.0857C24.5261 26.5365 23.5134 24.0916 21.7109 22.289ZM28.3494 29.0858C28.3494 26.4286 27.5614 23.831 26.0851 21.6216C24.6089 19.4122 22.5106 17.6902 20.0556 16.6733C17.6007 15.6564 14.8993 15.3903 12.2931 15.9087C9.68697 16.4271 7.29304 17.7067 5.41409 19.5856C3.53515 21.4646 2.25556 23.8585 1.73715 26.4647C1.21874 29.0708 1.48479 31.7722 2.50165 34.2272C3.51852 36.6821 5.24052 38.7804 7.44992 40.2567C9.65931 41.733 12.2569 42.521 14.9141 42.521C16.6784 42.521 18.4255 42.1735 20.0556 41.4983C21.6856 40.8232 23.1667 39.8335 24.4143 38.586C25.6619 37.3384 26.6515 35.8573 27.3267 34.2273C28.0019 32.5972 28.3494 30.8501 28.3494 29.0858ZM21.3976 42.5209H41.6316C41.8679 42.5198 42.0943 42.4254 42.2615 42.2583C42.4286 42.0912 42.523 41.8648 42.5241 41.6284V37.8051C42.523 37.5688 42.4286 37.3424 42.2615 37.1753C42.0943 37.0081 41.8679 36.9138 41.6316 36.9127H27.6117C26.1154 39.3348 23.9597 41.2803 21.3972 42.5209H21.3976Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <div class="border-right"></div>
                <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                  Emergency Readiness Simplified
                </h5>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="tp-industry-content d-flex align-items-center tp-round-4 mb-20"
              >
                <span
                  class="tp-industry-icon d-inline-block tp-text-theme-primary"
                >
                  <svg
                    width="45"
                    height="45"
                    viewBox="0 0 45 45"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M43.2711 44.9489C43.3931 44.9546 43.5147 44.9307 43.6255 44.8793C43.7363 44.8279 43.833 44.7505 43.9075 44.6537C43.982 44.5568 44.032 44.4435 44.0532 44.3232C44.0745 44.2029 44.0664 44.0793 44.0296 43.9628L37.9614 24.9997C37.894 24.8514 37.7881 24.724 37.6547 24.6306C37.5213 24.5372 37.3653 24.4813 37.2029 24.4687H25.825V21.4346H28.1006C28.2031 21.4468 28.3071 21.4356 28.4047 21.4018C28.5023 21.368 28.5909 21.3125 28.6639 21.2395C28.737 21.1664 28.7925 21.0778 28.8263 20.9802C28.8601 20.8826 28.8713 20.7787 28.8591 20.6761V1.71301C28.8713 1.61046 28.8601 1.50648 28.8263 1.4089C28.7925 1.31132 28.737 1.22268 28.6639 1.14966C28.5909 1.07663 28.5023 1.02113 28.4047 0.987322C28.3071 0.953515 28.2031 0.942288 28.1006 0.954486H15.9642C15.8617 0.942288 15.7577 0.953515 15.6601 0.987322C15.5625 1.02113 15.4739 1.07663 15.4009 1.14966C15.3278 1.22268 15.2723 1.31132 15.2385 1.4089C15.2047 1.50648 15.1935 1.61046 15.2057 1.71301V20.6761C15.1935 20.7787 15.2047 20.8826 15.2385 20.9802C15.2723 21.0778 15.3278 21.1664 15.4009 21.2395C15.4739 21.3125 15.5625 21.368 15.6601 21.4018C15.7577 21.4356 15.8617 21.4468 15.9642 21.4346H18.2398V24.4687H6.86191C6.69954 24.4813 6.54351 24.5372 6.4101 24.6306C6.27668 24.724 6.17076 24.8514 6.10339 24.9997L0.0351957 43.9628C-0.00157916 44.0793 -0.00968172 44.2029 0.011577 44.3232C0.0328358 44.4435 0.0828271 44.5568 0.1573 44.6537C0.231773 44.7505 0.328524 44.8279 0.439327 44.8793C0.55013 44.9307 0.671707 44.9546 0.79372 44.9489H43.2711ZM16.7227 2.47153H27.3421V19.9176H16.7227V2.47153ZM24.308 21.4346V26.1375L22.0324 28.6406L19.7568 26.1375V21.4346H24.308ZM7.39288 25.9858H18.2398V26.4409C18.25 26.6393 18.3307 26.8276 18.4673 26.9719L21.2739 30.0818V34.3295H10.6545C10.5002 34.338 10.3521 34.3933 10.2301 34.4882C10.1081 34.5831 10.018 34.713 9.97186 34.8605L8.45481 39.4117C8.39955 39.5213 8.37486 39.6438 8.38336 39.7663C8.39186 39.8887 8.43323 40.0066 8.50311 40.1076C8.57299 40.2085 8.66879 40.2887 8.78044 40.3398C8.89208 40.3909 9.01543 40.4109 9.13749 40.3977H35.6858C35.9197 40.3786 36.137 40.2699 36.2927 40.0943C36.3728 40.0015 36.4229 39.8866 36.4365 39.7648C36.45 39.6429 36.4263 39.5198 36.3685 39.4117L32.5759 28.7923L31.2105 29.2474L34.6239 38.8807H10.1994L11.1855 35.8466H27.3421V34.3295H22.7909V30.0818L25.5975 26.9719C25.7341 26.8276 25.8148 26.6393 25.825 26.4409V25.9858H36.6719L42.2091 43.4318H1.85565L7.39288 25.9858Z"
                      fill="currentColor"></path>
                    <path
                      d="M16.4867 29.8184L17.4576 28.6533L19.8927 30.6825L18.9217 31.8476L16.4867 29.8184Z"
                      fill="currentColor"></path>
                    <path
                      d="M15.0807 32.9221L15.4554 31.4521L18.5645 32.2446L18.1898 33.7146L15.0807 32.9221Z"
                      fill="currentColor"></path>
                    <path
                      d="M24.1775 30.7324L26.6242 28.6935L27.5951 29.8586L25.1484 31.8975L24.1775 30.7324Z"
                      fill="currentColor"></path>
                    <path
                      d="M25.4697 32.1931L28.5567 31.4062L28.9314 32.8762L25.8444 33.6631L25.4697 32.1931Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <div class="border-right"></div>
                <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                  Employee Empowerment Driven
                </h5>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="tp-industry-content d-flex align-items-center tp-round-4 mb-20"
              >
                <span
                  class="tp-industry-icon d-inline-block tp-text-theme-primary"
                >
                  <svg
                    width="45"
                    height="45"
                    viewBox="0 0 45 45"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M22.6756 7.87573C12.5423 7.87573 4.27563 16.1424 4.27563 26.2757C4.27563 36.4091 12.5423 44.6757 22.6756 44.6757C32.809 44.6757 41.0756 36.4091 41.0756 26.2757C41.0756 16.1424 32.809 7.87573 22.6756 7.87573ZM22.6756 43.3424C13.2756 43.3424 5.60897 35.6757 5.60897 26.2757C5.60897 16.8757 13.2756 9.20907 22.6756 9.20907C32.0756 9.20907 39.7423 16.8757 39.7423 26.2757C39.7423 35.6757 32.0756 43.3424 22.6756 43.3424Z"
                      fill="currentColor"></path>
                    <path
                      d="M36.809 25.6757C36.4757 18.209 30.2757 12.1423 22.6757 12.1423C16.2757 12.1423 10.8757 16.409 9.14234 22.209C9.07568 22.2757 9.07568 22.3423 9.07568 22.4757C8.80901 23.4757 8.60901 24.5423 8.60901 25.609V25.6757V25.809V26.2757C8.60901 29.809 9.94234 33.0757 12.1423 35.5423L12.209 35.609C12.209 35.609 12.2757 35.609 12.2757 35.6757C12.9423 36.409 13.6757 37.1423 14.5423 37.6757V37.7423C14.609 37.809 14.6757 37.8757 14.7423 37.8757C17.009 39.4757 19.809 40.409 22.7423 40.409C25.809 40.409 28.609 39.409 30.9423 37.7423C31.7423 37.1423 32.5423 36.4757 33.209 35.6757C33.209 35.6757 33.2757 35.6757 33.2757 35.609C33.3423 35.5423 33.3423 35.5423 33.3423 35.4757C35.4757 33.009 36.809 29.7423 36.809 26.209C36.809 26.0757 36.809 25.8757 36.809 25.7423C36.809 25.809 36.809 25.7423 36.809 25.6757C36.809 25.7423 36.809 25.7423 36.809 25.6757ZM32.7423 34.209L30.4757 31.9423C30.4757 31.8757 30.4757 31.8757 30.4757 31.809C30.4757 30.1423 30.5423 28.2757 32.5423 26.6757L35.5423 26.4757C35.409 29.409 34.409 32.0757 32.7423 34.209ZM28.0757 33.7423H27.5423H17.609C17.4757 33.7423 17.2757 33.7423 17.1423 33.7423C16.209 33.7423 16.1423 33.5423 16.1423 31.7423C16.1423 30.0757 16.0757 27.609 13.6757 25.6757C13.8757 24.809 14.8757 24.0757 16.4757 23.5423C16.609 23.5423 16.6757 23.4757 16.7423 23.4757C18.2757 23.009 20.3423 22.7423 22.609 22.7423C25.009 22.7423 27.3423 23.0757 29.009 23.6757C30.0757 24.0757 31.3423 24.7423 31.5423 25.6757C29.1423 27.609 29.0757 30.0757 29.0757 31.7423V32.1423V32.209C29.0757 33.5423 28.8757 33.7423 28.0757 33.7423ZM9.87567 26.4757L12.7423 26.6757C14.7423 28.209 14.809 30.1423 14.809 31.809V32.009L12.609 34.209C10.9423 32.0757 9.94234 29.409 9.87567 26.4757ZM12.4757 25.3423L9.94234 25.209C10.009 24.5423 10.1423 23.8757 10.2757 23.2757L13.8757 23.4757C13.1423 23.9423 12.609 24.609 12.4757 25.3423ZM35.409 25.1423L32.809 25.3423C32.609 24.609 32.1423 24.009 31.409 23.4757L35.0757 23.2757C35.2757 23.8757 35.3423 24.4757 35.409 25.1423ZM22.6757 13.4757C28.209 13.4757 32.9423 17.009 34.6757 21.9423L28.9423 22.2757C27.1423 21.6757 24.8757 21.409 22.609 21.409C20.3423 21.409 18.1423 21.6757 16.2757 22.2757L10.6757 21.9423C12.409 17.009 17.1423 13.4757 22.6757 13.4757ZM13.4757 35.209L15.009 33.6757C15.209 34.2757 15.5423 34.7423 16.2757 34.9423L14.809 36.409C14.3423 36.0757 13.9423 35.6757 13.4757 35.209ZM15.9423 37.209L18.0757 35.0757H27.2757L29.409 37.209C27.4757 38.409 25.1423 39.1423 22.6757 39.1423C20.209 39.0757 17.9423 38.409 15.9423 37.209ZM30.4757 36.409L29.009 34.9423C29.7423 34.7423 30.0757 34.209 30.2757 33.609L31.8757 35.209C31.409 35.6757 30.9423 36.009 30.4757 36.409Z"
                      fill="currentColor"></path>
                    <path
                      d="M22.609 24.9424C20.609 24.9424 19.009 26.5424 19.009 28.5424C19.009 30.5424 20.609 32.1424 22.609 32.1424C24.609 32.1424 26.209 30.5424 26.209 28.5424C26.209 26.5424 24.609 24.9424 22.609 24.9424ZM22.609 30.809C21.3424 30.809 20.3424 29.809 20.3424 28.5424C20.3424 27.2757 21.3424 26.2757 22.609 26.2757C23.8757 26.2757 24.8757 27.2757 24.8757 28.5424C24.8757 29.809 23.8757 30.809 22.609 30.809Z"
                      fill="currentColor"></path>
                    <path
                      d="M36.6757 9.74251C36.6757 10.0758 37.009 10.4092 37.3424 10.4092C37.7424 10.4092 38.009 10.0758 38.009 9.74251C38.009 8.47585 36.9424 7.40918 35.6757 7.40918C35.2757 7.40918 35.009 7.67585 35.009 8.07585C35.009 8.47585 35.2757 8.74251 35.6757 8.74251C36.209 8.67585 36.6757 9.14251 36.6757 9.74251Z"
                      fill="currentColor"></path>
                    <path
                      d="M35.609 4.00903C35.209 4.00903 34.9424 4.2757 34.9424 4.6757C34.9424 5.0757 35.209 5.34237 35.609 5.34237C38.009 5.34237 39.9424 7.34237 40.009 9.74237C40.009 10.1424 40.2757 10.409 40.6757 10.409C41.0757 10.409 41.3424 10.0757 41.3424 9.74237C41.3424 6.60903 38.7424 4.00903 35.609 4.00903Z"
                      fill="currentColor"></path>
                    <path
                      d="M35.609 0.675781C35.209 0.675781 34.9424 0.942448 34.9424 1.34245C34.9424 1.74245 35.209 2.00911 35.609 2.00911C39.8757 2.00911 43.3424 5.47578 43.3424 9.74245C43.3424 10.1424 43.6757 10.4091 44.009 10.4091C44.409 10.4091 44.6757 10.0758 44.6757 9.74245C44.6757 4.74245 40.609 0.675781 35.609 0.675781Z"
                      fill="currentColor"></path>
                    <path
                      d="M9.67568 7.34253C8.40901 7.34253 7.34235 8.4092 7.34235 9.67586C7.34235 10.0759 7.60901 10.3425 8.00901 10.3425C8.34235 10.3425 8.67568 10.0759 8.67568 9.67586C8.67568 9.14253 9.14235 8.67586 9.67568 8.67586C10.0757 8.67586 10.3423 8.34253 10.3423 8.0092C10.3423 7.67586 10.0757 7.34253 9.67568 7.34253Z"
                      fill="currentColor"></path>
                    <path
                      d="M4.67564 10.409C5.07564 10.409 5.34231 10.1424 5.34231 9.74237C5.34231 7.34237 7.34231 5.40903 9.74231 5.34237C10.1423 5.34237 10.409 5.00903 10.409 4.6757C10.409 4.2757 10.1423 4.00903 9.74231 4.00903C6.60897 4.00903 4.00897 6.60903 4.00897 9.74237C4.00897 10.0757 4.34231 10.409 4.67564 10.409Z"
                      fill="currentColor"></path>
                    <path
                      d="M9.74233 2.00911C10.1423 2.00911 10.409 1.67578 10.409 1.34245C10.409 0.942448 10.1423 0.675781 9.74233 0.675781C4.74233 0.675781 0.675659 4.74245 0.675659 9.74245C0.675659 10.1424 0.942326 10.4091 1.34233 10.4091C1.67566 10.4091 2.00899 10.1424 2.00899 9.74245C2.00899 5.47578 5.47566 2.00911 9.74233 2.00911Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <div class="border-right"></div>
                <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                  Train From Certified Trainers
                </h5>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="tp-industry-content d-flex align-items-center tp-round-4 mb-20"
              >
                <span
                  class="tp-industry-icon d-inline-block tp-text-theme-primary"
                >
                  <svg
                    width="44"
                    height="44"
                    viewBox="0 0 44 44"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M32.9107 25.5998C35.6933 22.7016 37.1892 18.8912 37.123 14.8707C36.9863 6.57519 30.1246 -0.0929661 21.8206 0.00147929C13.541 0.0978153 6.875 6.83008 6.875 15.1255C6.875 19.0417 8.36645 22.7562 11.0748 25.5848C12.4792 27.0517 13.4081 28.9331 13.6915 31.2C12.2256 31.9481 11.9205 33.9091 13.0995 35.063C11.6416 36.4898 12.5156 38.9864 14.5557 39.1771C15.2366 42.0127 17.7717 44.0005 20.6738 44.0005H23.3261C26.2309 44.0005 28.7639 42.0103 29.4444 39.1771C31.4832 38.9865 32.3594 36.4908 30.9005 35.063C32.0815 33.9071 31.7724 31.9471 30.3086 31.2C30.5896 28.9542 31.4978 27.0715 32.9107 25.5998ZM12.0679 24.6338C9.60584 22.0624 8.25 18.6856 8.25 15.1255C8.25 7.63136 14.3449 1.46354 21.8366 1.37639C29.3798 1.2908 35.6239 7.35223 35.748 14.8933C35.8083 18.5488 34.4484 22.0129 31.9188 24.6475C30.3409 26.291 29.2634 28.4692 28.9556 30.9379H22.6875V23.3754H24.75C28.92 23.3754 32.3125 19.9828 32.3125 15.8129V13.7504C32.3125 13.3707 32.0047 13.0629 31.625 13.0629H28.875C25.8281 13.0629 23.1966 14.8743 22 17.4766C20.8034 14.8744 18.1719 13.063 15.125 13.063H12.375C11.9953 13.063 11.6875 13.3708 11.6875 13.7505V15.813C11.6875 19.9829 15.0801 23.3755 19.25 23.3755H21.3125V30.938H15.0444C14.7324 28.4463 13.637 26.2726 12.0679 24.6338ZM28.0174 17.4227C27.7674 17.1369 27.3329 17.1081 27.0474 17.3581L22.6875 21.1729V20.6255C22.6875 17.2137 25.4632 14.438 28.875 14.438H30.9375V15.813C30.9375 19.2248 28.1618 22.0005 24.75 22.0005H23.8297L27.9527 18.3929C28.2385 18.1428 28.2674 17.7085 28.0174 17.4227ZM21.3125 21.1729L16.9527 17.358C16.6669 17.1079 16.2327 17.1369 15.9826 17.4227C15.7325 17.7084 15.7615 18.1427 16.0472 18.3928L20.1702 22.0005H19.25C15.8382 22.0005 13.0625 19.2248 13.0625 15.813V14.438H15.125C18.5368 14.438 21.3125 17.2137 21.3125 20.6255V21.1729ZM23.3262 42.6255H20.6739C18.5147 42.6255 16.6226 41.1941 15.985 39.188H28.015C27.3775 41.194 25.4854 42.6255 23.3262 42.6255ZM30.25 36.7817C30.25 37.3504 29.7874 37.813 29.2188 37.813C28.3809 37.813 15.3369 37.813 14.7813 37.813C14.2126 37.813 13.75 37.3504 13.75 36.7817C13.75 36.2131 14.2126 35.7505 14.7813 35.7505H29.2188C29.7874 35.7505 30.25 36.2131 30.25 36.7817ZM14.7813 34.3755C14.2126 34.3755 13.75 33.9129 13.75 33.3442C13.75 32.7756 14.2126 32.313 14.7813 32.313H29.2188C29.7874 32.313 30.25 32.7756 30.25 33.3442C30.25 33.9129 29.7874 34.3755 29.2188 34.3755H14.7813Z"
                      fill="currentColor"></path>
                    <path
                      d="M4.8125 15.1255C4.8125 14.7458 4.50468 14.438 4.125 14.438H0.687501C0.307828 14.438 0 14.7458 0 15.1255C0 15.5052 0.307828 15.813 0.687501 15.813H4.125C4.50468 15.813 4.8125 15.5052 4.8125 15.1255Z"
                      fill="currentColor"></path>
                    <path
                      d="M6.17603 23.4676L3.19907 25.1864C2.87027 25.3762 2.7576 25.7967 2.94744 26.1255C3.13762 26.4548 3.55811 26.5667 3.88657 26.3771L6.86353 24.6584C7.19233 24.4685 7.30499 24.048 7.11515 23.7193C6.92523 23.3905 6.50483 23.278 6.17603 23.4676Z"
                      fill="currentColor"></path>
                    <path
                      d="M3.19912 5.06455C6.38577 6.9043 6.25867 6.87551 6.51923 6.87551C7.22152 6.87551 7.47013 5.94266 6.86359 5.59246L3.88662 3.87371C3.55774 3.68387 3.13742 3.79654 2.9475 4.12533C2.75757 4.45422 2.87024 4.87471 3.19912 5.06455Z"
                      fill="currentColor"></path>
                    <path
                      d="M43.3125 14.438H39.875C39.4953 14.438 39.1875 14.7458 39.1875 15.1255C39.1875 15.5052 39.4953 15.813 39.875 15.813H43.3125C43.6922 15.813 44 15.5052 44 15.1255C44 14.7458 43.6922 14.438 43.3125 14.438Z"
                      fill="currentColor"></path>
                    <path
                      d="M40.8009 25.1863L37.8239 23.4675C37.4951 23.2776 37.0746 23.3903 36.8847 23.7191C36.6948 24.0479 36.8076 24.4684 37.1364 24.6583L40.1134 26.377C40.4408 26.5661 40.8619 26.4557 41.0526 26.1254C41.2425 25.7966 41.1298 25.3761 40.8009 25.1863Z"
                      fill="currentColor"></path>
                    <path
                      d="M37.4808 6.87552C37.7427 6.87552 37.6183 6.90199 40.801 5.06456C41.1298 4.87472 41.2425 4.45423 41.0527 4.12543C40.8628 3.79672 40.4424 3.68371 40.1135 3.87381L37.1364 5.59256C36.5287 5.94335 36.7796 6.87552 37.4808 6.87552Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <div class="border-right"></div>
                <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                  Saas Tech Enabled Platform
                </h5>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="tp-industry-content d-flex align-items-center tp-round-4 mb-20"
              >
                <span
                  class="tp-industry-icon d-inline-block tp-text-theme-primary"
                >
                  <svg
                    width="44"
                    height="44"
                    viewBox="0 0 44 44"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M21.998 5.99805C19.791 5.99805 17.996 7.79298 17.996 10C17.996 12.2071 19.791 14.0019 21.998 14.0019C24.2051 14.0019 25.9999 12.207 25.9999 10C25.9999 7.79308 24.205 5.99805 21.998 5.99805ZM21.998 12.002C20.8945 12.002 19.9961 11.1036 19.9961 10C19.9961 8.89651 20.8945 7.99811 21.998 7.99811C23.1016 7.99811 24 8.89651 24 10C24 11.1036 23.1016 12.002 21.998 12.002Z"
                      fill="currentColor"></path>
                    <path
                      d="M43 18C43.5527 18 44 17.5554 44 17.0027V13.0032C44 12.6507 43.8145 12.3236 43.5107 12.1439L23.9492 0.526948C23.9403 0.521042 23.9315 0.516167 23.9228 0.511292C22.707 -0.162489 21.3359 -0.182926 20.0497 0.524979L0.489281 12.1439C0.185531 12.3235 0 12.6507 0 13.0032V17.0027C0 17.5554 0.447281 18 1.00003 18H4.00003V36.0008C1.7939 36.0008 0 37.7945 0 40.0003V43.0001C0 43.5527 0.447281 44 1.00003 44H43C43.5527 44 44 43.5528 44 43.0001V40.0003C44 37.7945 42.2061 36.0008 40 36.0008V18H43ZM42 40V41.9999H1.99997V40C1.99997 38.8975 2.89743 38 3.99993 38H4.99996H39H40C41.1025 37.9999 42 38.8974 42 40ZM5.99999 35.9999V18H10V35.9999H5.99999ZM12 35.9999V18H18V35.9999H12ZM19.9999 35.9999V18H24V35.9999H19.9999ZM25.9999 35.9999V18H31.9999V35.9999H25.9999ZM34 35.9999V18H38V35.9999H34ZM1.99997 16V13.5693L21.042 2.25682C21.665 1.91407 22.3271 1.91501 22.9424 2.24998L42 13.5693V16H1.99997Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <div class="border-right"></div>
                <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                  Fostering Secure Environments
                </h5>
              </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6">
              <div
                class="tp-industry-content d-flex align-items-center tp-round-4 mb-20"
              >
                <span
                  class="tp-industry-icon d-inline-block tp-text-theme-primary"
                >
                  <svg
                    width="44"
                    height="44"
                    viewBox="0 0 44 44"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M43.6412 26.8709L43.6309 26.8533C43.1614 26.1384 42.4446 25.6219 41.618 25.4026C40.7913 25.1832 39.9128 25.2765 39.1506 25.6646L34.4518 28.0676C33.889 27.2775 33.061 26.716 32.1188 26.4854C31.1766 26.2548 30.1829 26.3706 29.3189 26.8115L23.4014 29.8443C23.0927 30.0033 22.7502 30.0852 22.403 30.083C22.0558 30.0809 21.7143 29.9947 21.4076 29.8318L17.3746 27.6907C15.8484 26.8759 14.1262 26.5 12.3992 26.6045C10.6723 26.7091 9.00808 27.2901 7.5913 28.2831L7.13594 26.1112C7.11608 26.0167 7.07773 25.927 7.02311 25.8473C6.96849 25.7677 6.89867 25.6996 6.81765 25.647C6.73664 25.5944 6.64603 25.5583 6.55103 25.5408C6.45603 25.5233 6.35851 25.5248 6.26408 25.5451L0.577552 26.7719C0.388259 26.8127 0.222804 26.9268 0.117298 27.0891C0.0117914 27.2515 -0.0251995 27.449 0.0143985 27.6386L3.32512 43.4135C3.35888 43.5789 3.44866 43.7275 3.57931 43.8344C3.70996 43.9413 3.87347 43.9998 4.04226 44.0001C4.094 43.9999 4.14558 43.9944 4.19625 43.984L9.88571 42.7594C10.0752 42.7186 10.2407 42.6044 10.3463 42.4419C10.4518 42.2793 10.4887 42.0816 10.4489 41.8919L10.1556 40.4804L12.0995 40.0617C12.666 39.9406 13.2492 39.9182 13.8234 39.9957L22.9658 40.9981C24.864 41.2491 26.7884 40.7974 28.3766 39.7281L43.0223 29.9022C43.5012 29.5781 43.8341 29.0793 43.9497 28.5127C44.0654 27.9461 43.9546 27.3568 43.6412 26.8709ZM4.60835 42.3913L1.60193 28.0522L5.85491 27.1356L8.86133 41.4754L4.60835 42.3913ZM42.2061 28.6864L27.5605 38.5123C26.2619 39.3834 24.6892 39.7486 23.1396 39.5389L13.9972 38.5365C13.2614 38.4373 12.5141 38.4671 11.7885 38.6245L9.85124 39.041L7.91834 29.8443L8.41916 29.4952C9.61506 28.6537 11.021 28.1606 12.4806 28.0707C13.9401 27.9809 15.396 28.2979 16.6861 28.9864L20.7191 31.1275C21.2345 31.4014 21.8085 31.5466 22.3922 31.5505C22.9758 31.5545 23.5518 31.4172 24.0709 31.1502L29.9898 28.1138C30.5815 27.8114 31.2667 27.7476 31.904 27.9356C32.5413 28.1236 33.0821 28.5491 33.4149 29.1242C33.5126 29.2926 33.5402 29.4926 33.4916 29.6811C33.443 29.8697 33.3223 30.0315 33.1554 30.1317L24.9955 34.9713C23.5689 35.8222 21.8695 36.0913 20.2498 35.7229L12.8907 33.9631L12.5504 35.39L19.9161 37.1499C21.9042 37.6054 23.9914 37.2769 25.7435 36.2325L33.9033 31.393C34.2376 31.1923 34.5125 30.9065 34.7 30.5646C34.8875 30.2228 34.9807 29.8373 34.9702 29.4476L39.8157 26.9684C40.2545 26.7456 40.7598 26.6919 41.2356 26.8175C41.7114 26.9431 42.1244 27.2392 42.3961 27.6496L42.4041 27.6621C42.5098 27.8253 42.5482 28.0232 42.5113 28.2141C42.4744 28.405 42.365 28.5743 42.2061 28.6864Z"
                      fill="currentColor"></path>
                    <path
                      d="M4.74553 28.877L3.3103 29.1785L3.61146 30.6123L5.04668 30.3108L4.74553 28.877Z"
                      fill="currentColor"></path>
                    <path
                      d="M21.5653 27.7236C21.6907 27.815 21.8419 27.8643 21.9972 27.8643C22.1524 27.8643 22.3036 27.815 22.4291 27.7236C29.7867 22.3567 34.3161 17.2392 35.9616 12.4656H39.7306C39.9036 12.9549 40.244 13.3672 40.6916 13.6298C41.1392 13.8924 41.6652 13.9882 42.1766 13.9005C42.6881 13.8127 43.152 13.547 43.4865 13.1503C43.821 12.7535 44.0044 12.2513 44.0044 11.7324C44.0044 11.2134 43.821 10.7112 43.4865 10.3145C43.152 9.91771 42.6881 9.65198 42.1766 9.56422C41.6652 9.47647 41.1392 9.57235 40.6916 9.83492C40.244 10.0975 39.9036 10.5098 39.7306 10.9991H36.3693C36.4942 10.4586 36.5812 9.90995 36.6296 9.35729C36.7591 8.24374 36.6626 7.11551 36.3459 6.04014C36.0291 4.96476 35.4986 3.96436 34.7862 3.09881C34.0631 2.13541 33.1254 1.35377 32.0476 0.815875C30.9697 0.277981 29.7814 -0.0013617 28.5768 4.99086e-06C26.1557 0.0946722 23.8374 1.00359 21.9972 2.57966C20.1569 1.00359 17.8386 0.0946722 15.4175 4.99086e-06C14.2127 -0.00130456 13.0242 0.278054 11.9462 0.815934C10.8681 1.35381 9.93017 2.13543 9.2067 3.09881C8.49459 3.96454 7.96437 4.96499 7.64776 6.04032C7.33114 7.11566 7.23463 8.2438 7.36399 9.35729C7.80615 14.9925 12.5842 21.1725 21.5653 27.7236ZM41.7955 10.9991C41.9405 10.9991 42.0823 11.0421 42.2029 11.1227C42.3235 11.2032 42.4175 11.3178 42.473 11.4517C42.5285 11.5857 42.543 11.7332 42.5147 11.8754C42.4864 12.0177 42.4166 12.1483 42.314 12.2509C42.2115 12.3534 42.0808 12.4233 41.9386 12.4515C41.7963 12.4798 41.6489 12.4653 41.5149 12.4098C41.3809 12.3543 41.2664 12.2603 41.1858 12.1397C41.1053 12.0192 41.0622 11.8774 41.0622 11.7324C41.0622 11.5379 41.1395 11.3514 41.277 11.2139C41.4145 11.0763 41.601 10.9991 41.7955 10.9991ZM10.2971 4.0792C10.3314 4.04527 10.3621 4.00793 10.3887 3.96774C10.9767 3.19063 11.7368 2.56036 12.6093 2.12639C13.4818 1.69242 14.443 1.46657 15.4175 1.46655C18.8155 1.46655 21.4523 4.05427 21.4787 4.07993C21.5468 4.14811 21.6277 4.20219 21.7167 4.2391C21.8058 4.276 21.9012 4.29499 21.9975 4.29499C22.0939 4.29499 22.1893 4.276 22.2783 4.2391C22.3674 4.20219 22.4482 4.14811 22.5163 4.07993C22.5427 4.0528 25.1605 1.46655 28.5768 1.46655C29.5519 1.46287 30.5144 1.6871 31.3875 2.12136C32.2606 2.55562 33.0202 3.18789 33.6056 3.96774C33.6323 4.00793 33.663 4.04527 33.6973 4.0792C34.2786 4.79513 34.7087 5.62155 34.9615 6.50847C35.2144 7.39539 35.2847 8.32437 35.1682 9.23923C35.1194 9.83349 35.0188 10.4223 34.8676 10.9991H29.0219L26.3 6.23282C26.2318 6.11242 26.1309 6.01377 26.009 5.94828C25.8872 5.88278 25.7492 5.85311 25.6112 5.8627C25.4731 5.87229 25.3406 5.92074 25.229 6.00245C25.1173 6.08416 25.031 6.19581 24.9801 6.32448L21.3541 15.3987L19.0311 7.85042C18.9894 7.71502 18.9095 7.59459 18.8008 7.50367C18.6922 7.41276 18.5596 7.35525 18.4189 7.33811C18.2783 7.32097 18.1358 7.34493 18.0085 7.40708C17.8812 7.46924 17.7746 7.56694 17.7017 7.68836L15.7152 10.9991H10.9981V12.4656H16.131C16.2575 12.4656 16.3819 12.4328 16.492 12.3705C16.6021 12.3082 16.6942 12.2185 16.7594 12.11L18.1108 9.85372L20.5607 17.8141C20.6059 17.9584 20.6947 18.0852 20.8148 18.1771C20.9349 18.269 21.0805 18.3215 21.2316 18.3274H21.2639C21.4105 18.3275 21.5538 18.2835 21.6753 18.2013C21.7967 18.1191 21.8907 18.0024 21.9451 17.8662L25.7801 8.27718L27.9601 12.0902C28.0235 12.2035 28.1158 12.298 28.2276 12.364C28.3395 12.4299 28.4668 12.465 28.5966 12.4656H34.3895C33.0322 15.9208 29.6562 20.5551 21.9972 26.2211C11.6646 18.5775 9.12751 12.8088 8.83053 9.2979C8.70524 8.37398 8.77074 7.43418 9.02298 6.53657C9.27522 5.63896 9.70886 4.80261 10.2971 4.0792Z"
                      fill="currentColor"></path>
                    <path
                      d="M5.8652 10.999H-0.000976562V12.4656H5.8652V10.999Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <div class="border-right"></div>
                <h5 class="fw-500 fs-18 mb-0 ml-25 pt-10 pb-10 pr-10">
                  AHealth care<br /> and life insurance
                </h5>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tp-benifits-area-end -->
