<!-- tp-about-area-start -->
               <div class="tp-about-area fix pb-110 tp-bg-common-white p-relative z-index-1">
                  <div class="container-fluid p-0">
                     <div class="row align-items-center">
                        <div class="col-lg-5">
                           <div class="tp-about-2-thumb image-reveal fix mb-30">
                              <img class="w-100" src="assets/img/about/two/tumb.jpg" alt="">
                           </div>
                        </div>
                        <div class="col-lg-7">
                           <div class="tp-about-2-content mb-30">
                              <span class="fw-500 fs-16 tp-text-grey-1 mb-5 d-inline-block">Our Mission</span>
                              <h2 class="mb-25 fs-xl-40 fs-sm-36 tp-text-revel-anim">The Future of <span class="tp-text-grey-1 text-italic fw-400 tp-ff-heading">Workplace Well-being</span> </h2>
                              <p class="mb-35">Delivering India's leading platform to make emergency preparedness effortless, empower every employee, and elevate safety standards through comprehensive certification, fostering truly secure workplaces nationwide.</p>
                              <div class="tp-about-bottom-feature mb-40">
                                 <ul>
                                    <li>
                                       <span>
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M8.83978 13.3222C8.93603 13.4075 9.08096 13.4093 9.17933 13.3242C11.3246 11.4628 13.2802 9.51058 15.6136 7.54059C15.8149 7.37056 15.9349 7.13292 15.9516 6.87085C16.0031 6.05639 15.0333 5.52305 14.3742 6.06824C12.9134 7.27471 11.6328 8.39908 10.4443 9.52112C9.73071 10.1947 8.61299 10.1908 7.95651 9.46142C7.56824 9.03024 6.86751 8.95563 6.39614 9.42126C5.98212 9.82993 5.96237 10.4859 6.35079 10.915C7.28829 11.9497 7.87687 12.4661 8.83978 13.3222Z" fill="#506767" />
                                             <path d="M3.80072 17.9489C7.08864 20.504 12.0632 20.705 15.508 18.3658C18.4679 16.3559 20.2041 12.4913 19.8901 8.90896C19.7028 3.58402 16.2428 0.268657 10.552 0.0095998C8.87823 -0.0697239 7.25166 0.344299 5.81753 1.18649C3.4219 2.31409 1.44101 4.35173 0.547132 6.85056C-0.855382 10.7713 0.512784 15.3939 3.80072 17.9489ZM2.65816 5.3857C4.2663 2.37732 7.13492 0.366469 10.5286 0.523028C16.157 0.779408 19.385 4.00323 19.385 9.36812C19.385 14.245 15.4174 18.2129 10.5403 18.2129C3.82042 18.2129 -0.336386 10.9882 2.65816 5.3857Z" fill="#506767" />
                                          </svg>
                                       </span>
                                       Emergency Readiness Simplified
                                    </li>
                                    <li>
                                       <span>
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M8.83978 13.3222C8.93603 13.4075 9.08096 13.4093 9.17933 13.3242C11.3246 11.4628 13.2802 9.51058 15.6136 7.54059C15.8149 7.37056 15.9349 7.13292 15.9516 6.87085C16.0031 6.05639 15.0333 5.52305 14.3742 6.06824C12.9134 7.27471 11.6328 8.39908 10.4443 9.52112C9.73071 10.1947 8.61299 10.1908 7.95651 9.46142C7.56824 9.03024 6.86751 8.95563 6.39614 9.42126C5.98212 9.82993 5.96237 10.4859 6.35079 10.915C7.28829 11.9497 7.87687 12.4661 8.83978 13.3222Z" fill="#506767" />
                                             <path d="M3.80072 17.9489C7.08864 20.504 12.0632 20.705 15.508 18.3658C18.4679 16.3559 20.2041 12.4913 19.8901 8.90896C19.7028 3.58402 16.2428 0.268657 10.552 0.0095998C8.87823 -0.0697239 7.25166 0.344299 5.81753 1.18649C3.4219 2.31409 1.44101 4.35173 0.547132 6.85056C-0.855382 10.7713 0.512784 15.3939 3.80072 17.9489ZM2.65816 5.3857C4.2663 2.37732 7.13492 0.366469 10.5286 0.523028C16.157 0.779408 19.385 4.00323 19.385 9.36812C19.385 14.245 15.4174 18.2129 10.5403 18.2129C3.82042 18.2129 -0.336386 10.9882 2.65816 5.3857Z" fill="#506767" />
                                          </svg>
                                       </span>
                                       Employee Empowerment Driven
                                    </li>
                                    <li>
                                       <span>
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M8.83978 13.3222C8.93603 13.4075 9.08096 13.4093 9.17933 13.3242C11.3246 11.4628 13.2802 9.51058 15.6136 7.54059C15.8149 7.37056 15.9349 7.13292 15.9516 6.87085C16.0031 6.05639 15.0333 5.52305 14.3742 6.06824C12.9134 7.27471 11.6328 8.39908 10.4443 9.52112C9.73071 10.1947 8.61299 10.1908 7.95651 9.46142C7.56824 9.03024 6.86751 8.95563 6.39614 9.42126C5.98212 9.82993 5.96237 10.4859 6.35079 10.915C7.28829 11.9497 7.87687 12.4661 8.83978 13.3222Z" fill="#506767" />
                                             <path d="M3.80072 17.9489C7.08864 20.504 12.0632 20.705 15.508 18.3658C18.4679 16.3559 20.2041 12.4913 19.8901 8.90896C19.7028 3.58402 16.2428 0.268657 10.552 0.0095998C8.87823 -0.0697239 7.25166 0.344299 5.81753 1.18649C3.4219 2.31409 1.44101 4.35173 0.547132 6.85056C-0.855382 10.7713 0.512784 15.3939 3.80072 17.9489ZM2.65816 5.3857C4.2663 2.37732 7.13492 0.366469 10.5286 0.523028C16.157 0.779408 19.385 4.00323 19.385 9.36812C19.385 14.245 15.4174 18.2129 10.5403 18.2129C3.82042 18.2129 -0.336386 10.9882 2.65816 5.3857Z" fill="#506767" />
                                          </svg>
                                       </span>
                                       Nationwide Safety Certification
                                    </li>
                                    <li>
                                       <span>
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M8.83978 13.3222C8.93603 13.4075 9.08096 13.4093 9.17933 13.3242C11.3246 11.4628 13.2802 9.51058 15.6136 7.54059C15.8149 7.37056 15.9349 7.13292 15.9516 6.87085C16.0031 6.05639 15.0333 5.52305 14.3742 6.06824C12.9134 7.27471 11.6328 8.39908 10.4443 9.52112C9.73071 10.1947 8.61299 10.1908 7.95651 9.46142C7.56824 9.03024 6.86751 8.95563 6.39614 9.42126C5.98212 9.82993 5.96237 10.4859 6.35079 10.915C7.28829 11.9497 7.87687 12.4661 8.83978 13.3222Z" fill="#506767" />
                                             <path d="M3.80072 17.9489C7.08864 20.504 12.0632 20.705 15.508 18.3658C18.4679 16.3559 20.2041 12.4913 19.8901 8.90896C19.7028 3.58402 16.2428 0.268657 10.552 0.0095998C8.87823 -0.0697239 7.25166 0.344299 5.81753 1.18649C3.4219 2.31409 1.44101 4.35173 0.547132 6.85056C-0.855382 10.7713 0.512784 15.3939 3.80072 17.9489ZM2.65816 5.3857C4.2663 2.37732 7.13492 0.366469 10.5286 0.523028C16.157 0.779408 19.385 4.00323 19.385 9.36812C19.385 14.245 15.4174 18.2129 10.5403 18.2129C3.82042 18.2129 -0.336386 10.9882 2.65816 5.3857Z" fill="#506767" />
                                          </svg>
                                       </span>
                                       Integrated Platform Solution
                                    </li>
                                    <li>
                                       <span>
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M8.83978 13.3222C8.93603 13.4075 9.08096 13.4093 9.17933 13.3242C11.3246 11.4628 13.2802 9.51058 15.6136 7.54059C15.8149 7.37056 15.9349 7.13292 15.9516 6.87085C16.0031 6.05639 15.0333 5.52305 14.3742 6.06824C12.9134 7.27471 11.6328 8.39908 10.4443 9.52112C9.73071 10.1947 8.61299 10.1908 7.95651 9.46142C7.56824 9.03024 6.86751 8.95563 6.39614 9.42126C5.98212 9.82993 5.96237 10.4859 6.35079 10.915C7.28829 11.9497 7.87687 12.4661 8.83978 13.3222Z" fill="#506767" />
                                             <path d="M3.80072 17.9489C7.08864 20.504 12.0632 20.705 15.508 18.3658C18.4679 16.3559 20.2041 12.4913 19.8901 8.90896C19.7028 3.58402 16.2428 0.268657 10.552 0.0095998C8.87823 -0.0697239 7.25166 0.344299 5.81753 1.18649C3.4219 2.31409 1.44101 4.35173 0.547132 6.85056C-0.855382 10.7713 0.512784 15.3939 3.80072 17.9489ZM2.65816 5.3857C4.2663 2.37732 7.13492 0.366469 10.5286 0.523028C16.157 0.779408 19.385 4.00323 19.385 9.36812C19.385 14.245 15.4174 18.2129 10.5403 18.2129C3.82042 18.2129 -0.336386 10.9882 2.65816 5.3857Z" fill="#506767" />
                                          </svg>
                                       </span>
                                       Fostering Secure Environments
                                    </li>
                                    <li>
                                       <span>
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M8.83978 13.3222C8.93603 13.4075 9.08096 13.4093 9.17933 13.3242C11.3246 11.4628 13.2802 9.51058 15.6136 7.54059C15.8149 7.37056 15.9349 7.13292 15.9516 6.87085C16.0031 6.05639 15.0333 5.52305 14.3742 6.06824C12.9134 7.27471 11.6328 8.39908 10.4443 9.52112C9.73071 10.1947 8.61299 10.1908 7.95651 9.46142C7.56824 9.03024 6.86751 8.95563 6.39614 9.42126C5.98212 9.82993 5.96237 10.4859 6.35079 10.915C7.28829 11.9497 7.87687 12.4661 8.83978 13.3222Z" fill="#506767" />
                                             <path d="M3.80072 17.9489C7.08864 20.504 12.0632 20.705 15.508 18.3658C18.4679 16.3559 20.2041 12.4913 19.8901 8.90896C19.7028 3.58402 16.2428 0.268657 10.552 0.0095998C8.87823 -0.0697239 7.25166 0.344299 5.81753 1.18649C3.4219 2.31409 1.44101 4.35173 0.547132 6.85056C-0.855382 10.7713 0.512784 15.3939 3.80072 17.9489ZM2.65816 5.3857C4.2663 2.37732 7.13492 0.366469 10.5286 0.523028C16.157 0.779408 19.385 4.00323 19.385 9.36812C19.385 14.245 15.4174 18.2129 10.5403 18.2129C3.82042 18.2129 -0.336386 10.9882 2.65816 5.3857Z" fill="#506767" />
                                          </svg>
                                       </span>
                                       Driving Proactive Safety
                                    </li>
                                    <li>
                                       <span>
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M8.83978 13.3222C8.93603 13.4075 9.08096 13.4093 9.17933 13.3242C11.3246 11.4628 13.2802 9.51058 15.6136 7.54059C15.8149 7.37056 15.9349 7.13292 15.9516 6.87085C16.0031 6.05639 15.0333 5.52305 14.3742 6.06824C12.9134 7.27471 11.6328 8.39908 10.4443 9.52112C9.73071 10.1947 8.61299 10.1908 7.95651 9.46142C7.56824 9.03024 6.86751 8.95563 6.39614 9.42126C5.98212 9.82993 5.96237 10.4859 6.35079 10.915C7.28829 11.9497 7.87687 12.4661 8.83978 13.3222Z" fill="#506767" />
                                             <path d="M3.80072 17.9489C7.08864 20.504 12.0632 20.705 15.508 18.3658C18.4679 16.3559 20.2041 12.4913 19.8901 8.90896C19.7028 3.58402 16.2428 0.268657 10.552 0.0095998C8.87823 -0.0697239 7.25166 0.344299 5.81753 1.18649C3.4219 2.31409 1.44101 4.35173 0.547132 6.85056C-0.855382 10.7713 0.512784 15.3939 3.80072 17.9489ZM2.65816 5.3857C4.2663 2.37732 7.13492 0.366469 10.5286 0.523028C16.157 0.779408 19.385 4.00323 19.385 9.36812C19.385 14.245 15.4174 18.2129 10.5403 18.2129C3.82042 18.2129 -0.336386 10.9882 2.65816 5.3857Z" fill="#506767" />
                                          </svg>
                                       </span>
                                       Clearly define the purpose
                                    </li>
                                    <li>
                                       <span>
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M8.83978 13.3222C8.93603 13.4075 9.08096 13.4093 9.17933 13.3242C11.3246 11.4628 13.2802 9.51058 15.6136 7.54059C15.8149 7.37056 15.9349 7.13292 15.9516 6.87085C16.0031 6.05639 15.0333 5.52305 14.3742 6.06824C12.9134 7.27471 11.6328 8.39908 10.4443 9.52112C9.73071 10.1947 8.61299 10.1908 7.95651 9.46142C7.56824 9.03024 6.86751 8.95563 6.39614 9.42126C5.98212 9.82993 5.96237 10.4859 6.35079 10.915C7.28829 11.9497 7.87687 12.4661 8.83978 13.3222Z" fill="#506767" />
                                             <path d="M3.80072 17.9489C7.08864 20.504 12.0632 20.705 15.508 18.3658C18.4679 16.3559 20.2041 12.4913 19.8901 8.90896C19.7028 3.58402 16.2428 0.268657 10.552 0.0095998C8.87823 -0.0697239 7.25166 0.344299 5.81753 1.18649C3.4219 2.31409 1.44101 4.35173 0.547132 6.85056C-0.855382 10.7713 0.512784 15.3939 3.80072 17.9489ZM2.65816 5.3857C4.2663 2.37732 7.13492 0.366469 10.5286 0.523028C16.157 0.779408 19.385 4.00323 19.385 9.36812C19.385 14.245 15.4174 18.2129 10.5403 18.2129C3.82042 18.2129 -0.336386 10.9882 2.65816 5.3857Z" fill="#506767" />
                                          </svg>
                                       </span>
                                       Satisfied clients to build
                                    </li>
                                 </ul>
                              </div>
                              <a href="about.html" class="tp-btn-xl d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                 <span class="d-flex align-items-center justify-content-center">
                                    <span class="btn-text"> Compare with others</span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                 </span> 
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- tp-about-area-end -->