<!-- tp-process-area-start -->
<div class="tp-process-area tp-bg-grey-3 fix pt-60">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-6">
        <div class="tp-process-7-thumb h-100 image-reveal fix">
          <img
            class="w-100"
            src="assets/img/process/process-7/thumb.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tp-process-7-content pt-130 pb-100">
          <h2 class="mb-25 fs-xl-40 fs-sm-36 mb-60 tp-text-revel-anim">
            Our&nbsp;<span class="text-italic fw-400 tp-ff-heading">Vision</span
            >
          </h2>
          <div class="tp-process-7-list-wrap">
            <div class="tp-process-7-list pl-80">
              <div class="tp-process-7-item tpshake-wrap-2 mb-55">
                <div class="tp-process-7-icon d-flex mb-15">
                  <span class="d-inline-block mr-30 tpshake-2">
                    <svg
                      width="48"
                      height="48"
                      viewBox="0 0 48 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12.2099 12.9624L8.05132 13.2837C6.89417 13.3731 5.86358 13.9796 5.22365 14.9475L0.427708 22.2011C-0.0576325 22.9352 -0.134788 23.8538 0.221178 24.6586C0.577239 25.4633 1.30895 26.0241 2.17848 26.1589L5.98611 26.7485C6.87682 22.0217 9.00906 17.3065 12.2099 12.9624Z"
                        fill="#506767"></path>
                      <path
                        d="M21.252 42.0138L21.8417 45.8214C21.9764 46.6909 22.5373 47.4227 23.3419 47.7786C23.6767 47.9267 24.0311 47.9999 24.3837 47.9999C24.8789 47.9999 25.3707 47.8556 25.7995 47.5721L33.0532 42.7762C34.0212 42.1362 34.6277 41.1055 34.7169 39.9486L35.0382 35.79C30.694 38.9909 25.9789 41.1232 21.252 42.0138Z"
                        fill="#506767"></path>
                      <path
                        d="M19.819 39.3749C19.9512 39.3749 20.0841 39.364 20.2167 39.3419C22.1971 39.0108 24.1058 38.453 25.9266 37.7228L10.2771 22.0732C9.54694 23.8939 8.98913 25.8027 8.658 27.7831C8.5275 28.5638 8.78935 29.3591 9.34894 29.9188L18.0811 38.651C18.5458 39.1155 19.1728 39.3749 19.819 39.3749Z"
                        fill="#506767"></path>
                      <path
                        d="M44.1731 21.2814C48.0026 13.8776 48.1445 6.05368 47.9443 2.38433C47.8758 1.12706 46.8734 0.124687 45.6161 0.0561559C45.0186 0.0235311 44.3105 0 43.5124 0C39.4094 0 32.9171 0.621465 26.719 3.82741C21.7932 6.37524 15.3342 11.9853 11.5234 19.3579C11.5684 19.3931 11.6124 19.4304 11.6538 19.4718L28.5287 36.3467C28.5702 36.3882 28.6074 36.432 28.6425 36.4771C36.0152 32.6662 41.6252 26.2072 44.1731 21.2814ZM27.9094 10.1474C30.6508 7.40611 35.1114 7.40583 37.853 10.1474C39.181 11.4754 39.9124 13.2412 39.9124 15.1192C39.9124 16.9973 39.181 18.7631 37.853 20.0911C36.4824 21.4616 34.6815 22.147 32.8812 22.1472C31.0804 22.1473 29.2803 21.462 27.9094 20.0911C26.5814 18.7631 25.8499 16.9973 25.8499 15.1192C25.8499 13.2412 26.5814 11.4754 27.9094 10.1474Z"
                        fill="#506767"></path>
                      <path
                        d="M29.8977 18.1022C31.5426 19.747 34.2192 19.7471 35.864 18.1022C36.6608 17.3053 37.0996 16.2459 37.0996 15.119C37.0996 13.9922 36.6608 12.9328 35.864 12.136C35.0416 11.3135 33.9612 10.9023 32.8809 10.9023C31.8006 10.9023 30.7202 11.3135 29.8978 12.136C29.101 12.9328 28.6621 13.9922 28.6621 15.119C28.6621 16.2459 29.101 17.3054 29.8977 18.1022Z"
                        fill="#506767"></path>
                      <path
                        d="M1.4356 39.5566C1.7955 39.5566 2.15541 39.4194 2.42991 39.1447L7.02114 34.5534C7.57032 34.0043 7.57032 33.1139 7.02114 32.5647C6.47204 32.0155 5.5816 32.0155 5.03241 32.5647L0.441188 37.1559C-0.108 37.7051 -0.108 38.5955 0.441188 39.1447C0.715782 39.4193 1.07569 39.5566 1.4356 39.5566Z"
                        fill="#506767"></path>
                      <path
                        d="M11.2277 36.7722C10.6786 36.2231 9.78813 36.2231 9.23894 36.7722L0.411891 45.5993C-0.137297 46.1485 -0.137297 47.0388 0.411891 47.588C0.686485 47.8626 1.04639 47.9999 1.4063 47.9999C1.76621 47.9999 2.12611 47.8626 2.40061 47.5879L11.2276 38.761C11.7768 38.2118 11.7768 37.3214 11.2277 36.7722Z"
                        fill="#506767"></path>
                      <path
                        d="M13.4464 40.9798L8.85525 45.571C8.30606 46.1202 8.30606 47.0105 8.85525 47.5597C9.12984 47.8343 9.48975 47.9717 9.84956 47.9717C10.2094 47.9717 10.5694 47.8344 10.8439 47.5597L15.4351 42.9685C15.9843 42.4193 15.9843 41.529 15.4351 40.9798C14.886 40.4306 13.9956 40.4306 13.4464 40.9798Z"
                        fill="#506767"></path>
                    </svg>
                  </span>
                  <h4 class="fs-24 ls-m-3">
                    <a href="#">Empowering Safe Workforce For You</a>
                  </h4>
                </div>
                <p>
                  We envision empowering every employee with the tools and
                  knowledge for a secure and resilient workplace. Our platform
                  makes safety intuitive and integral, ensuring everyone feels
                  prepared and protected.
                </p>
              </div>
              <div class="tp-process-7-item tpshake-wrap-2 mb-55">
                <div class="tp-process-7-icon d-flex mb-15">
                  <span class="d-inline-block mr-30 tpshake-2">
                    <svg
                      width="36"
                      height="48"
                      viewBox="0 0 36 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M24.63 15.79C21.87 15.79 19.63 13.55 19.63 10.79V0H3C1.34 0 0 1.34 0 3V45C0 46.66 1.35 48 3 48H32.42C34.08 48 35.42 46.66 35.42 45V15.79H24.63ZM16.14 20.95L21.41 26.22L27.19 20.44C27.58 20.05 28.21 20.05 28.6 20.44C28.99 20.83 28.99 21.47 28.6 21.86L22.12 28.34C21.73 28.73 21.09 28.73 20.7 28.34L15.43 23.07L6.89 31.61C6.7 31.81 6.44 31.9 6.19 31.9C5.93 31.9 5.68 31.81 5.48 31.61C5.09 31.22 5.09 30.59 5.48 30.2L14.73 20.95C15.12 20.56 15.75 20.56 16.14 20.95ZM5.92 10.82C4.478 9.6 4.83 6.006 8.43 5.82V5.07H9.38V5.83C10.48 5.92 11.52 6.31 12.51 6.97L11.53 8.37C10.87 7.89 10.15 7.59 9.38 7.49V10.32C9.828 10.32 11.301 10.838 11.97 11.42C13.396 12.635 13.235 16.248 9.38 16.47V17.55H8.43V16.46C7.05 16.33 5.8 15.77 4.71 14.82L5.82 13.5C6.65 14.24 7.52 14.67 8.43 14.82V11.89C7.29 11.62 6.46 11.26 5.92 10.82ZM8.38 44H4V34.99H8.38V44ZM16.06 44H11.68V33.09H16.06V44ZM23.74 44H19.36V38.26H23.74V44ZM31.42 44H27.04V28.02H31.42V44ZM9.38 12.16V14.86C11.197 14.675 11.813 12.798 9.38 12.16ZM8.43 7.44C6.992 7.536 6.596 8.806 7.26 9.47C7.48 9.68 7.87 9.86 8.43 10.04V7.44Z"
                        fill="#506767"></path>
                    </svg>
                  </span>
                  <h4 class="fs-24 ls-m-3">
                    <a href="#">Redefining Workplace Readiness</a>
                  </h4>
                </div>
                <p>
                  We aim to transform emergency readiness into a seamless,
                  integrated part of every company's culture. Our platform sets
                  the national standard for proactive safety and rapid response,
                  making every workplace a bastion of preparedness.
                </p>
              </div>
              <div class="tp-process-7-item tpshake-wrap-2 mb-55">
                <div class="tp-process-7-icon d-flex mb-15">
                  <span class="d-inline-block mr-30 tpshake-2">
                    <svg
                      width="48"
                      height="48"
                      viewBox="0 0 48 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0 32.25V47.9999H8.99995V30.75H1.49999C1.10217 30.75 0.720641 30.908 0.439338 31.1893C0.158034 31.4706 0 31.8522 0 32.25Z"
                        fill="#506767"></path>
                      <path
                        d="M10.5 24V47.9999H19.5V22.5H12C11.6022 22.5 11.2206 22.658 10.9393 22.9393C10.658 23.2206 10.5 23.6022 10.5 24Z"
                        fill="#506767"></path>
                      <path
                        d="M46.7163 11.6014L33.9931 0.375246C33.7191 0.133436 33.3662 0 33.0007 0C32.6352 0 32.2823 0.133436 32.0083 0.375246L19.2856 11.6014C19.0782 11.7802 18.9225 12.0114 18.8348 12.2708C18.747 12.5302 18.7303 12.8084 18.7865 13.0764C18.8607 13.4094 19.0462 13.7072 19.3124 13.9206C19.5786 14.134 19.9096 14.2502 20.2508 14.2502H21.0008V48H45.0006V14.2502H45.7506C46.0918 14.2502 46.4228 14.134 46.689 13.9206C46.9552 13.7072 47.1407 13.4094 47.2149 13.0764C47.2711 12.8084 47.2545 12.5303 47.1668 12.2709C47.0791 12.0115 46.9236 11.7803 46.7163 11.6014ZM31.5007 24.0001H34.5007C35.6942 24.0001 36.8387 24.4742 37.6827 25.3181C38.5266 26.162 39.0007 27.3066 39.0007 28.5001C39.0007 29.6936 38.5266 30.8382 37.6827 31.6821C36.8387 32.526 35.6942 33.0001 34.5007 33.0001V34.5001H31.5007V33.0001C30.3077 32.9987 29.1638 32.5242 28.3202 31.6806C27.4766 30.837 27.0021 29.6932 27.0007 28.5001H30.0007C30.0012 28.8978 30.1594 29.279 30.4406 29.5602C30.7218 29.8414 31.103 29.9996 31.5007 30.0001H34.5007C34.8985 30.0001 35.28 29.8421 35.5613 29.5608C35.8427 29.2795 36.0007 28.8979 36.0007 28.5001C36.0007 28.1023 35.8427 27.7208 35.5613 27.4394C35.28 27.1581 34.8985 27.0001 34.5007 27.0001H31.5007C30.3072 27.0001 29.1627 26.526 28.3187 25.6821C27.4748 24.8382 27.0007 23.6936 27.0007 22.5001C27.0007 21.3067 27.4748 20.1621 28.3187 19.3182C29.1627 18.4743 30.3072 18.0002 31.5007 18.0002V16.5002H34.5007V18.0002C35.6938 18.0015 36.8376 18.476 37.6812 19.3196C38.5248 20.1633 38.9993 21.3071 39.0007 22.5001H36.0007C36.0002 22.1025 35.842 21.7212 35.5608 21.44C35.2796 21.1588 34.8984 21.0006 34.5007 21.0001H31.5007C31.1029 21.0001 30.7214 21.1582 30.4401 21.4395C30.1587 21.7208 30.0007 22.1023 30.0007 22.5001C30.0007 22.898 30.1587 23.2795 30.4401 23.5608C30.7214 23.8421 31.1029 24.0001 31.5007 24.0001Z"
                        fill="#506767"></path>
                    </svg>
                  </span>
                  <h4 class="fs-24 ls-m-3">
                    <a href="#">A Nation Certified Safe</a>
                  </h4>
                </div>
                <p>
                  Our goal is to drive a nationwide movement for certified
                  workplace safety. We envision "Secure Place™" as the
                  benchmark for excellence, elevating the overall health and
                  well-being of workforce.
                </p>
              </div>
              <div class="tp-process-7-item tpshake-wrap-2 mb-55">
                <div class="tp-process-7-icon d-flex mb-15">
                  <span class="d-inline-block mr-30 tpshake-2">
                    <svg
                      width="48"
                      height="48"
                      viewBox="0 0 48 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M48 45.1875H45.1875V16.875H36.6562V45.1875H33.8438V28.125H25.4062V45.1875H22.5938V22.5H14.1562V45.1875H11.3438V30.9375H2.8125V45.1875H0V48H48V45.1875Z"
                        fill="#506767"></path>
                      <path
                        d="M48.0001 11.25V0H36.6563V2.8125H43.199L29.6251 16.2927L18.3751 5.04272L0.412109 22.912L2.40055 24.9005L18.3751 9.01978L29.6251 20.2698L45.1876 4.80103V11.25H48.0001Z"
                        fill="#506767"></path>
                    </svg>
                  </span>
                  <h4 class="fs-24 ls-m-3">
                    <a href="#">The Future of Connected Safety</a>
                  </h4>
                </div>
                <p>
                  We're building future of workplace safety: a connected
                  ecosystem where emergency protocols, employee feedback, and
                  real-time data converge. Our vision is a dynamic, responsive
                  environment that anticipates risks and ensures well-being.
                </p>
              </div>
              <div class="tp-process-7-item tpshake-wrap-2">
                <div class="tp-process-7-icon d-flex mb-15">
                  <span class="d-inline-block mr-30 tpshake-2">
                    <svg
                      width="48"
                      height="48"
                      viewBox="0 0 48 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12.2099 12.9624L8.05132 13.2837C6.89417 13.3731 5.86358 13.9796 5.22365 14.9475L0.427708 22.2011C-0.0576325 22.9352 -0.134788 23.8538 0.221178 24.6586C0.577239 25.4633 1.30895 26.0241 2.17848 26.1589L5.98611 26.7485C6.87682 22.0217 9.00906 17.3065 12.2099 12.9624Z"
                        fill="#506767"></path>
                      <path
                        d="M21.252 42.0138L21.8417 45.8214C21.9764 46.6909 22.5373 47.4227 23.3419 47.7786C23.6767 47.9267 24.0311 47.9999 24.3837 47.9999C24.8789 47.9999 25.3707 47.8556 25.7995 47.5721L33.0532 42.7762C34.0212 42.1362 34.6277 41.1055 34.7169 39.9486L35.0382 35.79C30.694 38.9909 25.9789 41.1232 21.252 42.0138Z"
                        fill="#506767"></path>
                      <path
                        d="M19.819 39.3749C19.9512 39.3749 20.0841 39.364 20.2167 39.3419C22.1971 39.0108 24.1058 38.453 25.9266 37.7228L10.2771 22.0732C9.54694 23.8939 8.98913 25.8027 8.658 27.7831C8.5275 28.5638 8.78935 29.3591 9.34894 29.9188L18.0811 38.651C18.5458 39.1155 19.1728 39.3749 19.819 39.3749Z"
                        fill="#506767"></path>
                      <path
                        d="M44.1731 21.2814C48.0026 13.8776 48.1445 6.05368 47.9443 2.38433C47.8758 1.12706 46.8734 0.124687 45.6161 0.0561559C45.0186 0.0235311 44.3105 0 43.5124 0C39.4094 0 32.9171 0.621465 26.719 3.82741C21.7932 6.37524 15.3342 11.9853 11.5234 19.3579C11.5684 19.3931 11.6124 19.4304 11.6538 19.4718L28.5287 36.3467C28.5702 36.3882 28.6074 36.432 28.6425 36.4771C36.0152 32.6662 41.6252 26.2072 44.1731 21.2814ZM27.9094 10.1474C30.6508 7.40611 35.1114 7.40583 37.853 10.1474C39.181 11.4754 39.9124 13.2412 39.9124 15.1192C39.9124 16.9973 39.181 18.7631 37.853 20.0911C36.4824 21.4616 34.6815 22.147 32.8812 22.1472C31.0804 22.1473 29.2803 21.462 27.9094 20.0911C26.5814 18.7631 25.8499 16.9973 25.8499 15.1192C25.8499 13.2412 26.5814 11.4754 27.9094 10.1474Z"
                        fill="#506767"></path>
                      <path
                        d="M29.8977 18.1022C31.5426 19.747 34.2192 19.7471 35.864 18.1022C36.6608 17.3053 37.0996 16.2459 37.0996 15.119C37.0996 13.9922 36.6608 12.9328 35.864 12.136C35.0416 11.3135 33.9612 10.9023 32.8809 10.9023C31.8006 10.9023 30.7202 11.3135 29.8978 12.136C29.101 12.9328 28.6621 13.9922 28.6621 15.119C28.6621 16.2459 29.101 17.3054 29.8977 18.1022Z"
                        fill="#506767"></path>
                      <path
                        d="M1.4356 39.5566C1.7955 39.5566 2.15541 39.4194 2.42991 39.1447L7.02114 34.5534C7.57032 34.0043 7.57032 33.1139 7.02114 32.5647C6.47204 32.0155 5.5816 32.0155 5.03241 32.5647L0.441188 37.1559C-0.108 37.7051 -0.108 38.5955 0.441188 39.1447C0.715782 39.4193 1.07569 39.5566 1.4356 39.5566Z"
                        fill="#506767"></path>
                      <path
                        d="M11.2277 36.7722C10.6786 36.2231 9.78813 36.2231 9.23894 36.7722L0.411891 45.5993C-0.137297 46.1485 -0.137297 47.0388 0.411891 47.588C0.686485 47.8626 1.04639 47.9999 1.4063 47.9999C1.76621 47.9999 2.12611 47.8626 2.40061 47.5879L11.2276 38.761C11.7768 38.2118 11.7768 37.3214 11.2277 36.7722Z"
                        fill="#506767"></path>
                      <path
                        d="M13.4464 40.9798L8.85525 45.571C8.30606 46.1202 8.30606 47.0105 8.85525 47.5597C9.12984 47.8343 9.48975 47.9717 9.84956 47.9717C10.2094 47.9717 10.5694 47.8344 10.8439 47.5597L15.4351 42.9685C15.9843 42.4193 15.9843 41.529 15.4351 40.9798C14.886 40.4306 13.9956 40.4306 13.4464 40.9798Z"
                        fill="#506767"></path>
                    </svg>
                  </span>
                  <h4 class="fs-24 ls-m-3">
                    <a href="#">From Compliance to Culture</a>
                  </h4>
                </div>
                <p>
                  Our vision is to transform workplace safety from mere
                  compliance into an embedded organizational culture. By making
                  safety intuitive and engaging, we cultivate environments where
                  every employee actively contributes to a truly secure place to
                  work.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tp-process-area-end -->
