<!-- tp-portfolio-area-start -->
               <div class="tp-portfolio-area pb-60">
                  <div class="container-fluid container-1690">
                     <div class="tp-project-4-bg tp-round-4 anim-zoomin-wrap p-relative pt-120 pb-120">
                        <div class="tp-gsap-image-position anim-zoomin fix">
                           <img class="tp-gsap-image-cover" src="assets/img/project/four/bg.jpg" alt="">
                        </div>
                        <div class="row">
                           <!-- <div class="col-lg-12">
                              <div class="text-right">
                                 <div class="tp-project-4-para tp-round-4">
                                    <h5 class="fs-24 fw-500 tp-text-common-white mb-10">Superb consulting</h5>
                                    <p class="tp-text-grey-3">This year is significant because it provides
                                       insight into the history and experience </p>
                                 </div>
                              </div>
                           </div> -->
                           <div class="col-lg-12">
                              <div class="tp-testimonial-3-content">
                                 <!-- <h2 class="tp-text-grey-3 fs-80"><span data-purecounter-duration="1" data-purecounter-end="256"  class="purecounter">0</span>k</h2> -->
                                  <h4 class="tp-text-grey-3 fs-80">Secure Place to Work™</h4>
                                 <h5 class="tp-text-common-white fw-500 lh-36 mb-35">Become nationally recognized as a trusted and safe workplace.</h5>
                                 <a href="contact.html" class="tp-btn-xl d-inline-block lh-0 tp-round-26 fs-16 mr-20 ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                    <span class="d-flex align-items-center justify-content-center">
                                       <span class="btn-text">Get Certified</span>
                                       <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                       <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span> 
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- tp-portfolio-area-end -->