<!-- tp-hero-area-start -->
               <div class="tp-hero-area tp-hero-gsap-spacing fix p-relative">
                  <div class="swiper tp-hero-slider-zoom">
                     <div class="swiper-wrapper">
                        <div class="swiper-slide">
                           <div class="tp-hero-singles p-relative not-hide-cursor" data-cursor="Drag">
                              <div class="tp-hero-bg bg-position" data-background="assets/img/hero/bg.jpg"></div>
                              <div class="container">
                                 <div class="row align-items-end">
                                    <div class="col-lg-7 tp-hero-spacing">
                                       <div class="tp-hero-content-wrapper">
                                          <h2 class="tp-hero-title text fw-600 fs-70 fs-lg-50 fs-xs-34 ls-m-3 tp-text-common-white lh-1 mb-25">India’s First Workplace Safety Platform <span class="tp-ff-heading text-italic tp-text-theme-secondary fw-400">— Make Your Company a Secure Place™</span></h2>
                                          <p class="text2 mb-50 tp-text-grey-3">Emergency readiness, employee empowerment, and safety certification — all in one app.
</p>
                                          <div class="tp-hero-btn text3">
                                             <a href="/" class="tp-btn-xl d-inline-block lh-0 tp-round-24 fs-16 tp-bg-common-white ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                <span class="d-flex align-items-center justify-content-center">
                                                   <span class="btn-text"> Request a Demo </span>
                                                   <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                   <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                </span> 
                                             </a>

                                             <a href="/" class="tp-btn-xl d-inline-block lh-0 tp-round-24 fs-16 tp-bg-common-white ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                <span class="d-flex align-items-center justify-content-center">
                                                   <span class="btn-text"> Get Certified Now</span>
                                                   <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                   <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                </span> 
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-5">
                                       <div class="tp-hero-contact tp-round-4 mb-100 tp-slider-para-home">
                                          <p class="tp-text-grey-3 mb-25">Schedule a consultation to discuss your
                                             legal needs and goals today</p>
                                          <div class="tp-hero-contact-btn">
                                             <a href="/" class="fw-500 tp-text-common-white d-flex justify-content-between align-items-center">Contact us <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- <div class="swiper-slide">
                           <div class="tp-hero-singles p-relative not-hide-cursor" data-cursor="Drag">
                              <div class="tp-hero-bg bg-position" data-background="assets/img/hero/bg-2.jpg"></div>
                              <div class="container">
                                 <div class="row align-items-end">
                                    <div class="col-lg-7 tp-hero-spacing">
                                       <div class="tp-hero-content-wrapper">
                                          <h2 class="tp-hero-title text fw-600 fs-70 fs-lg-50 fs-xs-34 ls-m-3 tp-text-common-white lh-1 mb-25">Professional guidance for
                                             a sustainable <span class="tp-ff-heading text-italic tp-text-theme-secondary fw-400">tomorrow.</span></h2>
                                          <p class="text2 mb-50 tp-text-grey-3">The word conjures images of business suits, boardrooms and hefty  reports. It’s notorious for being
                                             one of those jobs your friends don’t  understand. However, it’s a lucrative and dynamic</p>
                                          <div class="tp-hero-btn text3">
                                             <a href="contact.html" class="tp-btn-xl d-inline-block lh-0 tp-round-24 fs-16 tp-bg-common-white ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                <span class="d-flex align-items-center justify-content-center">
                                                   <span class="btn-text"> Schedule a free consultant </span>
                                                   <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                   <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                </span> 
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-5">
                                       <div class="tp-hero-contact tp-round-4 mb-100 tp-slider-para-home">
                                          <p class="tp-text-grey-3 mb-25">Schedule a consultation to discuss your
                                             legal needs and goals today</p>
                                          <div class="tp-hero-contact-btn">
                                             <a href="contact.html" class="fw-500 tp-text-common-white d-flex justify-content-between align-items-center">Contact us <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="swiper-slide">
                           <div class="tp-hero-singles p-relative not-hide-cursor" data-cursor="Drag">
                              <div class="tp-hero-bg bg-position" data-background="assets/img/hero/bg-3.jpg"></div>
                              <div class="container">
                                 <div class="row align-items-end">
                                    <div class="col-lg-7 tp-hero-spacing">
                                       <div class="tp-hero-content-wrapper">
                                          <h2 class="tp-hero-title text fw-600 fs-70 fs-lg-50 fs-xs-34 ls-m-3 tp-text-common-white lh-1 mb-25">Professional guidance for
                                             a sustainable <span class="tp-ff-heading text-italic tp-text-theme-secondary fw-400">tomorrow.</span></h2>
                                          <p class="text2 mb-50 tp-text-grey-3">The word conjures images of business suits, boardrooms and hefty  reports. It’s notorious for being
                                             one of those jobs your friends don’t  understand. However, it’s a lucrative and dynamic</p>
                                          <div class="tp-hero-btn text3">
                                             <a href="contact.html" class="tp-btn-xl d-inline-block lh-0 tp-round-24 fs-16 tp-bg-common-white ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                <span class="d-flex align-items-center justify-content-center">
                                                   <span class="btn-text"> Schedule a free consultant </span>
                                                   <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                   <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                </span> 
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-5">
                                       <div class="tp-hero-contact tp-round-4 mb-100 tp-slider-para-home">
                                          <p class="tp-text-grey-3 mb-25">Schedule a consultation to discuss your
                                             legal needs and goals today</p>
                                          <div class="tp-hero-contact-btn">
                                             <a href="contact.html" class="fw-500 tp-text-common-white d-flex justify-content-between align-items-center">Contact us <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div> -->
                     </div>
                  </div>


                  <!-- slider buttons disabled -->
                  <!-- <div class="tp-hero-slider-navigate p-absolute">
                     <div class="container">
                        <div class="row">
                           <div class="col-12">
                              <div class="tp-hero-slider-pagenation"></div>
                           </div>
                        </div>
                     </div>
                  </div> -->
               </div>
               <!-- tp-hero-area-end -->