<style>
   .tp-success-item {
  height: 90%;
  display: flex;
  flex-direction: column;
}

</style>
<!-- tp-success-area-start -->
               <div class="tp-success-area pt-60 pb-140">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="tp-success-section-title-wrap text-center mb-50">
                              <span class="tp-section-subtitle fw-500 tp-text-grey-1 mb-10"> Here step to your success</span>
                              <h2 class="mb-25 fs-sm-40 text-anim">How it works</span> </h2>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
                           <div class="tp-success-item tp-success-service-item tp-bg-grey-3 tp-round-4 mb-70">
                              <div class="d-flex align-items-center mb-70">
                                 <span class="d-inline-block mr-25">
                                    <svg width="42" height="50" viewBox="0 0 42 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M26 21C26 18.242 23.758 16 21 16C18.242 16 16 18.242 16 21C16 23.758 18.242 26 21 26C23.758 26 26 23.758 26 21Z" fill="#1F3130" />
                                       <path d="M21 28C16.122 28 12 30.29 12 33C12 41.128 15.03 47.444 16.292 48.708C17.116 49.53 18.83 50 21 50C23.17 50 24.884 49.53 25.708 48.708C26.97 47.444 30 41.128 30 33C30 30.29 25.8781 28 21 28Z" fill="#1F3130" />
                                       <path d="M21 0C9.42002 0 0 9.42002 0 21C0 27.702 3.23398 34.044 8.654 37.97C9.09599 38.29 9.72598 38.198 10.05 37.746C10.376 37.2979 10.274 36.674 9.82598 36.35C4.92598 32.8 2 27.062 2 21C2 10.524 10.524 2 21 2C31.476 2 40 10.524 40 21C40 27.062 37.074 32.8 32.174 36.35C31.726 36.674 31.624 37.298 31.95 37.746C32.144 38.018 32.452 38.16 32.76 38.16C32.964 38.16 33.1699 38.0979 33.346 37.9699C38.766 34.0439 42 27.702 42 20.9999C42 9.42002 32.58 0 21 0Z" fill="#1F3130" />
                                       <path d="M21 8C13.832 8 8 13.832 8 21C8 23.838 8.9 26.524 10.604 28.766C10.94 29.2061 11.566 29.29 12.006 28.958C12.446 28.624 12.5319 27.994 12.1979 27.554C10.76 25.664 9.9999 23.396 9.9999 21C9.9999 14.936 14.9359 10 20.9999 10C27.0639 10 31.9999 14.936 31.9999 21C31.9999 23.396 31.2399 25.664 29.8019 27.554C29.4679 27.994 29.5538 28.624 29.9938 28.958C30.1759 29.094 30.3879 29.16 30.5998 29.16C30.8998 29.16 31.1998 29.0239 31.3958 28.7659C33.0998 26.5239 33.9998 23.8379 33.9998 20.9999C34 13.832 28.168 8 21 8Z" fill="#1F3130" />
                                    </svg>
                                 </span>
                                 <h4 class="mb-0 fs-md-23">Employee presses SOS (voice, button, lock screen)
</h4>
                              </div>
                              <p class="tp-text-grey-2 mb-30">Empower your team with instant access to help. In any emergency, employees can trigger an alert directly from their device—using voice commands, a dedicated button, or even their lock screen. This ensures a rapid response when every second counts.</p>
                              <div class="tp-success-btn text-center">
                                 <span class="fw-500 fs-26 tp-bg-grey-3 rounded-circle p-relative tp-text-theme-primary d-inline-block">01</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
                           <div class="tp-success-item tp-success-service-item tp-bg-grey-3 tp-round-4 mb-70">
                              <div class="d-flex align-items-center mb-70">
                                 <span class="d-inline-block mr-25">
                                    <svg width="40" height="50" viewBox="0 0 40 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M27.5 15H38.5L25 1.5V12.5C25 14 26 15 27.5 15ZM27.5 20C23.25 20 20 16.75 20 12.5V0H7.5C3.25 0 0 3.25 0 7.5V42.5C0 46.75 3.25 50 7.5 50H31.75C31.5 49.25 31.25 48.25 31.25 47.5V42.5C31.25 41.25 31.75 39.75 32.5 38.75C31.75 37.75 31.25 36.25 31.25 35C31.25 31.5 34 28.75 37.5 28.75C38.25 28.75 39.25 29 40 29.25V20H27.5ZM12.5 15H15C16.5 15 17.5 16 17.5 17.5C17.5 19 16.5 20 15 20H12.5C11 20 10 19 10 17.5C10 16 11 15 12.5 15ZM22.5 40H12.5C11 40 10 39 10 37.5C10 36 11 35 12.5 35H22.5C24 35 25 36 25 37.5C25 39 24 40 22.5 40ZM25 30H12.5C11 30 10 29 10 27.5C10 26 11 25 12.5 25H25C26.5 25 27.5 26 27.5 27.5C27.5 29 26.5 30 25 30ZM37.5 40C36 40 35 41 35 42.5V47.5C35 49 36 50 37.5 50C39 50 40 49 40 47.5V42.5C40 41 39 40 37.5 40ZM37.5 32.5C36 32.5 35 33.5 35 35C35 36.5 36 37.5 37.5 37.5C39 37.5 40 36.5 40 35C40 33.5 39 32.5 37.5 32.5Z" fill="#1F3130" />
                                    </svg>
                                 </span>
                                 <h4 class="mb-0 fs-md-23">Alert reaches security, volunteers, and admin with vital info</h4>
                              </div>
                              <p class="tp-text-grey-2 mb-30">Once an SOS is activated, our platform immediately notifies your designated security teams, trained volunteers, and administrators. The alert includes crucial details like the employee's location and any pre-entered medical information, enabling a swift and targeted response.</p>
                              <div class="tp-success-btn text-center">
                                 <span class="fw-500 fs-26 tp-bg-grey-3 rounded-circle p-relative tp-text-theme-primary d-inline-block">02</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
                           <div class="tp-success-item tp-success-service-item tp-bg-grey-3 tp-round-4 mb-70">
                              <div class="d-flex align-items-center mb-70">
                                 <span class="d-inline-block mr-25">
                                    <svg width="39" height="50" viewBox="0 0 39 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M19.3006 30.6027C22.4083 30.6027 24.9276 28.0834 24.9276 24.9756C24.9276 21.8679 22.4083 19.3486 19.3006 19.3486C16.1929 19.3486 13.6736 21.8679 13.6736 24.9756C13.6736 28.0834 16.1929 30.6027 19.3006 30.6027Z" fill="#1F3130" />
                                       <path d="M34.2414 18.293H34.2399C32.4204 18.293 30.9437 19.7697 30.9437 21.5906V24.828C30.9437 31.2074 25.7704 36.3822 19.3896 36.3822C13.0082 36.3822 7.83403 31.2073 7.83403 24.828V21.5906C7.83403 19.7682 6.35581 18.293 4.53647 18.293C2.71692 18.293 1.24023 19.7697 1.24023 21.5906V24.7679C1.24023 30.6851 4.07217 35.9407 8.45398 39.2534C8.70797 39.4454 8.8572 39.7453 8.8572 40.0637V48.9834C8.8572 49.5455 9.31296 50.0014 9.87519 50.0014H28.7165C29.2787 50.0014 29.7344 49.5455 29.7344 48.9834V40.1544C29.7344 39.8339 29.8854 39.5324 30.1422 39.3406C34.6335 35.987 37.5376 30.5948 37.5376 24.5719V21.5905C37.5375 19.7697 36.0609 18.293 34.2414 18.293Z" fill="#1F3130" />
                                       <path d="M14.0383 9.50412C14.2129 9.71637 14.3019 9.98624 14.2878 10.2608L14.0967 13.9491C14.0552 14.7504 14.8571 15.3255 15.6026 15.0291L18.9823 13.6858C19.2434 13.582 19.5345 13.582 19.7956 13.6858L23.1753 15.0291C23.9209 15.3255 24.7227 14.7504 24.6812 13.9491L24.4901 10.2608C24.4759 9.98624 24.5648 9.71637 24.7396 9.50412L27.0231 6.73052C27.5284 6.11677 27.2363 5.18613 26.471 4.97103L22.9233 3.97422C22.6683 3.90256 22.4477 3.74141 22.302 3.5203L20.3079 0.49587C19.8729 -0.163988 18.9048 -0.163988 18.4697 0.49587L16.4758 3.5204C16.33 3.74151 16.1094 3.90266 15.8544 3.97432L12.3068 4.97113C11.5413 5.18613 11.2494 6.11677 11.7547 6.73062L14.0383 9.50412Z" fill="#1F3130" />
                                       <path d="M9.24516 13.1612C9.8415 12.565 9.8415 11.5981 9.24516 11.0018L3.19935 4.95596C2.60312 4.35973 1.63624 4.35973 1.0399 4.95596C0.443568 5.5522 0.443568 6.51908 1.0399 7.11542L7.08571 13.1612C7.68205 13.7576 8.64883 13.7575 9.24516 13.1612Z" fill="#1F3130" />
                                       <path d="M38.1156 4.95596C37.5194 4.35973 36.5525 4.35973 35.9562 4.95596L29.9104 11.0018C29.3141 11.598 29.3141 12.5649 29.9104 13.1612C30.5067 13.7576 31.4735 13.7576 32.0698 13.1612L38.1156 7.11542C38.712 6.51918 38.712 5.5523 38.1156 4.95596Z" fill="#1F3130" />
                                    </svg>
                                 </span>
                                 <h4 class="mb-0 fs-md-23">Drill alerts and surveys maintain readiness</h4>
                              </div>
                              <p class="tp-text-grey-2 mb-30">Keep your workplace prepared with regular drill alerts and safety surveys. Our platform facilitates practice scenarios and gathers valuable feedback, allowing you to continually refine your safety protocols and ensure everyone knows their role in a real emergency.</p>
                              <div class="tp-success-btn text-center mt-4">
                                 <span class="fw-500 fs-26 tp-bg-grey-3 rounded-circle p-relative tp-text-theme-primary d-inline-block">03</span>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
                           <div class="tp-success-item tp-success-service-item tp-bg-grey-3 tp-round-4 mb-70">
                              <div class="d-flex align-items-center mb-70">
                                 <span class="d-inline-block mr-25">
                                    <svg width="39" height="50" viewBox="0 0 39 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M19.3006 30.6027C22.4083 30.6027 24.9276 28.0834 24.9276 24.9756C24.9276 21.8679 22.4083 19.3486 19.3006 19.3486C16.1929 19.3486 13.6736 21.8679 13.6736 24.9756C13.6736 28.0834 16.1929 30.6027 19.3006 30.6027Z" fill="#1F3130" />
                                       <path d="M34.2414 18.293H34.2399C32.4204 18.293 30.9437 19.7697 30.9437 21.5906V24.828C30.9437 31.2074 25.7704 36.3822 19.3896 36.3822C13.0082 36.3822 7.83403 31.2073 7.83403 24.828V21.5906C7.83403 19.7682 6.35581 18.293 4.53647 18.293C2.71692 18.293 1.24023 19.7697 1.24023 21.5906V24.7679C1.24023 30.6851 4.07217 35.9407 8.45398 39.2534C8.70797 39.4454 8.8572 39.7453 8.8572 40.0637V48.9834C8.8572 49.5455 9.31296 50.0014 9.87519 50.0014H28.7165C29.2787 50.0014 29.7344 49.5455 29.7344 48.9834V40.1544C29.7344 39.8339 29.8854 39.5324 30.1422 39.3406C34.6335 35.987 37.5376 30.5948 37.5376 24.5719V21.5905C37.5375 19.7697 36.0609 18.293 34.2414 18.293Z" fill="#1F3130" />
                                       <path d="M14.0383 9.50412C14.2129 9.71637 14.3019 9.98624 14.2878 10.2608L14.0967 13.9491C14.0552 14.7504 14.8571 15.3255 15.6026 15.0291L18.9823 13.6858C19.2434 13.582 19.5345 13.582 19.7956 13.6858L23.1753 15.0291C23.9209 15.3255 24.7227 14.7504 24.6812 13.9491L24.4901 10.2608C24.4759 9.98624 24.5648 9.71637 24.7396 9.50412L27.0231 6.73052C27.5284 6.11677 27.2363 5.18613 26.471 4.97103L22.9233 3.97422C22.6683 3.90256 22.4477 3.74141 22.302 3.5203L20.3079 0.49587C19.8729 -0.163988 18.9048 -0.163988 18.4697 0.49587L16.4758 3.5204C16.33 3.74151 16.1094 3.90266 15.8544 3.97432L12.3068 4.97113C11.5413 5.18613 11.2494 6.11677 11.7547 6.73062L14.0383 9.50412Z" fill="#1F3130" />
                                       <path d="M9.24516 13.1612C9.8415 12.565 9.8415 11.5981 9.24516 11.0018L3.19935 4.95596C2.60312 4.35973 1.63624 4.35973 1.0399 4.95596C0.443568 5.5522 0.443568 6.51908 1.0399 7.11542L7.08571 13.1612C7.68205 13.7576 8.64883 13.7575 9.24516 13.1612Z" fill="#1F3130" />
                                       <path d="M38.1156 4.95596C37.5194 4.35973 36.5525 4.35973 35.9562 4.95596L29.9104 11.0018C29.3141 11.598 29.3141 12.5649 29.9104 13.1612C30.5067 13.7576 31.4735 13.7576 32.0698 13.1612L38.1156 7.11542C38.712 6.51918 38.712 5.5523 38.1156 4.95596Z" fill="#1F3130" />
                                    </svg>
                                 </span>
                                 <h4 class="mb-0 fs-md-23">Certification for workplaces with &gt;70% safety rating</h4>
                              </div>
                              <p class="tp-text-grey-2 mb-30">Achieve formal recognition for your commitment to safety. Workplaces that consistently maintain over a 70% safety rating through our platform's metrics and readiness drills will be eligible for official certification, demonstrating your dedication to a truly secure environment.</p>
                              <div class="tp-success-btn text-center">
                                 <span class="fw-500 fs-26 tp-bg-grey-3 rounded-circle p-relative tp-text-theme-primary d-inline-block">04</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="row justify-content-center">
                        
                     </div> -->
                  </div>
               </div>
               <!-- tp-success-area-end -->