<!-- tp-testimonial-area-start -->
               <div class="tp-testimonial-area tp-testimonial-4-wrap pb-40">
                  <div class="container-fluid container-1690">
                     <div class="tp-bg-theme-primary pt-80 pb-80 tp-round-4">
                        <div class="row align-items-center gx-0">
                           <div class="col-xl-6 tp-testimonial-4-border">
                              <div class="tp-testimonial-3-left">
                                 <div class="image-reveal fix">
                                    <img class="w-100" src="assets/img/testimonial/four/bg.jpg" alt="">
                                 </div>
                              </div>
                           </div>
                           <div class="col-xl-6">
                              <div class="tp-testimonial-2-slider tp-testimonial-3-slider p-relative ml-80">
                                 <span class="fw-500 fs-16 tp-text-grey-3 mb-5 d-inline-block">Our testimonials</span>
                                 <h2 class="tp-testimonial-4-title mb-20 fs-xl-45 fs-sm-36 tp-text-common-white mr-100 text-anim">What our customer say?</h2>
                                 <div class="tp-testimonial-2-ratings-wrap d-flex flex-wrap mb-20">
                                    <div class="tp-testimonial-2-ratings mb-10 mr-20">
                                       <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                       <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                       <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                       <span><i class="fa-sharp fa-solid fa-star"></i></span>
                                       <span><i class="fa-solid fa-star-sharp-half-stroke"></i></span>
                                       <span class="points fw-500 tp-text-common-white ml-5">4.9</span>
                                    </div>
                                    <p class="mb-10 tp-text-grey-3">Achieving success through over 90% customer satisfaction</p>
                                 </div>
                                 <div class="swiper-container tp-testimonial-3-slide">
                                    <div class="swiper-wrapper">
                                       <div class="swiper-slide">
                                          <div class="p-relative z-index-1">
                                             <div class="tp-testimonial-lwr-content mb-60">
                                                <p class="fs-20 tp-text-common-white lh-32">"The team demonstrated a deep understanding of our industry which
                                                   them to tailor solutions specifically to our needs. They took the
                                                   understand our business and worked</p>
                                             </div>
                                             <div class="tp-testimonial-2-author d-sm-flex justify-content-between">
                                                <div class="d-flex align-items-center mb-10">
                                                   <img class="rounded-circle mr-20" data-width="60px" src="assets/img/testimonial/2/avatar.png" alt="tes">
                                                   <div>
                                                      <h6 class="fs-18 mb-0 tp-text-common-white">SR Jesica Lauren</h6>
                                                      <span class="tp-text-grey-3">Developer</span>
                                                   </div>
                                                </div>
                                                <div class="mb-10">
                                                   <a href="testimonial.html" class="tp-btn-xl d-inline-block lh-0 tp-round-26 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500">
                                                      <span class="d-flex align-items-center justify-content-center">
                                                         <span class="btn-text">View all testimonials</span>
                                                         <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                         <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                      </span> 
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="swiper-slide">
                                          <div class="p-relative z-index-1">
                                             <div class="tp-testimonial-lwr-content mb-60">
                                                <p class="fs-20 tp-text-common-white lh-32">"The team demonstrated a deep understanding of our industry which
                                                   them to tailor solutions specifically to our needs. They took the
                                                   understand our business and worked</p>
                                             </div>
                                             <div class="tp-testimonial-2-author d-sm-flex justify-content-between">
                                                <div class="d-flex align-items-center mb-10">
                                                   <img class="rounded-circle mr-20" data-width="60px" src="assets/img/blog/avatar-3.jpg" alt="tes">
                                                   <div>
                                                      <h6 class="fs-18 mb-0 tp-text-common-white">SR Jesica Lauren</h6>
                                                      <span class="tp-text-grey-3">Developer</span>
                                                   </div>
                                                </div>
                                                <div class="mb-10">
                                                   <a href="contact.html" class="tp-btn-xl d-inline-block lh-0 tp-round-26 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500">
                                                      <span class="d-flex align-items-center justify-content-center">
                                                         <span class="btn-text">View all testimonials</span>
                                                         <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                         <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                      </span> 
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="swiper-slide">
                                          <div class="p-relative z-index-1">
                                             <div class="tp-testimonial-lwr-content mb-60">
                                                <p class="fs-20 tp-text-common-white lh-32">"The team demonstrated a deep understanding of our industry which
                                                   them to tailor solutions specifically to our needs. They took the
                                                   understand our business and worked</p>
                                             </div>
                                             <div class="tp-testimonial-2-author d-sm-flex justify-content-between">
                                                <div class="d-flex align-items-center mb-10">
                                                   <img class="rounded-circle mr-20" data-width="60px" src="assets/img/blog/avatar-2.jpg" alt="tes">
                                                   <div>
                                                      <h6 class="fs-18 mb-0 tp-text-common-white">Hr Harun</h6>
                                                      <span class="tp-text-grey-3">Developer</span>
                                                   </div>
                                                </div>
                                                <div class="mb-10">
                                                   <a href="contact.html" class="tp-btn-xl d-inline-block lh-0 tp-round-26 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500">
                                                      <span class="d-flex align-items-center justify-content-center">
                                                         <span class="btn-text">View all testimonials</span>
                                                         <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                         <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                      </span> 
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="tp-testimonial-2-navigation">
                                    <span class="tp-testimonial-2-prev mr-5">
                                       <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M9.2666 1L1 9.00007L9.2666 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                          <path d="M21 8.99805H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </span>
                                    <span class="tp-testimonial-2-next">
                                       <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M12.7334 1L21 9.00007L12.7334 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                          <path d="M0.999999 8.99805H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- tp-testimonial-area-end -->