<!-- tp-contact-form-area-start -->
<div class="tp-contact-form-area pt-130 pb-110">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-30">
          <h2 class="mb-20 fs-40 fs-xl-35 fs-sm-30 pb-60 text-anim">
            We love to hear<br /> from <span
              class="text-italic fw-400 tp-ff-heading">you</span>
          </h2>
          <div class="tp-contact-bottom-social">
            <ul class="d-flex align-items-center">
              <li>
                <a href="#">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa-brands fa-vimeo-v"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="tp-join-form-wra tp-contact-inner-wrap mb-30">
          <form
            id="contact-form"
            action="https://html.hixstudio.net/budgeto-prev/budgeto/assets/mail.php"
            method="POST"
          >
            <input
              class="tp-input mb-15"
              name="name"
              type="text"
              placeholder="Your full name*"
            />
            <input
              class="tp-input mb-15"
              name="email"
              type="text"
              placeholder="Email address*"
            />
            <input
              class="tp-input mb-15"
              name="website"
              type="text"
              placeholder="Your website*"
            />
            <textarea
              name="message"
              class="tp-textarea tp-input mb-10"
              placeholder="How can we help? Fell free to write here"></textarea>
            <button
              type="submit"
              class="tp-btn-xl tp-round-4 fs-16 tp-bg-theme-primary w-100 d-block tp-text-common-white hover-text-white fw-500"
              >Send your message</button
            >
            <p class="ajax-response mt-20"></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tp-contact-form-area-end -->
