<!-- map area start  -->
<div class="tp-map-area fix lh-1">
  <div class="tp-contact-map-box">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.1420198102996!2d72.51647497436751!3d23.018557116479744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e9b9cd9ab91f5%3A0xe2658d1aa766c182!2sRatnanjali%20Solitaire!5e0!3m2!1sen!2sus!4v1751549508285!5m2!1sen!2sus"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<!-- map area end  -->
