<header class="tp-header-height">

         <div class="tp-hader-area header-transparent tp-bg-common-white">
            <div class="tp-header-top tp-header-top-spacing tp-bg-theme-primary d-none d-lg-block">
               <div class="container container-1690">
                  <div class="row">
                     <div class="col-lg-7">
                        <div class="tp-header-top-info">
                           <ul>
                              <li>
                                 <a href="https://www.google.com/maps/@41.6758525,-86.2531698,18.17z" target="_blank">
                                    <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M13.2727 7.13636C13.2727 11.9091 7.13636 16 7.13636 16C7.13636 16 1 11.9091 1 7.13636C1 5.5089 1.64651 3.94809 2.7973 2.7973C3.94809 1.64651 5.5089 1 7.13636 1C8.76383 1 10.3246 1.64651 11.4754 2.7973C12.6262 3.94809 13.2727 5.5089 13.2727 7.13636Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       <path d="M7.13629 9.18243C8.26596 9.18243 9.18174 8.26665 9.18174 7.13698C9.18174 6.00731 8.26596 5.09152 7.13629 5.09152C6.00662 5.09152 5.09084 6.00731 5.09084 7.13698C5.09084 8.26665 6.00662 9.18243 7.13629 9.18243Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    27 Sondanella, Eden walk, Eden
                                 </a>
                              </li>
                              <li>
                                 <span class="tp-border"></span>
                              </li>
                              <li>
                                 <a href="mailto:hello@contact.com" target="_blank">
                                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M2.5 1H14.5C15.325 1 16 1.675 16 2.5V11.5C16 12.325 15.325 13 14.5 13H2.5C1.675 13 1 12.325 1 11.5V2.5C1 1.675 1.675 1 2.5 1Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       <path d="M16 2.5L8.5 7.75L1 2.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    hello@contact.com
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-lg-5">
                        <div class="tp-header-top-right d-flex align-items-center justify-content-end">
                           <div class="tp-header-top-call">
                              <a href="tel:(+12)800222000" class="tp-text-common-white hover-text-secondary d-flex gap-2 align-items-center">
                                 <svg class="tp-text-theme-secondary" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.24434 7.95965C1.58072 6.80251 1.26029 5.85764 1.06709 4.89985C0.781336 3.4833 1.43527 2.09956 2.51857 1.21663C2.97641 0.843468 3.50126 0.970963 3.772 1.45668L4.38323 2.55324C4.8677 3.4224 5.10994 3.85698 5.06189 4.31771C5.01385 4.77845 4.68716 5.1537 4.03378 5.9042L2.24434 7.95965ZM2.24434 7.95965C3.58755 10.3018 5.69549 12.4109 8.04035 13.7557M8.04035 13.7557C9.19749 14.4193 10.1424 14.7397 11.1002 14.9329C12.5167 15.2187 13.9004 14.5647 14.7834 13.4814C15.1565 13.0236 15.029 12.4987 14.5433 12.228L13.4468 11.6168C12.5776 11.1323 12.143 10.8901 11.6823 10.9381C11.2215 10.9862 10.8463 11.3128 10.0958 11.9662L8.04035 13.7557Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                                    <path d="M9.40002 4.3823C10.3963 4.80537 11.1947 5.60374 11.6178 6.6M9.85784 1C12.3339 1.71453 14.2854 3.66597 15 6.14194" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                 </svg>
                                 (+12) 800 222 000
                              </a>
                           </div>
                           <span class="tp-header-top-right-border"></span>
                           <div class="tp-header-top-lang p-relative d-inline-block">
                              <span class="tp-header-top-selected-lang fs-14 tp-text-common-white pr-15 p-relative">ENG</span>
                              <ul class="tp-header-top-lang-list">
                                 <li>Spanish</li>
                                 <li>English</li>
                                 <li>Canada</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="header-sticky" class="tp-header-bottom tp-header-lg-space p-relative">
               <div class="container container-1690">
                  <div class="row align-items-center">
                     <div class="col-xl-2 col-sm-3 col-5">
                        <div class="tp-header-logo">
                           <a href="index.html"><img data-width="168" src="assets/img/logo/logo-black.png" alt=""></a>
                        </div>
                     </div>
                     <div class="col-xl-10 col-sm-9 col-7">
                        <div class="d-flex align-items-center justify-content-end justify-content-xxl-between">
                           <div class="tp-main-menu d-none d-xl-inline-block mr-20">
                              <nav class="tp-mobile-menu-active">
                                 <ul>
                                    <li class="has-dropdown p-inherit">
                                       <a href="index.html">Home</a>
                                       <div class="tp-submenu submenu tp-main-mega-menu">
                                          <div class="tp-menu-fullwidth">
                                             <div class="tp-homemenu-wrapper">
                                                <div class="row gx-24 row-cols-xl-5 row-cols-md-2 row-cols-2">
                                                   <div class="col homemenu">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <a href="index.html"><img src="assets/img/menu/demo.jpg" alt=""></a>
                                                         </div>
                                                         <div class="homemenu-btn">
                                                            <div class="mb-10">
                                                               <a href="index.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">Multi Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a href="index-one-page.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">One Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="index.html">Business</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <a href="home-consulting.html"><img src="assets/img/menu/demo-2.jpg" alt=""></a>
                                                         </div>
                                                         <div class="homemenu-btn">
                                                            <div class="mb-10">
                                                               <a href="home-consulting.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">Multi Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a href="home-consulting-one-page.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">One Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="home-consulting.html">Consulting</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <a href="home-startup.html"><img src="assets/img/menu/demo-3.jpg" alt=""></a>
                                                         </div>
                                                         <div class="homemenu-btn">
                                                            <div class="mb-10">
                                                               <a href="home-startup.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">Multi Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a href="home-startup-one-page.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">One Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="home-startup.html">Startup Consulting</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <a href="home-hr.html"><img src="assets/img/menu/demo-4.jpg" alt=""></a>
                                                         </div>
                                                         <div class="homemenu-btn">
                                                            <div class="mb-10">
                                                               <a href="home-hr.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">Multi Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a href="home-hr-one-page.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">One Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="home-hr.html">HR Consulting</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <a href="home-it.html"><img src="assets/img/menu/demo-5.jpg" alt=""></a>
                                                         </div>
                                                         <div class="homemenu-btn">
                                                            <div class="mb-10">
                                                               <a href="home-it.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">Multi Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a href="home-it-one-page.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">One Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="home-it.html">IT Consulting</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <a href="home-corporate.html"><img  src="assets/img/menu/demo-6.jpg" alt=""></a>
                                                         </div>
                                                         <div class="homemenu-btn">
                                                            <div class="mb-10">
                                                               <a href="home-corporate.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">Multi Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a href="home-corporate-one-page.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">One Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="home-corporate.html">Corporate Consulting</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <a href="home-banking.html"><img src="assets/img/menu/demo-7.jpg" alt=""></a>
                                                         </div>
                                                         <div class="homemenu-btn">
                                                            <div class="mb-10">
                                                               <a href="home-banking.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">Multi Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a href="home-banking-one-page.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">One Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="home-banking.html">Banking Consulting</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <a href="home-financial.html"><img src="assets/img/menu/demo-8.jpg" alt=""></a>
                                                         </div>
                                                         <div class="homemenu-btn">
                                                            <div class="mb-10">
                                                               <a href="home-financial.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">Multi Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a href="home-financial-one-page.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-primary ls-0 tp-btn-switch-animation tp-text-common-white hover-text-white fw-500">
                                                                  <span class="d-flex align-items-center justify-content-center">
                                                                     <span class="btn-text">One Page</span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                     <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                                                  </span> 
                                                               </a>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="home-financial.html">Financial Advisor</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu comeing-soon">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <img src="assets/img/menu/demo-8.jpg" alt="">
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="#">Comeing Soon</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                   <div class="col homemenu comeing-soon">
                                                      <div class="homemenu-thumb-wrap mb-20">
                                                         <div class="homemenu-thumb fix">
                                                            <img src="assets/img/menu/demo-8.jpg" alt="">
                                                         </div>
                                                      </div>
                                                      <div class="homemenu-content text-center">
                                                         <h4 class="homemenu-title">
                                                            <a href="#">Comeing Soon</a>
                                                         </h4>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div> 
                                    </li>
                                    <li class="has-dropdown">
                                       <a href="#">Pages</a>
                                       <ul class="tp-submenu submenu">
                                          <li><a href="team.html">Team</a></li>
                                          <li><a href="team-details.html">Team Details</a></li>
                                          <li><a href="pricing.html">Pricing</a></li>
                                          <li><a href="faq.html">Faq</a></li>
                                          <li><a href="error.html">Error</a></li>
                                          <li><a href="testimonial.html">Testimonial</a></li>
                                          <li><a href="comeing-soon.html">Comeing Soon</a></li>
                                       </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="has-dropdown">
                                       <a href="service.html">Services</a>
                                       <ul class="tp-submenu submenu">
                                          <li><a href="service.html">Services</a></li>
                                          <li><a href="service-details.html">Services Details</a></li>
                                       </ul>
                                    </li>
                                    <li class="has-dropdown">
                                       <a href="project.html">Portfolio</a>
                                       <ul class="tp-submenu submenu">
                                          <li><a href="project.html">Portfolio</a></li>
                                          <li><a href="project-details.html">Portfolio Details</a></li>
                                       </ul>
                                    </li>
                                    <li class="has-dropdown">
                                       <a href="blog.html">Blog</a>
                                       <ul class="tp-submenu submenu">
                                          <li><a href="blog.html">Blog</a></li>
                                          <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                          <li><a href="blog-details.html">Blog Details</a></li>
                                       </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                 </ul>
                              </nav>
                           </div>
                           <div class="tp-header-contact d-flex align-items-center justify-content-end">
                              <div class="tp-header-search">
                                 <button class="tp-search-click">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M8.11118 15.2224C12.0386 15.2224 15.2224 12.0386 15.2224 8.11118C15.2224 4.18378 12.0386 1 8.11118 1C4.18378 1 1 4.18378 1 8.11118C1 12.0386 4.18378 15.2224 8.11118 15.2224Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       <path d="M17.0005 17L13.1338 13.1333" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                 </button>
                              </div>
                              <div class="tp-header-btn ml-30 d-none d-md-block">
                                 <a href="contact.html" class="tp-btn-lg d-inline-block lh-0 tp-round-24 fs-16 tp-bg-theme-secondary ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500">
                                    <span class="d-flex align-items-center justify-content-center">
                                       <span class="btn-text"> Let’s discuss </span>
                                       <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                       <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                    </span> 
                                 </a>
                              </div>
                              <div class="tp-header-sidebar-menu ml-10">
                                 <button class="tp-menu-bar tp-header-sidebar-btn border-full-1 rounded-circle lh-1">
                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path fill-rule="evenodd" clip-rule="evenodd" d="M0 7.23636H7.45455L3.74545 0.763636L5.05455 0L8.8 6.47273L12.5455 0L13.8545 0.763636L10.1091 7.23636H17.6V8.76364H10.1091L13.8545 15.2364L12.5455 16L8.8 9.52727L5.05455 16L3.74545 15.2364L7.45455 8.76364H0V7.23636Z" fill="currentColor" />
                                    </svg>
                                 </button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </header>