<!-- tp-project-area-start -->
<div class="tp-project-area tp-project-2-animate-tab pt-35 pb-110">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-12">
        <div class="tp-project-5-title-wrap text-center mb-55">
          <span class="fw-500 fs-16 tp-text-grey-1 mb-10 d-inline-block"
            >Explore our work</span
          >
          <h2 class="mb-20 fs-xl-40 fs-sm-36 text-anim">
            Highlighted examples <span class="text-italic fw-400 tp-ff-heading"
              >of our work</span
            >
          </h2>
        </div>
        <div class="tp-project-2-tab tp-project-5-tab text-center mb-65">
          <ul role="tablist">
            <li class="nav-tab-item" role="presentation">
              <a href="#cases" class="active" data-bs-toggle="tab">All cases</a>
            </li>
            <li class="nav-tab-item" role="presentation">
              <a href="#finance" data-bs-toggle="tab"
                >Educational<br />Institutes</a
              >
            </li>
            <li class="nav-tab-item" role="presentation">
              <a href="#marketing" data-bs-toggle="tab"
                >Offices and <br />
                Tech Companies</a
              >
            </li>
            <li class="nav-tab-item" role="presentation">
              <a href="#startup" data-bs-toggle="tab"
                >Manufacturing<br />
                and Warehouses</a
              >
            </li>
            <li class="nav-tab-item" role="presentation">
              <a href="#it" data-bs-toggle="tab"
                >Ideal Offices for <br />IT Parks and MNCs</a
              >
            </li>
            <li class="nav-tab-item" role="presentation">
              <a href="#banking" data-bs-toggle="tab">
                High-Risk <br />Environments</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tp-project-2-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tab-content p-relative">
            <div class="tab-pane active show" id="cases" role="tabpanel">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Investment reporting</a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Differentiated Performance
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-3.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Partnership System
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Integrated Innovations
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-5.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Business Development
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
               
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-9.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Private trust management
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="finance" role="tabpanel">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Integrated Innovations
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-5.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Business Development
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-6.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Integrated Innovations
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-7.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Differentiated Performance
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-8.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Transformed Its Pricing
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-9.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Private trust management
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="marketing" role="tabpanel">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Investment reporting</a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Differentiated Performance
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-3.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Partnership System
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-7.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Differentiated Performance
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-8.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Transformed Its Pricing
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-9.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Private trust management
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="startup" role="tabpanel">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-3.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Partnership System
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Integrated Innovations
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-5.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Business Development
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-6.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Integrated Innovations
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-7.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Differentiated Performance
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-8.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Transformed Its Pricing
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-9.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Private trust management
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="it" role="tabpanel">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Investment reporting</a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-2.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Differentiated Performance
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-5.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Business Development
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-6.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Integrated Innovations
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-7.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Differentiated Performance
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-8.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Transformed Its Pricing
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-9.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Private trust management
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="banking" role="tabpanel">
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Investment reporting</a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-4.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Integrated Innovations
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-5.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black"
                          >Business Development
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-6.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Integrated Innovations
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-7.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Differentiated Performance
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
                  <div
                    class="tp-project-2-wrap tp-project-5-wrap p-relative fix"
                  >
                    <div class="tp-project-2-thumb tp-round-4">
                      <img
                        class="w-100 tp-round-4"
                        src="assets/img/project/two/thumb-8.jpg"
                        alt=""
                      />
                    </div>
                    <div class="tp-project-2-content p-absolute">
                      <h4 class="tp-text-theme-primary fw-500 fs-24 mb-10">
                        <a href="/articles" class="underline-black">
                          Transformed Its Pricing
                        </a>
                      </h4>
                      <p class="tp-text-grey-1 mb-15">
                        This year is significant because it provides insight
                        into the history and experience
                      </p>
                      <a
                        href="/articles"
                        class="d-inline-block lh-0 fs-16 ls-0 tp-btn-switch-animation tp-text-theme-primary hover-text-black fw-500"
                      >
                        <span
                          class="d-flex align-items-center justify-content-center"
                        >
                          <span class="btn-text"> Learn more</span>
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                          <span class="btn-icon"
                            ><i class="fa-sharp fa-regular fa-arrow-right"
                            ></i></span
                          >
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tp-project-area-end -->
