   <style>
      /* Apply to the row container that holds the .col-* items */


/* Ensure all columns stretch to the same height */

.col-xl-4 {
  margin-top: 20px;
}

/* Force the .tp-service-item to fill the height of its parent */
.tp-service-item {
  height: 100%;
}

   </style>
   <!-- tp-service-area-start -->
               <div class="tp-service-area pt-135  pb-110">
                  <div class="container container-1690">
                     <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                           <div class="tp-service-section-title-wrap text-center mb-50">
                              <span class="tp-section-subtitle fw-500 tp-text-grey-1 d-flex align-items-center justify-content-center gap-2 mb-10">
                                 <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.7 10.2C1.2325 10.2 0.832431 10.0334 0.4998 9.7002C0.1666 9.36759 0 8.9675 0 8.5C0 8.0325 0.1666 7.63215 0.4998 7.29895C0.832431 6.96635 1.2325 6.8 1.7 6.8C2.1675 6.8 2.56757 6.96635 2.9002 7.29895C3.2334 7.63215 3.4 8.0325 3.4 8.5C3.4 8.9675 3.2334 9.36759 2.9002 9.7002C2.56757 10.0334 2.1675 10.2 1.7 10.2ZM3.1025 15.045L1.9125 13.855L5.61 10.1575L6.8 11.3475L3.1025 15.045ZM5.6525 6.8L1.955 3.1025L3.145 1.9125L6.8425 5.61L5.6525 6.8ZM8.5 17C8.0325 17 7.63241 16.8337 7.2998 16.5011C6.9666 16.1679 6.8 15.7675 6.8 15.3C6.8 14.8325 6.9666 14.4321 7.2998 14.099C7.63241 13.7663 8.0325 13.6 8.5 13.6C8.9675 13.6 9.36785 13.7663 9.70105 14.099C10.0337 14.4321 10.2 14.8325 10.2 15.3C10.2 15.7675 10.0337 16.1679 9.70105 16.5011C9.36785 16.8337 8.9675 17 8.5 17ZM8.5 3.4C8.0325 3.4 7.63241 3.2334 7.2998 2.9002C6.9666 2.56757 6.8 2.1675 6.8 1.7C6.8 1.2325 6.9666 0.83215 7.2998 0.49895C7.63241 0.166319 8.0325 0 8.5 0C8.9675 0 9.36785 0.166319 9.70105 0.49895C10.0337 0.83215 10.2 1.2325 10.2 1.7C10.2 2.1675 10.0337 2.56757 9.70105 2.9002C9.36785 3.2334 8.9675 3.4 8.5 3.4ZM11.3475 6.8425L10.1575 5.61L13.8975 1.9125L15.0875 3.1025L11.3475 6.8425ZM13.8975 15.045L10.2 11.3475L11.39 10.1575L15.0875 13.855L13.8975 15.045ZM15.3 10.2C14.8325 10.2 14.4321 10.0334 14.099 9.7002C13.7663 9.36759 13.6 8.9675 13.6 8.5C13.6 8.0325 13.7663 7.63215 14.099 7.29895C14.4321 6.96635 14.8325 6.8 15.3 6.8C15.7675 6.8 16.1679 6.96635 16.5011 7.29895C16.8337 7.63215 17 8.0325 17 8.5C17 8.9675 16.8337 9.36759 16.5011 9.7002C16.1679 10.0334 15.7675 10.2 15.3 10.2Z" fill="#1F3130" />
                                 </svg>
                                 Check our features
                              </span>
                              <h2 class="mb-25 fs-sm-30 text-anim"> We actually provide the premium features <span class="tp-text-grey-1 text-italic fw-400 tp-ff-heading">for workplace</span> </h2>
                           </div>
                        </div>
                     </div>
                     <div class="row gx-30">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-lg-6 col-md-6">
                           <div class="tp-service-item border-full-1 p-relative tp-round-4 mb-30 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration=".9s">
                              <div class="tp-service-shape p-absolute">
                                 <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 50H90V86C90 88.2091 88.2091 90 86 90H50V50Z" fill="white" />
                                    <path d="M20 20H46C48.2091 20 50 21.7909 50 24V50H24C21.7909 50 20 48.2091 20 46V20Z" fill="white" />
                                    <path d="M0 0H16C18.2091 0 20 1.79086 20 4V20H4C1.79086 20 0 18.2091 0 16V0Z" fill="white" />
                                 </svg>
                              </div>
                              <div class="tp-service-thumb anim-zoomin-wrap  p-relative mb-35 tp-round-4 fix">
                                 <div class="anim-zoomin fix">
                                    <img class="tp-round-4 w-100" src="assets/img/service/thumb.jpg" alt="">
                                 </div>
                                 <span class="tp-service-icon p-absolute">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M21.7707 0C9.73877 0 0 9.73713 0 21.7707C0 22.4186 0.525157 22.9437 1.17297 22.9437H21.7707C22.4186 22.9437 22.9437 22.4186 22.9437 21.7707V1.17297C22.9437 0.525157 22.4186 0 21.7707 0Z" fill="white" />
                                       <path d="M13.4255 26.335C13.2197 25.9592 12.8253 25.7256 12.3968 25.7256H5.45978C5.08642 25.7256 4.73525 25.9033 4.51431 26.2044C4.29329 26.5055 4.22892 26.8936 4.34072 27.2499C6.55002 34.2865 12.9224 39.5181 20.5978 40.0001V31.2079C17.5873 30.8343 14.9067 29.0392 13.4255 26.335Z" fill="white" />
                                       <path d="M27.2498 4.34089C26.8937 4.22917 26.5053 4.29363 26.2044 4.51449C25.9033 4.7355 25.7255 5.0866 25.7255 5.46003V12.397C25.7255 12.8254 25.9592 13.2197 26.3349 13.4256C29.039 14.907 30.8341 17.5875 31.2077 20.5979H40C39.5169 12.9058 34.2698 6.54504 27.2498 4.34089Z" fill="white" />
                                       <path d="M31.2092 22.9436C30.6771 27.252 27.2522 30.677 22.9437 31.2091V39.9991C32.0963 39.423 39.4223 32.1087 39.9991 22.9436H31.2092Z" fill="white" />
                                    </svg>
                                 </span>
                              </div>
                              <div class="tp-service-content">
                                 <h3 class="mb-15"><a class="underline-black" href="#">Emergency Alert System</a></h3>
                                 <p class="mb-40">Instantly notify everyone with critical updates during any crisis.</p>
                                 <h5 class="fs-16 fw-500 mb-10">Features</h5>
                                 <span class="tp-border-bottom d-block mb-20"></span>
                                 <ul>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> SOS via app button, voice command (“Help Help Help”), lock screen, and screen taps
</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Sends real-time alert to security & volunteers</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Shares employee’s live location & emergency health info</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                           <div class="tp-service-item border-full-1 p-relative tp-round-4 mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".9s">
                              <div class="tp-service-shape p-absolute">
                                 <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 50H90V86C90 88.2091 88.2091 90 86 90H50V50Z" fill="white" />
                                    <path d="M20 20H46C48.2091 20 50 21.7909 50 24V50H24C21.7909 50 20 48.2091 20 46V20Z" fill="white" />
                                    <path d="M0 0H16C18.2091 0 20 1.79086 20 4V20H4C1.79086 20 0 18.2091 0 16V0Z" fill="white" />
                                 </svg>
                              </div>
                              <div class="tp-service-thumb anim-zoomin-wrap p-relative mb-35 tp-round-4 fix">
                                 <div class="anim-zoomin fix">
                                    <img class="tp-round-4 w-100" src="assets/img/service/thumb-2.jpg" alt="">
                                 </div>
                                 <span class="tp-service-icon p-absolute">
                                    <svg width="36" height="40" viewBox="0 0 36 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M34.1355 16.6077L18.5348 1.00475C17.6148 0.0869379 16.1264 0.0977973 15.2184 1.00358C14.3051 1.91913 14.3051 3.4057 15.2184 4.32007L30.8213 19.9219C31.7353 20.836 33.2214 20.836 34.1355 19.9219C35.0521 19.0053 35.0521 17.5241 34.1355 16.6077Z" fill="white" />
                                       <path d="M14.0609 6.47705L13.9434 7.06565C13.1163 11.203 11.1062 15.1336 8.38733 18.3193L16.8754 26.8073C20.0607 24.089 23.9371 22.0249 28.0746 21.1968L28.6643 21.0793L14.0609 6.47705Z" fill="white" />
                                       <path d="M6.8312 20.0774L1.03017 25.8772C-0.340537 27.248 -0.34624 29.4733 1.03017 30.8497L4.3444 34.1639C5.7151 35.5346 7.94042 35.5402 9.31683 34.1639L15.1173 28.3634L6.8312 20.0774ZM7.65979 29.1926C7.20206 29.6504 6.46042 29.6504 6.00268 29.1926C5.54495 28.7349 5.54495 27.9933 6.00268 27.5355L7.65979 25.8784C8.11753 25.4207 8.85917 25.4207 9.31691 25.8784C9.77464 26.3362 9.77464 27.0778 9.31691 27.5355L7.65979 29.1926Z" fill="white" />
                                       <path d="M20.0103 34.7874L21.6044 33.1932C22.9809 31.817 22.9764 29.5916 21.6045 28.222L20.4204 27.0371C19.766 27.4767 19.141 27.9544 18.5333 28.4641L19.9474 29.8802C20.404 30.3345 20.4072 31.0739 19.9474 31.5362L18.3269 33.1567L15.9455 30.8494L12.6311 34.1638L17.9481 39.3159C18.8554 40.2256 20.3452 40.2307 21.2611 39.3147C22.1755 38.4003 22.1755 36.9138 21.2611 35.9993L20.0103 34.7874Z" fill="white" />
                                       <path d="M24.7444 0C24.0967 0 23.5725 0.524142 23.5725 1.17188V3.51563C23.5725 4.16337 24.0967 4.68751 24.7444 4.68751C25.3921 4.68751 25.9163 4.16337 25.9163 3.51563V1.17188C25.9163 0.524142 25.3921 0 24.7444 0Z" fill="white" />
                                       <path d="M34.1195 9.375H31.7758C31.128 9.375 30.6039 9.89914 30.6039 10.5469C30.6039 11.1946 31.128 11.7188 31.7758 11.7188H34.1195C34.7673 11.7188 35.2914 11.1946 35.2914 10.5469C35.2914 9.89914 34.7673 9.375 34.1195 9.375Z" fill="white" />
                                       <path d="M32.6042 2.68705C32.1464 2.22932 31.4048 2.22932 30.9471 2.68705L28.6033 5.03081C28.1456 5.48854 28.1456 6.23018 28.6033 6.68792C29.061 7.14566 29.8027 7.14573 30.2604 6.68792L32.6042 4.34416C33.0619 3.88643 33.0619 3.14479 32.6042 2.68705Z" fill="white" />
                                    </svg>
                                 </span>
                              </div>
                              <div class="tp-service-content">
                                 <h3 class="mb-15"><a class="underline-black" href="3">Drill Management</a></h3>
                                 <p class="mb-40">Plan, conduct, and analyze safety drills to ensure readiness for any emergency.</p>
                                 <h5 class="fs-16 fw-500 mb-10">Features</h5>
                                 <span class="tp-border-bottom d-block mb-20"></span>
                                 <ul>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Disaster team can launch drills with a click</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Alarm sent to employee phones</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Report participation & preparedness score</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                           <div class="tp-service-item border-full-1 p-relative tp-round-4 mb-30 wow fadeInRight" data-wow-delay=".3s" data-wow-duration=".9s">
                              <div class="tp-service-shape p-absolute">
                                 <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 50H90V86C90 88.2091 88.2091 90 86 90H50V50Z" fill="white" />
                                    <path d="M20 20H46C48.2091 20 50 21.7909 50 24V50H24C21.7909 50 20 48.2091 20 46V20Z" fill="white" />
                                    <path d="M0 0H16C18.2091 0 20 1.79086 20 4V20H4C1.79086 20 0 18.2091 0 16V0Z" fill="white" />
                                 </svg>
                              </div>
                              <div class="tp-service-thumb anim-zoomin-wrap p-relative mb-35 tp-round-4 fix">
                                 <div class="anim-zoomin fix">
                                    <img class="tp-round-4 w-100" src="assets/img/service/thumb-3.jpg" alt="">
                                 </div>
                                 <span class="tp-service-icon p-absolute">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M19.9993 0.00136655C8.96189 0.00136655 0 8.96325 0 20.0007C0 31.0381 8.96189 40 19.9993 40C31.0367 40 39.9986 31.0381 39.9986 20.0007C39.9986 16.9329 39.3045 14.0259 38.0677 11.4267L36.0821 13.4123C35.7072 13.7894 35.1959 14.002 34.6642 14.0021H34.1121C34.898 15.8454 35.3334 17.8724 35.3334 20.0007C35.3334 28.4609 28.4595 35.3347 19.9993 35.3347C11.5391 35.3347 4.66521 28.4609 4.66521 20.0007C4.66521 11.5405 11.5391 4.66648 19.9993 4.66648C22.128 4.66648 24.1555 5.1017 25.9991 5.88784V5.33575C25.9992 4.80402 26.2119 4.29281 26.5889 3.91786L28.5732 1.93228C25.974 0.69551 23.067 0.00136655 19.9993 0.00136655ZM32.6473 0.00136655C32.4767 0.00645421 32.3145 0.0767255 32.1942 0.197826L27.529 4.86302C27.4667 4.92497 27.4173 4.99867 27.3835 5.07978C27.3498 5.16089 27.3324 5.24783 27.3324 5.33568V9.72752L18.5293 18.5306C17.7223 19.3376 17.7223 20.6675 18.5293 21.4745C19.3363 22.2815 20.6623 22.2775 21.4693 21.4694L30.2711 12.6676H34.6642C34.752 12.6676 34.839 12.6503 34.9201 12.6166C35.0012 12.5829 35.0749 12.5335 35.1368 12.4712L39.802 7.80591C39.8948 7.71252 39.9579 7.59378 39.9833 7.46459C40.0087 7.33539 39.9953 7.20155 39.9448 7.07997C39.8942 6.9584 39.8088 6.8545 39.6993 6.7814C39.5898 6.7083 39.4611 6.66926 39.3294 6.66922H36.2696L36.8008 6.13804C37.6078 5.33107 37.6117 4.00498 36.8049 3.198C36.4014 2.79451 35.8665 2.59255 35.3323 2.59255C34.798 2.59255 34.2644 2.79461 33.861 3.198L33.331 3.72794V0.664253C33.3307 0.575487 33.3126 0.48767 33.2779 0.405973C33.2432 0.324275 33.1925 0.250373 33.1288 0.188522C33.0652 0.126671 32.9898 0.0781414 32.9071 0.0458102C32.8245 0.0134789 32.7361 -0.000878684 32.6473 0.00136655ZM19.9993 9.33176C14.1164 9.33176 9.33041 14.1177 9.33041 20.0007C9.33041 25.8836 14.1164 30.6644 19.9993 30.6644C25.8823 30.6644 30.663 25.8836 30.663 20.0007C30.663 18.3034 30.256 16.7029 29.5485 15.2768L25.8962 18.929C25.9595 19.2773 25.9978 19.6345 25.9978 20.0007C25.9978 23.3064 23.305 25.9991 19.9993 25.9991C16.6936 25.9991 14.0008 23.3064 14.0008 20.0007C14.0008 16.695 16.6936 14.0021 19.9993 14.0021C20.3655 14.0021 20.7226 14.0404 21.0709 14.1037L24.7244 10.4502C23.2983 9.74119 21.6977 9.33176 19.9993 9.33176Z" fill="white" />
                                    </svg>
                                 </span>
                              </div>
                              <div class="tp-service-content">
                                 <h3 class="mb-15"><a class="underline-black" href="#">Employee Safety Data</a></h3>
                                 <p class="mb-40">Centrally manage vital employee details and assign safety personnel for targeted emergency response.</p>
                                 <h5 class="fs-16 fw-500 mb-10">Features</h5>
                                 <span class="tp-border-bottom d-block mb-20"></span>
                                 <ul>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Admin can manage employee contact info, blood group, emergency contacts</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Optional fields: age, gender</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Assign guards and volunteers per location</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-lg-6 col-md-6">
                           <div class="tp-service-item border-full-1 p-relative tp-round-4 mb-30 wow fadeInLeft" data-wow-delay=".3s" data-wow-duration=".9s">
                              <div class="tp-service-shape p-absolute">
                                 <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 50H90V86C90 88.2091 88.2091 90 86 90H50V50Z" fill="white" />
                                    <path d="M20 20H46C48.2091 20 50 21.7909 50 24V50H24C21.7909 50 20 48.2091 20 46V20Z" fill="white" />
                                    <path d="M0 0H16C18.2091 0 20 1.79086 20 4V20H4C1.79086 20 0 18.2091 0 16V0Z" fill="white" />
                                 </svg>
                              </div>
                              <div class="tp-service-thumb anim-zoomin-wrap  p-relative mb-35 tp-round-4 fix">
                                 <div class="anim-zoomin fix">
                                    <img class="tp-round-4 w-100" src="assets/img/service/thumb.jpg" alt="">
                                 </div>
                                 <span class="tp-service-icon p-absolute">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M21.7707 0C9.73877 0 0 9.73713 0 21.7707C0 22.4186 0.525157 22.9437 1.17297 22.9437H21.7707C22.4186 22.9437 22.9437 22.4186 22.9437 21.7707V1.17297C22.9437 0.525157 22.4186 0 21.7707 0Z" fill="white" />
                                       <path d="M13.4255 26.335C13.2197 25.9592 12.8253 25.7256 12.3968 25.7256H5.45978C5.08642 25.7256 4.73525 25.9033 4.51431 26.2044C4.29329 26.5055 4.22892 26.8936 4.34072 27.2499C6.55002 34.2865 12.9224 39.5181 20.5978 40.0001V31.2079C17.5873 30.8343 14.9067 29.0392 13.4255 26.335Z" fill="white" />
                                       <path d="M27.2498 4.34089C26.8937 4.22917 26.5053 4.29363 26.2044 4.51449C25.9033 4.7355 25.7255 5.0866 25.7255 5.46003V12.397C25.7255 12.8254 25.9592 13.2197 26.3349 13.4256C29.039 14.907 30.8341 17.5875 31.2077 20.5979H40C39.5169 12.9058 34.2698 6.54504 27.2498 4.34089Z" fill="white" />
                                       <path d="M31.2092 22.9436C30.6771 27.252 27.2522 30.677 22.9437 31.2091V39.9991C32.0963 39.423 39.4223 32.1087 39.9991 22.9436H31.2092Z" fill="white" />
                                    </svg>
                                 </span>
                              </div>
                              <div class="tp-service-content">
                                 <h3 class="mb-15"><a class="underline-black" href="#">Contact Directory</a></h3>
                                 <p class="mb-40">Access an organized directory of all essential contacts for quick communication during any situation.</p>
                                 <h5 class="fs-16 fw-500 mb-10">Features</h5>
                                 <span class="tp-border-bottom d-block mb-20"></span>
                                 <ul>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Company-level emergency contact list

</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Local police, fire, hospital contacts auto-fetched via geolocation</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                           <div class="tp-service-item border-full-1 p-relative tp-round-4 mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration=".9s">
                              <div class="tp-service-shape p-absolute">
                                 <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 50H90V86C90 88.2091 88.2091 90 86 90H50V50Z" fill="white" />
                                    <path d="M20 20H46C48.2091 20 50 21.7909 50 24V50H24C21.7909 50 20 48.2091 20 46V20Z" fill="white" />
                                    <path d="M0 0H16C18.2091 0 20 1.79086 20 4V20H4C1.79086 20 0 18.2091 0 16V0Z" fill="white" />
                                 </svg>
                              </div>
                              <div class="tp-service-thumb anim-zoomin-wrap p-relative mb-35 tp-round-4 fix">
                                 <div class="anim-zoomin fix">
                                    <img class="tp-round-4 w-100" src="assets/img/service/thumb-2.jpg" alt="">
                                 </div>
                                 <span class="tp-service-icon p-absolute">
                                    <svg width="36" height="40" viewBox="0 0 36 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M34.1355 16.6077L18.5348 1.00475C17.6148 0.0869379 16.1264 0.0977973 15.2184 1.00358C14.3051 1.91913 14.3051 3.4057 15.2184 4.32007L30.8213 19.9219C31.7353 20.836 33.2214 20.836 34.1355 19.9219C35.0521 19.0053 35.0521 17.5241 34.1355 16.6077Z" fill="white" />
                                       <path d="M14.0609 6.47705L13.9434 7.06565C13.1163 11.203 11.1062 15.1336 8.38733 18.3193L16.8754 26.8073C20.0607 24.089 23.9371 22.0249 28.0746 21.1968L28.6643 21.0793L14.0609 6.47705Z" fill="white" />
                                       <path d="M6.8312 20.0774L1.03017 25.8772C-0.340537 27.248 -0.34624 29.4733 1.03017 30.8497L4.3444 34.1639C5.7151 35.5346 7.94042 35.5402 9.31683 34.1639L15.1173 28.3634L6.8312 20.0774ZM7.65979 29.1926C7.20206 29.6504 6.46042 29.6504 6.00268 29.1926C5.54495 28.7349 5.54495 27.9933 6.00268 27.5355L7.65979 25.8784C8.11753 25.4207 8.85917 25.4207 9.31691 25.8784C9.77464 26.3362 9.77464 27.0778 9.31691 27.5355L7.65979 29.1926Z" fill="white" />
                                       <path d="M20.0103 34.7874L21.6044 33.1932C22.9809 31.817 22.9764 29.5916 21.6045 28.222L20.4204 27.0371C19.766 27.4767 19.141 27.9544 18.5333 28.4641L19.9474 29.8802C20.404 30.3345 20.4072 31.0739 19.9474 31.5362L18.3269 33.1567L15.9455 30.8494L12.6311 34.1638L17.9481 39.3159C18.8554 40.2256 20.3452 40.2307 21.2611 39.3147C22.1755 38.4003 22.1755 36.9138 21.2611 35.9993L20.0103 34.7874Z" fill="white" />
                                       <path d="M24.7444 0C24.0967 0 23.5725 0.524142 23.5725 1.17188V3.51563C23.5725 4.16337 24.0967 4.68751 24.7444 4.68751C25.3921 4.68751 25.9163 4.16337 25.9163 3.51563V1.17188C25.9163 0.524142 25.3921 0 24.7444 0Z" fill="white" />
                                       <path d="M34.1195 9.375H31.7758C31.128 9.375 30.6039 9.89914 30.6039 10.5469C30.6039 11.1946 31.128 11.7188 31.7758 11.7188H34.1195C34.7673 11.7188 35.2914 11.1946 35.2914 10.5469C35.2914 9.89914 34.7673 9.375 34.1195 9.375Z" fill="white" />
                                       <path d="M32.6042 2.68705C32.1464 2.22932 31.4048 2.22932 30.9471 2.68705L28.6033 5.03081C28.1456 5.48854 28.1456 6.23018 28.6033 6.68792C29.061 7.14566 29.8027 7.14573 30.2604 6.68792L32.6042 4.34416C33.0619 3.88643 33.0619 3.14479 32.6042 2.68705Z" fill="white" />
                                    </svg>
                                 </span>
                              </div>
                              <div class="tp-service-content">
                                 <h3 class="mb-15"><a class="underline-black" href="3">Training & Education
</a></h3>
                                 <p class="mb-40">Plan, conduct, and analyze safety drills to ensure readiness for any emergency.</p>
                                 <h5 class="fs-16 fw-500 mb-10">Features</h5>
                                 <span class="tp-border-bottom d-block mb-20"></span>
                                 <ul>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Self-defense classes</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> CPR & emergency care</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Live sessions with thought leaders</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Webinars and certification add-ons</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                           <div class="tp-service-item border-full-1 p-relative tp-round-4 mb-30 wow fadeInRight" data-wow-delay=".3s" data-wow-duration=".9s">
                              <div class="tp-service-shape p-absolute">
                                 <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 50H90V86C90 88.2091 88.2091 90 86 90H50V50Z" fill="white" />
                                    <path d="M20 20H46C48.2091 20 50 21.7909 50 24V50H24C21.7909 50 20 48.2091 20 46V20Z" fill="white" />
                                    <path d="M0 0H16C18.2091 0 20 1.79086 20 4V20H4C1.79086 20 0 18.2091 0 16V0Z" fill="white" />
                                 </svg>
                              </div>
                              <div class="tp-service-thumb anim-zoomin-wrap p-relative mb-35 tp-round-4 fix">
                                 <div class="anim-zoomin fix">
                                    <img class="tp-round-4 w-100" src="assets/img/service/thumb-3.jpg" alt="">
                                 </div>
                                 <span class="tp-service-icon p-absolute">
                                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M19.9993 0.00136655C8.96189 0.00136655 0 8.96325 0 20.0007C0 31.0381 8.96189 40 19.9993 40C31.0367 40 39.9986 31.0381 39.9986 20.0007C39.9986 16.9329 39.3045 14.0259 38.0677 11.4267L36.0821 13.4123C35.7072 13.7894 35.1959 14.002 34.6642 14.0021H34.1121C34.898 15.8454 35.3334 17.8724 35.3334 20.0007C35.3334 28.4609 28.4595 35.3347 19.9993 35.3347C11.5391 35.3347 4.66521 28.4609 4.66521 20.0007C4.66521 11.5405 11.5391 4.66648 19.9993 4.66648C22.128 4.66648 24.1555 5.1017 25.9991 5.88784V5.33575C25.9992 4.80402 26.2119 4.29281 26.5889 3.91786L28.5732 1.93228C25.974 0.69551 23.067 0.00136655 19.9993 0.00136655ZM32.6473 0.00136655C32.4767 0.00645421 32.3145 0.0767255 32.1942 0.197826L27.529 4.86302C27.4667 4.92497 27.4173 4.99867 27.3835 5.07978C27.3498 5.16089 27.3324 5.24783 27.3324 5.33568V9.72752L18.5293 18.5306C17.7223 19.3376 17.7223 20.6675 18.5293 21.4745C19.3363 22.2815 20.6623 22.2775 21.4693 21.4694L30.2711 12.6676H34.6642C34.752 12.6676 34.839 12.6503 34.9201 12.6166C35.0012 12.5829 35.0749 12.5335 35.1368 12.4712L39.802 7.80591C39.8948 7.71252 39.9579 7.59378 39.9833 7.46459C40.0087 7.33539 39.9953 7.20155 39.9448 7.07997C39.8942 6.9584 39.8088 6.8545 39.6993 6.7814C39.5898 6.7083 39.4611 6.66926 39.3294 6.66922H36.2696L36.8008 6.13804C37.6078 5.33107 37.6117 4.00498 36.8049 3.198C36.4014 2.79451 35.8665 2.59255 35.3323 2.59255C34.798 2.59255 34.2644 2.79461 33.861 3.198L33.331 3.72794V0.664253C33.3307 0.575487 33.3126 0.48767 33.2779 0.405973C33.2432 0.324275 33.1925 0.250373 33.1288 0.188522C33.0652 0.126671 32.9898 0.0781414 32.9071 0.0458102C32.8245 0.0134789 32.7361 -0.000878684 32.6473 0.00136655ZM19.9993 9.33176C14.1164 9.33176 9.33041 14.1177 9.33041 20.0007C9.33041 25.8836 14.1164 30.6644 19.9993 30.6644C25.8823 30.6644 30.663 25.8836 30.663 20.0007C30.663 18.3034 30.256 16.7029 29.5485 15.2768L25.8962 18.929C25.9595 19.2773 25.9978 19.6345 25.9978 20.0007C25.9978 23.3064 23.305 25.9991 19.9993 25.9991C16.6936 25.9991 14.0008 23.3064 14.0008 20.0007C14.0008 16.695 16.6936 14.0021 19.9993 14.0021C20.3655 14.0021 20.7226 14.0404 21.0709 14.1037L24.7244 10.4502C23.2983 9.74119 21.6977 9.33176 19.9993 9.33176Z" fill="white" />
                                    </svg>
                                 </span>
                              </div>
                              <div class="tp-service-content">
                                 <h3 class="mb-15"><a class="underline-black" href="#">Certification Program</a></h3>
                                 <p class="mb-40">Centrally manage vital employee details and assign safety personnel for targeted emergency response.</p>
                                 <h5 class="fs-16 fw-500 mb-10">Features</h5>
                                 <span class="tp-border-bottom d-block mb-20"></span>
                                 <ul>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Annual safety survey</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Companies scoring &lt;70% receive “Secure Place to Work” Certificate</li>
                                    <li><i class="fa-sharp fa-solid fa-check"></i> Full SOP guidance for non-certified companies to improve</li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- tp-service-area-end -->