<!-- tp-blog-area-start -->
<div class="tp-blog-area pt-140 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="tp-blog-item anim-zoomin-wrap mb-40">
          <div class="tp-blog-thumb fix mb-25 tp-round-4 p-relative">
            <div class="anim-zoomin fix">
              <img
                class="w-100 thumbs tp-round-4"
                src="assets/img/blog/thumb-1.jpg"
                alt=""
              />
            </div>
            <div class="tp-blog-cetagory-wrap p-absolute">
              <span
                class="tp-blog-cetagory tp-bg-theme-primary fs-14 fw-500 tp-text-common-white d-inline-block mr-5"
                >Finance</span
              >
              <span
                class="tp-blog-cetagory tp-bg-theme-primary fs-14 fw-500 tp-text-common-white d-inline-block"
                >Marketing</span
              >
            </div>
            <div class="tp-blog-author-wrap">
              <div class="tp-blog-author d-flex gap-2 align-items-center">
                <img
                  class="rounded-circle"
                  src="assets/img/blog/avatar.jpg"
                  alt=""
                />
                <span class="fw-500 tp-text-common-white">Floyd Miles</span>
              </div>
              <div class="tp-blog-date d-inline-block text-center tp-round-4">
                <h6 class="fs-24 tp-text-common-white mb-0 lh-1">22</h6>
                <span class="tp-text-common-white">Jan</span>
              </div>
            </div>
          </div>
          <div class="tp-blog-content">
            <h3 class="fw-500 fs-24 lh-34">
              <a class="underline-black" href="blog-details.html"
                >Making innovative strategies for the outstanding future results</a
              >
            </h3>
            <div class="tp-border-bottom mt-15 mb-20"></div>
            <p class="mb-20">
              Visibility is a strengthening factor client relationships. But
              figuring out the best way to offer it to your
            </p>
            <a
              href="blog-details.html"
              class="tp-btn-border d-inline-block lh-0 tp-round-36 fs-16 border-full-1 ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500"
            >
              <span class="d-flex align-items-center justify-content-center">
                <span class="btn-text">Read continually</span>
                <!-- <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                >
                <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                > -->
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="tp-blog-item anim-zoomin-wrap mb-40">
          <div class="tp-blog-thumb fix mb-25 tp-round-4 p-relative">
            <div class="anim-zoomin fix">
              <img
                class="w-100 thumbs tp-round-4"
                src="assets/img/blog/thumb-2.jpg"
                alt=""
              />
            </div>
            <div class="tp-blog-cetagory-wrap p-absolute">
              <span
                class="tp-blog-cetagory tp-bg-theme-primary fs-14 fw-500 tp-text-common-white d-inline-block mr-5"
                >Finance</span
              >
              <span
                class="tp-blog-cetagory tp-bg-theme-primary fs-14 fw-500 tp-text-common-white d-inline-block"
                >Marketing</span
              >
            </div>
            <div class="tp-blog-author-wrap">
              <div class="tp-blog-author d-flex gap-2 align-items-center">
                <img
                  class="rounded-circle"
                  src="assets/img/blog/avatar-2.jpg"
                  alt=""
                />
                <span class="fw-500 tp-text-common-white">Floyd Miles</span>
              </div>
              <div class="tp-blog-date d-inline-block text-center tp-round-4">
                <h6 class="fs-24 tp-text-common-white mb-0 lh-1">22</h6>
                <span class="tp-text-common-white">Jan</span>
              </div>
            </div>
          </div>
          <div class="tp-blog-content">
            <h3 class="fw-500 fs-24 lh-34">
              <a class="underline-black" href="blog-details.html"
                >Our business thrives to contribute global initiatives</a
              >
            </h3>
            <div class="tp-border-bottom mt-15 mb-20"></div>
            <p class="mb-20">
              Visibility is a strengthening factor client relationships. But
              figuring out the best way to offer it to your
            </p>
            <a
              href="blog-details.html"
              class="tp-btn-border d-inline-block lh-0 tp-round-36 fs-16 border-full-1 ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500"
            >
              <span class="d-flex align-items-center justify-content-center">
                <span class="btn-text">Read continually</span>
                <!-- <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                >
                <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                > -->
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="tp-blog-item anim-zoomin-wrap mb-40">
          <div class="tp-blog-thumb fix mb-25 tp-round-4 p-relative">
            <div class="anim-zoomin fix">
              <img
                class="w-100 thumbs tp-round-4"
                src="assets/img/blog/thumb-3.jpg"
                alt=""
              />
            </div>
            <div class="tp-blog-cetagory-wrap p-absolute">
              <span
                class="tp-blog-cetagory tp-bg-theme-primary fs-14 fw-500 tp-text-common-white d-inline-block mr-5"
                >Finance</span
              >
              <span
                class="tp-blog-cetagory tp-bg-theme-primary fs-14 fw-500 tp-text-common-white d-inline-block"
                >Marketing</span
              >
            </div>
            <div class="tp-blog-author-wrap">
              <div class="tp-blog-author d-flex gap-2 align-items-center">
                <img
                  class="rounded-circle"
                  src="assets/img/blog/avatar-3.jpg"
                  alt=""
                />
                <span class="fw-500 tp-text-common-white">Floyd Miles</span>
              </div>
              <div class="tp-blog-date d-inline-block text-center tp-round-4">
                <h6 class="fs-24 tp-text-common-white mb-0 lh-1">22</h6>
                <span class="tp-text-common-white">Jan</span>
              </div>
            </div>
            <div class="tp-blog-video p-absolute">
              <a
                class="tp-about-bottom-video-btn popup-video"
                href="https://www.youtube.com/watch?v=go7QYaQR494"
              >
                <span>
                  <svg
                    width="14"
                    height="16"
                    viewBox="0 0 14 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.5 8.86603C14.1667 8.48113 14.1667 7.51887 13.5 7.13397L1.5 0.205772C0.833333 -0.179129 -1.01328e-06 0.301995 -1.01328e-06 1.0718L-1.01328e-06 14.9282C-1.01328e-06 15.698 0.833332 16.1791 1.5 15.7942L13.5 8.86603Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="tp-blog-content">
            <h3 class="fw-500 fs-24 lh-34">
              <a class="underline-black" href="blog-details.html"
                >Discover a better way of redefining company goals</a
              >
            </h3>
            <div class="tp-border-bottom mt-15 mb-20"></div>
            <p class="mb-20">
              Visibility is a strengthening factor client relationships. But
              figuring out the best way to offer it to your
            </p>
            <a
              href="blog-details.html"
              class="tp-btn-border d-inline-block lh-0 tp-round-36 fs-16 border-full-1 ls-0 tp-btn-switch-animation tp-text-theme-primary fw-500"
            >
              <span class="d-flex align-items-center justify-content-center">
                <span class="btn-text">Read continually</span>
                <!-- <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                >
                <span class="btn-icon"
                  ><i class="fa-sharp fa-regular fa-arrow-right"></i></span
                > -->
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- tp-blog-area-end -->
